NALA_ADF 2025-04-18/pipeline/pp_ax_inventjournaltrans_to_fact_inventory_journal.json
{
	"name": "pp_ax_inventjournaltrans_to_fact_inventory_journal",
	"properties": {
		"activities": [
			{
				"name": "lkp_raw_last_modified_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "@concat('select max(to_varchar(LATEST_MODIFIEDDATETIME::timestamp, ''','yyyy-mm-dd hh24:mi:ss',''')) as max_date from ',pipeline().globalParameters.environment,'_',pipeline().globalParameters.snow_rawDb,'.',pipeline().parameters.p_tgt_raw_schema_nm, '.', pipeline().parameters.p_tgt_raw_table_nm)",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "ds_snowflake",
						"type": "DatasetReference",
						"parameters": {
							"p_tgt_table_name": {
								"value": "@pipeline().parameters.p_tgt_raw_table_nm",
								"type": "Expression"
							},
							"p_tgt_schema_name": {
								"value": "@pipeline().parameters.p_tgt_raw_schema_nm",
								"type": "Expression"
							},
							"p_ls_DbName": {
								"value": "@pipeline().globalParameters.snow_rawDb",
								"type": "Expression"
							},
							"p_ls_Env": {
								"value": "@pipeline().globalParameters.environment",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "set_last_modified_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkp_raw_last_modified_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_prv_max_upd_timestamp",
					"value": {
						"value": "@coalesce(activity('lkp_raw_last_modified_date').output.firstRow.max_date, '1950-01-01 00:00:00')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "raw_to_curate_sp_call",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "switch_nala",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_DbName": {
							"value": "@pipeline().globalParameters.snow_auditDb",
							"type": "Expression"
						},
						"ls_Env": {
							"value": "@pipeline().globalParameters.environment",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('CALL ',pipeline().globalParameters.environment,'_',pipeline().globalParameters.snow_auditDb,'.CONTROL.SP_TASK_INITIALIZE(','''',pipeline().RunId,'''',',','''',pipeline().globalParameters.environment,'''',',','''',pipeline().parameters.p_tgt_curate_table_nm,'''',',',pipeline().parameters.p_src_code,')')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "stored_procedure_failure_notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "raw_to_curate_sp_call",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pp_adf_pipeline_notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.subscriptionId",
							"type": "Expression"
						},
						"resourceGroup": {
							"value": "@pipeline().globalParameters.resourceGroup",
							"type": "Expression"
						},
						"runId": {
							"value": "@coalesce(pipeline().RunId,-1)",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('raw_to_curate_sp_call').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@activity('raw_to_curate_sp_call').Error['message']",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('raw_to_curate_sp_call').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('raw_to_curate_sp_call').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.teamsWebhookUrl",
							"type": "Expression"
						},
						"notificationTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"taskName": {
							"value": "@pipeline().parameters.p_tgt_curate_table_nm",
							"type": "Expression"
						},
						"taskStepNumber": {
							"value": "@pipeline().parameters.p_src_code",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "switch_nala",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "set_last_modified_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.p_src_code",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "1",
							"activities": [
								{
									"name": "sql_nala_to_raw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"additionalColumns": [
												{
													"name": "HK_SOURCE_NAME",
													"value": {
														"value": "@pipeline().parameters.p_src_nm",
														"type": "Expression"
													}
												},
												{
													"name": "HK_JOB_RUN_ID",
													"value": {
														"value": "@coalesce(pipeline().RunId,-1)",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "select\n    ijt1.DATAAREAID as DATAAREAID,\n    ijt1.JOURNALID as JOURNALID,\n    ijt1.LINENUM as LINENUM,\n    ijt1.DEFAULTDIMENSION as DEFAULTDIMENSION,\n    ijt1.VOUCHER as VOUCHER,\n    ijt1.QTY as QTY,\n    ijt1.COUNTED as COUNTED,\n    ijt1.INVENTONHAND as INVENTONHAND,\n    ijt1.COSTAMOUNT as COSTAMOUNT,\n    ijt1.COSTPRICE as COSTPRICE,\n    ijt1.PRICEUNIT as PRICEUNIT,\n    ijt1.INVENTDIMID as INVENTDIMID,\n    ijt1.ITEMID as ITEMID,\n    ijt1.LEDGERDIMENSION as LEDGERDIMENSION,\n    ijt1.TOINVENTDIMID as TOINVENTDIMID,\n    ijt1.TRANSDATE as TRANSDATE,\n    ijt1.MODIFIEDDATETIME as INVENTJOURNALTRANS_MODIFIEDDATETIME,\n    ij1.POSTEDDATETIME as POSTEDDATETIME,\n    ij1.JOURNALNAMEID as JOURNALNAMEID,\n    ijt1.JOURNALTYPE as JOURNALTYPE,\n    ij1.POSTED as POSTED,\n    ij1.SYSTEMBLOCKED as SYSTEMBLOCKED,\n    ij1.POSTEDUSERID as POSTEDUSERID,\n    ij1.POSTEDDATETIMETZID as POSTEDDATETIMETZID,\n    ij1.MODIFIEDDATETIME as INVENTJOURNALTABLE_MODIFIEDDATETIME,\n    tzi1.TIMEBIAS as TIMEBIAS,\n    it1.DROPSHIPMENT as DROPSHIPMENT,\n    it1.MODIFIEDDATETIME as INVENTTABLE_MODIFIEDDATETIME,\n    tet1.ENUMVALUELABEL as JOURNALTYPEDESCRIPTION,\n    tet2.ENUMVALUELABEL as ISINVENTORYJOURNALPOSTED,\n    tet3.ENUMVALUELABEL as ISINVENTORYJOURNALBLOCKED,\n    (\n        select\n            max(LASTUPDATEDATE)\n        from\n            (\n                values\n                    (ijt1.MODIFIEDDATETIME),\n                    (isnull (ij1.MODIFIEDDATETIME, '1950-01-01')),\n\t\t\t\t\t(isnull (it1.MODIFIEDDATETIME, '1950-01-01'))\n            ) as UpdateDate (LASTUPDATEDATE)\n    ) as LATEST_MODIFIEDDATETIME\nfrom\n    dbo.INVENTJOURNALTRANS ijt1\n    left join dbo.INVENTJOURNALTABLE ij1 on ijt1.JOURNALID = ij1.JOURNALID\n    and ijt1.DATAAREAID = ij1.DATAAREAID\n    left join (\n        select\n            it1.RECID,\n            it1.DATAAREAID,\n            it1.ITEMID,\n            mit1.DROPSHIPMENT,\n\t\t\tit1.MODIFIEDDATETIME\n        from\n            dbo.INVENTTABLE it1\n            left join dbo.MCRINVENTTABLE mit1 on it1.RECID = mit1.RECID\n    ) it1 on ijt1.ITEMID = it1.ITEMID\n    and ijt1.DATAAREAID = it1.DATAAREAID\n    left join (\n        select\n            ENUMNAME,\n            ENUMVALUE,\n            max(ENUMVALUELABEL) as ENUMVALUELABEL\n        from\n            dbo.TIMEXTENDERENUMTABLE\n        where\n            ENUMNAME = 'InventJournalType'\n        group by\n            ENUMNAME,\n            ENUMVALUE\n    ) tet1 on ij1.JOURNALTYPE = tet1.ENUMVALUE --JournalTypeDescription\n    left join (\n        select\n            ENUMNAME,\n            ENUMVALUE,\n            max(ENUMVALUELABEL) as ENUMVALUELABEL\n        from\n            dbo.TIMEXTENDERENUMTABLE\n        where\n            ENUMNAME = 'NoYes'\n        group by\n            ENUMNAME,\n            ENUMVALUE\n    ) tet2 on ij1.POSTED = tet2.ENUMVALUE --IsInventoryJournalPosted\n    left join (\n        select\n            ENUMNAME,\n            ENUMVALUE,\n            max(ENUMVALUELABEL) as ENUMVALUELABEL\n        from\n            dbo.TIMEXTENDERENUMTABLE\n        where\n            ENUMNAME = 'NoYes'\n        group by\n            ENUMNAME,\n            ENUMVALUE\n    ) tet3 on ij1.SYSTEMBLOCKED = tet3.ENUMVALUE --IsInventoryJournalBlocked\t\t\t\t\t\n    left join dbo.TIMEZONEINFO tzi1 on ij1.CREATEDDATETIME >= tzi1.STARTDATE\n    and ij1.CREATEDDATETIME < tzi1.ENDDATE\n    and ij1.POSTEDDATETIMETZID = tzi1.TIMEZONEID\nwhere\n    (\n        select\n            max(LASTUPDATEDATE)\n        from\n            (\n                values\n                    (ijt1.MODIFIEDDATETIME),\n                    (isnull (ij1.MODIFIEDDATETIME, '1950-01-01')),\n\t\t\t\t\t(isnull (it1.MODIFIEDDATETIME, '1950-01-01'))\n            ) as UpdateDate (LASTUPDATEDATE)\n    ) > '@{variables('v_prv_max_upd_timestamp')}' ",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SnowflakeSink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand"
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "ls_blob_storage",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@pipeline().globalParameters.rootDir",
												"type": "Expression"
											},
											"enableCompression": true
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													},
													"sink": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													},
													"sink": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DATAAREAID",
														"type": "String"
													},
													"sink": {
														"name": "DATAAREAID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "JOURNALID",
														"type": "String"
													},
													"sink": {
														"name": "JOURNALID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LINENUM",
														"type": "Decimal"
													},
													"sink": {
														"name": "LINENUM",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "VOUCHER",
														"type": "String"
													},
													"sink": {
														"name": "VOUCHER",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "QTY",
														"type": "Decimal"
													},
													"sink": {
														"name": "QTY",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "COUNTED",
														"type": "Decimal"
													},
													"sink": {
														"name": "COUNTED",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "INVENTONHAND",
														"type": "Decimal"
													},
													"sink": {
														"name": "INVENTONHAND",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "COSTAMOUNT",
														"type": "Decimal"
													},
													"sink": {
														"name": "COSTAMOUNT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "COSTPRICE",
														"type": "Decimal"
													},
													"sink": {
														"name": "COSTPRICE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PRICEUNIT",
														"type": "Decimal"
													},
													"sink": {
														"name": "PRICEUNIT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "INVENTDIMID",
														"type": "String"
													},
													"sink": {
														"name": "INVENTDIMID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ITEMID",
														"type": "String"
													},
													"sink": {
														"name": "ITEMID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LEDGERDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "LEDGERDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "TOINVENTDIMID",
														"type": "String"
													},
													"sink": {
														"name": "TOINVENTDIMID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TRANSDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "TRANSDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INVENTJOURNALTRANS_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVENTJOURNALTRANS_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "POSTEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "POSTEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "JOURNALNAMEID",
														"type": "String"
													},
													"sink": {
														"name": "JOURNALNAMEID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "JOURNALTYPE",
														"type": "Int32"
													},
													"sink": {
														"name": "JOURNALTYPE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "POSTED",
														"type": "Int32"
													},
													"sink": {
														"name": "POSTED",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "SYSTEMBLOCKED",
														"type": "Int32"
													},
													"sink": {
														"name": "SYSTEMBLOCKED",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "POSTEDUSERID",
														"type": "String"
													},
													"sink": {
														"name": "POSTEDUSERID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "POSTEDDATETIMETZID",
														"type": "Int32"
													},
													"sink": {
														"name": "POSTEDDATETIMETZID",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "INVENTJOURNALTABLE_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVENTJOURNALTABLE_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "TIMEBIAS",
														"type": "Int32"
													},
													"sink": {
														"name": "TIMEBIAS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "DROPSHIPMENT",
														"type": "Int32"
													},
													"sink": {
														"name": "DROPSHIPMENT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "INVENTTABLE_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVENTTABLE_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "JOURNALTYPEDESCRIPTION",
														"type": "String"
													},
													"sink": {
														"name": "JOURNALTYPEDESCRIPTION",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ISINVENTORYJOURNALPOSTED",
														"type": "String"
													},
													"sink": {
														"name": "ISINVENTORYJOURNALPOSTED",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ISINVENTORYJOURNALBLOCKED",
														"type": "String"
													},
													"sink": {
														"name": "ISINVENTORYJOURNALBLOCKED",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sql_server",
											"type": "DatasetReference",
											"parameters": {
												"p_src_table_name": {
													"value": "@pipeline().parameters.p_src_table_nm",
													"type": "Expression"
												},
												"p_src_schema_name": {
													"value": "@pipeline().parameters.p_src_schema_nm",
													"type": "Expression"
												},
												"p_ls_serverName": {
													"value": "@pipeline().globalParameters.nala_sql_serverName",
													"type": "Expression"
												},
												"p_ls_dbName": {
													"value": "@pipeline().globalParameters.nala_sql_dbName",
													"type": "Expression"
												},
												"p_ls_sqlUsername": {
													"value": "@pipeline().globalParameters.sql_userName",
													"type": "Expression"
												},
												"p_ls_sqlPassword": {
													"value": "@pipeline().globalParameters.sql_password",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_snowflake",
											"type": "DatasetReference",
											"parameters": {
												"p_tgt_table_name": {
													"value": "@pipeline().parameters.p_tgt_raw_table_nm",
													"type": "Expression"
												},
												"p_tgt_schema_name": {
													"value": "@pipeline().parameters.p_tgt_raw_schema_nm",
													"type": "Expression"
												},
												"p_ls_DbName": {
													"value": "@pipeline().globalParameters.snow_rawDb",
													"type": "Expression"
												},
												"p_ls_Env": {
													"value": "@pipeline().globalParameters.environment",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "nala_raw_load_failure_notification",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "sql_nala_to_raw",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pp_adf_pipeline_notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"subscription": {
												"value": "@pipeline().globalParameters.subscriptionId",
												"type": "Expression"
											},
											"resourceGroup": {
												"value": "@pipeline().globalParameters.resourceGroup",
												"type": "Expression"
											},
											"runId": {
												"value": "@coalesce(pipeline().RunId,-1)",
												"type": "Expression"
											},
											"name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"triggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"status": {
												"value": "@activity('sql_nala_to_raw').Status",
												"type": "Expression"
											},
											"message": {
												"value": "@replace(replace(replace(activity('sql_nala_to_raw').Error['message'], '\\','\\\\'), '''', ''), '\"' , '')",
												"type": "Expression"
											},
											"executionEndTime": {
												"value": "@activity('sql_nala_to_raw').ExecutionEndTime",
												"type": "Expression"
											},
											"runDuration": {
												"value": "@activity('sql_nala_to_raw').Duration",
												"type": "Expression"
											},
											"teamWebhookUrl": {
												"value": "@pipeline().globalParameters.teamsWebhookUrl",
												"type": "Expression"
											},
											"notificationTime": {
												"value": "@utcNow()",
												"type": "Expression"
											},
											"taskName": "@pipeline().parameters.p_tgt_curate_table_nm",
											"taskStepNumber": {
												"value": "@pipeline().parameters.p_src_code",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "sql_nala_load_to_raw_fail",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "nala_raw_load_failure_notification",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@activity('sql_nala_to_raw').Error['message']",
											"type": "Expression"
										},
										"errorCode": "500"
									}
								}
							]
						},
						{
							"value": "3",
							"activities": [
								{
									"name": "sql_d365_to_raw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "WarehouseSource",
											"additionalColumns": [
												{
													"name": "HK_SOURCE_NAME",
													"value": {
														"value": "@pipeline().parameters.p_src_nm",
														"type": "Expression"
													}
												},
												{
													"name": "HK_JOB_RUN_ID",
													"value": {
														"value": "@coalesce(pipeline().RunId,-1)",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "@concat('Select \n    ijt1.dataareaid as DATAAREAID,\n    ijt1.journalid as JOURNALID,\n    ijt1.linenum as LINENUM,\n    ijt1.defaultdimension as DEFAULTDIMENSION,\n    ijt1.voucher as VOUCHER,\n    ijt1.qty as QTY,\n    ijt1.counted as COUNTED,\n    ijt1.inventonhand as INVENTONHAND,\n    ijt1.costamount as COSTAMOUNT,\n    ijt1.costprice as COSTPRICE,\n    ijt1.priceunit as PRICEUNIT,\n    ijt1.inventdimid as INVENTDIMID,\n    ijt1.itemid as ITEMID,\n    ijt1.ledgerdimension as LEDGERDIMENSION,\n    ijt1.toinventdimid as TOINVENTDIMID,\n    ijt1.transdate as TRANSDATE,\n    ijt1.modifieddatetime as INVENTJOURNALTRANS_MODIFIEDDATETIME,\n    ij1.posteddatetime as POSTEDDATETIME,\n    ij1.journalnameid as JOURNALNAMEID,\n    ijt1.journaltype as JOURNALTYPE,\n    ij1.posted as POSTED,\n    ij1.systemblocked as SYSTEMBLOCKED,\n    ij1.posteduserid as POSTEDUSERID,\n    '''' as POSTEDDATETIMETZID,\n    --ij1.posteddatetimetzid \n    ij1.modifieddatetime as INVENTJOURNALTABLE_MODIFIEDDATETIME,\n    tzi1.timebias as TIMEBIAS,\n    it1.dropshipment as DROPSHIPMENT,\n    it1.modifieddatetime as INVENTTABLE_MODIFIEDDATETIME,\n    tet1.ENUMVALUELABEL as JOURNALTYPEDESCRIPTION,\n    tet2.ENUMVALUELABEL as ISINVENTORYJOURNALPOSTED,\n    tet3.ENUMVALUELABEL as ISINVENTORYJOURNALBLOCKED,\n    (\n        SELECT\n            MAX(LastUpdateDate)\n        FROM\n            (\n                VALUES\n                    (ijt1.modifieddatetime),\n                    (isnull (ij1.modifieddatetime, ''1950-01-01'')),\n\t\t\t\t\t(isnull (it1.modifieddatetime, ''1950-01-01''))\n            ) AS UpdateDate (LastUpdateDate)\n    ) AS LATEST_MODIFIEDDATETIME\nfrom\n    ',pipeline().globalParameters.d365_dbName,'.','inventjournaltrans ijt1\n    LEFT JOIN ',pipeline().globalParameters.d365_dbName,'.','inventjournaltable ij1 On ijt1.journalid = ij1.journalid\n    And ijt1.dataareaid = ij1.dataareaid\n    Left Join (\n        Select\n            it1.recid,\n            it1.dataareaid,\n            it1.itemid,\n            mit1.dropshipment,\n\t\t\tit1.modifieddatetime\n        From\n            ',pipeline().globalParameters.d365_dbName,'.','inventtable it1\n            Left Join ',pipeline().globalParameters.d365_dbName,'.','mcrinventtable mit1 On it1.recid = mit1.recid\n    ) it1 On ijt1.itemid = it1.itemid\n    And ijt1.dataareaid = it1.dataareaid\n    Left Join (\n        Select\n            enumname,\n            enumvalue,\n            max(enumvaluelabel) As ENUMVALUELABEL\n        From\n            ',pipeline().globalParameters.d365_dbName,'.','timextenderenumtable\n        Where\n            enumname = ''InventJournalType''\n        Group By\n            enumname,\n            enumvalue\n    ) tet1 On ij1.journaltype = tet1.enumvalue --JournalTypeDescription\n    Left Join (\n        Select\n            enumname,\n            enumvalue,\n            max(enumvaluelabel) As ENUMVALUELABEL\n        From\n            ',pipeline().globalParameters.d365_dbName,'.','timextenderenumtable\n        Where\n            enumname = ''NoYes''\n        Group By\n            enumname,\n            enumvalue\n    ) tet2 On ij1.posted = tet2.enumvalue --IsInventoryJournalPosted\n    Left Join (\n        Select\n            enumname,\n            enumvalue,\n            max(enumvaluelabel) as ENUMVALUELABEL\n        from\n            ',pipeline().globalParameters.d365_dbName,'.','timextenderenumtable\n        where\n            enumname = ''NoYes''\n        group By\n            enumname,\n            enumvalue\n    ) tet3 on ij1.systemblocked = tet3.enumvalue --IsInventoryJournalBlocked\t\t\t\t\t\n    left join ',pipeline().globalParameters.d365_dbName,'.','timezoneinfo tzi1 on ij1.createddatetime >= tzi1.startdate\n    and ij1.createddatetime < tzi1.enddate\n --   and ij1.posteddatetimetzid = tzi1.timezoneid\nwhere\n    (\n        SELECT\n            MAX(LastUpdateDate)\n        FROM\n            (\n                VALUES\n                    (ijt1.modifieddatetime),\n                    (isnull (ij1.modifieddatetime, ''1950-01-01'')),\n\t\t\t\t\t(isnull (it1.modifieddatetime, ''1950-01-01''))\n            ) AS UpdateDate (LastUpdateDate)\n    ) > ','''',variables('v_prv_max_upd_timestamp'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SnowflakeSink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand"
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "ls_blob_storage",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@pipeline().globalParameters.rootDir",
												"type": "Expression"
											},
											"enableCompression": true
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													},
													"sink": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													},
													"sink": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DATAAREAID",
														"type": "String"
													},
													"sink": {
														"name": "DATAAREAID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "JOURNALID",
														"type": "String"
													},
													"sink": {
														"name": "JOURNALID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LINENUM",
														"type": "Decimal"
													},
													"sink": {
														"name": "LINENUM",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "VOUCHER",
														"type": "String"
													},
													"sink": {
														"name": "VOUCHER",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "QTY",
														"type": "Decimal"
													},
													"sink": {
														"name": "QTY",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "COUNTED",
														"type": "Decimal"
													},
													"sink": {
														"name": "COUNTED",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "INVENTONHAND",
														"type": "Decimal"
													},
													"sink": {
														"name": "INVENTONHAND",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "COSTAMOUNT",
														"type": "Decimal"
													},
													"sink": {
														"name": "COSTAMOUNT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "COSTPRICE",
														"type": "Decimal"
													},
													"sink": {
														"name": "COSTPRICE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PRICEUNIT",
														"type": "Decimal"
													},
													"sink": {
														"name": "PRICEUNIT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "INVENTDIMID",
														"type": "String"
													},
													"sink": {
														"name": "INVENTDIMID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ITEMID",
														"type": "String"
													},
													"sink": {
														"name": "ITEMID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LEDGERDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "LEDGERDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "TOINVENTDIMID",
														"type": "String"
													},
													"sink": {
														"name": "TOINVENTDIMID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TRANSDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "TRANSDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INVENTJOURNALTRANS_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVENTJOURNALTRANS_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "POSTEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "POSTEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "JOURNALNAMEID",
														"type": "String"
													},
													"sink": {
														"name": "JOURNALNAMEID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "JOURNALTYPE",
														"type": "Int32"
													},
													"sink": {
														"name": "JOURNALTYPE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "POSTED",
														"type": "Int32"
													},
													"sink": {
														"name": "POSTED",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "SYSTEMBLOCKED",
														"type": "Int32"
													},
													"sink": {
														"name": "SYSTEMBLOCKED",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "POSTEDUSERID",
														"type": "String"
													},
													"sink": {
														"name": "POSTEDUSERID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "POSTEDDATETIMETZID",
														"type": "Int32"
													},
													"sink": {
														"name": "POSTEDDATETIMETZID",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "INVENTJOURNALTABLE_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVENTJOURNALTABLE_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "TIMEBIAS",
														"type": "Int32"
													},
													"sink": {
														"name": "TIMEBIAS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "DROPSHIPMENT",
														"type": "Int32"
													},
													"sink": {
														"name": "DROPSHIPMENT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "INVENTTABLE_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVENTTABLE_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "JOURNALTYPEDESCRIPTION",
														"type": "String"
													},
													"sink": {
														"name": "JOURNALTYPEDESCRIPTION",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ISINVENTORYJOURNALPOSTED",
														"type": "String"
													},
													"sink": {
														"name": "ISINVENTORYJOURNALPOSTED",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ISINVENTORYJOURNALBLOCKED",
														"type": "String"
													},
													"sink": {
														"name": "ISINVENTORYJOURNALBLOCKED",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_fabric_wh",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ds_snowflake",
											"type": "DatasetReference",
											"parameters": {
												"p_tgt_table_name": {
													"value": "@pipeline().parameters.p_tgt_raw_table_nm",
													"type": "Expression"
												},
												"p_tgt_schema_name": {
													"value": "@pipeline().parameters.p_tgt_raw_schema_nm",
													"type": "Expression"
												},
												"p_ls_DbName": {
													"value": "@pipeline().globalParameters.snow_rawDb",
													"type": "Expression"
												},
												"p_ls_Env": {
													"value": "@pipeline().globalParameters.environment",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "d365_raw_load_failure_notification",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "sql_d365_to_raw",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pp_adf_pipeline_notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"subscription": {
												"value": "@pipeline().globalParameters.subscriptionId",
												"type": "Expression"
											},
											"resourceGroup": {
												"value": "@pipeline().globalParameters.resourceGroup",
												"type": "Expression"
											},
											"runId": {
												"value": "@coalesce(pipeline().RunId,-1)",
												"type": "Expression"
											},
											"name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"triggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"status": {
												"value": "@activity('sql_d365_to_raw').Status",
												"type": "Expression"
											},
											"message": {
												"value": "@replace(replace(replace(activity('sql_d365_to_raw').Error['message'], '\\','\\\\'), '''', ''), '\"' , '')",
												"type": "Expression"
											},
											"executionEndTime": {
												"value": "@activity('sql_d365_to_raw').ExecutionEndTime",
												"type": "Expression"
											},
											"runDuration": {
												"value": "@activity('sql_d365_to_raw').Duration",
												"type": "Expression"
											},
											"teamWebhookUrl": {
												"value": "@pipeline().globalParameters.teamsWebhookUrl",
												"type": "Expression"
											},
											"notificationTime": {
												"value": "@utcNow()",
												"type": "Expression"
											},
											"taskName": "@pipeline().parameters.p_tgt_curate_table_nm",
											"taskStepNumber": {
												"value": "@pipeline().parameters.p_src_code",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "sql_d365_load_to_raw_fail",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "d365_raw_load_failure_notification",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@activity('sql_d365_to_raw').Error['message']",
											"type": "Expression"
										},
										"errorCode": "500"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "pipeline_execution_notification",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "raw_to_curate_sp_call",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(equals(activity('raw_to_curate_sp_call').output.resultSets[0].rows[0]['SP_TASK_INITIALIZE'],'TRUE'),bool('TRUE'), bool('FALSE'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "pp_stored_procedure_failure_notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pp_adf_pipeline_notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.subscriptionId",
										"type": "Expression"
									},
									"resourceGroup": {
										"value": "@pipeline().globalParameters.resourceGroup",
										"type": "Expression"
									},
									"runId": {
										"value": "@coalesce(pipeline().RunId, -1)",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"status": {
										"value": "@toUpper('failed')",
										"type": "Expression"
									},
									"message": {
										"value": "@activity('raw_to_curate_sp_call').output.resultSets[0].rows[0]['SP_TASK_INITIALIZE']",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@activity('raw_to_curate_sp_call').ExecutionEndTime",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@activity('raw_to_curate_sp_call').Duration",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "@pipeline().globalParameters.teamsWebhookUrl",
										"type": "Expression"
									},
									"notificationTime": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"taskName": {
										"value": "@pipeline().parameters.p_tgt_curate_table_nm",
										"type": "Expression"
									},
									"taskStepNumber": {
										"value": "@pipeline().parameters.p_src_code",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "curate_load_failure",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "pp_stored_procedure_failure_notification",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('raw_to_curate_sp_call').output.resultSets[0].rows[0]['SP_TASK_INITIALIZE']",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "stored_procedure_success_notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pp_adf_pipeline_notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.subscriptionId",
										"type": "Expression"
									},
									"resourceGroup": {
										"value": "@pipeline().globalParameters.resourceGroup",
										"type": "Expression"
									},
									"runId": {
										"value": "@coalesce(pipeline().RunId, -1)",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"status": {
										"value": "@activity('raw_to_curate_sp_call').Status",
										"type": "Expression"
									},
									"message": {
										"value": "@concat(pipeline().parameters.p_tgt_curate_table_nm, ' is successfully loaded')",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@activity('raw_to_curate_sp_call').ExecutionEndTime",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@activity('raw_to_curate_sp_call').Duration",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "@pipeline().globalParameters.teamsWebhookUrl",
										"type": "Expression"
									},
									"notificationTime": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"taskName": {
										"value": "@pipeline().parameters.p_tgt_curate_table_nm",
										"type": "Expression"
									},
									"taskStepNumber": {
										"value": "@pipeline().parameters.p_src_code",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_src_nm": {
				"type": "string",
				"defaultValue": "AXNALA"
			},
			"p_tgt_raw_table_nm": {
				"type": "string",
				"defaultValue": "INVENTJOURNALTRANS"
			},
			"p_tgt_raw_schema_nm": {
				"type": "string",
				"defaultValue": "AX_NALA"
			},
			"p_tgt_curate_table_nm": {
				"type": "string",
				"defaultValue": "FACT_INVENTORY_JOURNAL"
			},
			"p_tgt_curate_schema_nm": {
				"type": "string",
				"defaultValue": "GLOBAL"
			},
			"p_src_schema_nm": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"p_src_table_nm": {
				"type": "string",
				"defaultValue": "INVENTJOURNALTRANS"
			},
			"p_src_code": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"v_prv_max_upd_timestamp": {
				"type": "String"
			}
		},
		"annotations": []
	}
}