NALA_ADF 2025-04-18/pipeline/pp_ax_vendpackingsliptrans_to_fact_purchase_receipts.json
{
	"name": "pp_ax_vendpackingsliptrans_to_fact_purchase_receipts",
	"properties": {
		"activities": [
			{
				"name": "lkp_curate_last_modified_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "@concat('select max(to_varchar(LATEST_MODIFIEDDATETIME::timestamp, ''','yyyy-mm-dd hh24:mi:ss',''')) as max_date from ',pipeline().globalParameters.environment,'_',pipeline().globalParameters.snow_rawDb,'.',pipeline().parameters.p_tgt_raw_schema_nm, '.', pipeline().parameters.p_tgt_raw_table_nm)",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "ds_snowflake",
						"type": "DatasetReference",
						"parameters": {
							"p_tgt_table_name": {
								"value": "@pipeline().parameters.p_tgt_raw_table_nm",
								"type": "Expression"
							},
							"p_tgt_schema_name": {
								"value": "@pipeline().parameters.p_tgt_raw_schema_nm",
								"type": "Expression"
							},
							"p_ls_DbName": {
								"value": "@pipeline().globalParameters.snow_rawDb",
								"type": "Expression"
							},
							"p_ls_Env": {
								"value": "@pipeline().globalParameters.environment",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "set_last_modified_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkp_curate_last_modified_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_prv_max_upd_timestamp",
					"value": {
						"value": "@coalesce(activity('lkp_curate_last_modified_date').output.firstRow.max_date, '1950-01-01 00:00:00')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "raw_to_curate_sp_call",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "switch_nala",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_DbName": {
							"value": "@pipeline().globalParameters.snow_auditDb",
							"type": "Expression"
						},
						"ls_Env": {
							"value": "@pipeline().globalParameters.environment",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('CALL ',pipeline().globalParameters.environment,'_',pipeline().globalParameters.snow_auditDb,'.CONTROL.SP_TASK_INITIALIZE(','''',pipeline().RunId,'''',',','''',pipeline().globalParameters.environment,'''',',','''',pipeline().parameters.p_tgt_curate_table_nm,'''',',',pipeline().parameters.p_src_code,')')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "stored_procedure_failure_notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "raw_to_curate_sp_call",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pp_adf_pipeline_notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.subscriptionId",
							"type": "Expression"
						},
						"resourceGroup": {
							"value": "@pipeline().globalParameters.resourceGroup",
							"type": "Expression"
						},
						"runId": {
							"value": "@coalesce(pipeline().RunId,-1)",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('raw_to_curate_sp_call').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@activity('raw_to_curate_sp_call').Error['message']",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('raw_to_curate_sp_call').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('raw_to_curate_sp_call').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.teamsWebhookUrl",
							"type": "Expression"
						},
						"notificationTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"taskName": {
							"value": "@pipeline().parameters.p_tgt_curate_table_nm",
							"type": "Expression"
						},
						"taskStepNumber": {
							"value": "@pipeline().parameters.p_src_code",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "switch_nala",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "set_last_modified_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.p_src_code",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "1",
							"activities": [
								{
									"name": "sql_nala_to_raw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"additionalColumns": [
												{
													"name": "HK_SOURCE_NAME",
													"value": {
														"value": "@pipeline().parameters.p_src_nm",
														"type": "Expression"
													}
												},
												{
													"name": "HK_JOB_RUN_ID",
													"value": {
														"value": "@coalesce(pipeline().RunId,-1)",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "select \nvpst1.RECID,\nvpst1.CURRENCYCODE_W,\nvpst1.DEFAULTDIMENSION,\nvpst1.VENDPACKINGSLIPJOUR,\nvpst1.TRANSACTIONCODE,\nvpst1.INVENTDIMID,\nvpst1.ITEMID,\nvpst1.PROCUREMENTCATEGORY,\nvpst1.PURCHUNIT,\nvpst1.ORIGPURCHID,\nvpst1.ACCOUNTINGDATE,\nvpst1.INVENTDATE,\nvpst1.PURCHASELINEEXPECTEDDELIVERYDATE,\nvpst1.DELIVERYDATE,\nvpst1.INVENTTRANSID,\nvpst1.DATAAREAID,\nreplace(vpst1.PACKINGSLIPID,'\\','\\\\') as PACKINGSLIPID,\nvpst1.LINENUM,\nvpst1.PURCHASELINELINENUMBER,\nvpst1.INVENTQTY,\nvpst1.QTY,\nvpst1.LINEAMOUNT_W,\nvpst1.MODIFIEDDATETIME,\nvpsj1.DLVMODE as VENDPACKINGSLIPJOUR_DLVMODE,\nvpsj1.DELIVERYPOSTALADDRESS as VENDPACKINGSLIPJOUR_DELIVERYPOSTALADDRESS,\nvpsj1.INVOICEACCOUNT as VENDPACKINGSLIPJOUR_INVOICEACCOUNT,\nvpsj1.ORDERACCOUNT as VENDPACKINGSLIPJOUR_ORDERACCOUNT,\nvpsj1.MODIFIEDDATETIME as VENDPACKINGSLIPJOUR_MODIFIEDDATETIME,\npt1.RETURNREASONCODEID as PURCHTABLE_RETURNREASONCODEID,\npt1.WORKERPURCHPLACER as PURCHTABLE_WORKERPURCHPLACER,\npt1.REQUESTER as PURCHTABLE_REQUESTER,\npt1.DOCUMENTSTATUS as PURCHTABLE_DOCUMENTSTATUS,\npt1.PURCHSTATUS as PURCHTABLE_PURCHSTATUS,\npt1.DELIVERYDATE as PURCHTABLE_DELIVERYDATE,\npt1.MODIFIEDDATETIME as PURCHTABLE_MODIFIEDDATETIME,\nitm1.UNITID as INVENTTABLEMODULE_UNITID,\nitm1.MODIFIEDDATETIME as INVENTTABLEMODULE_MODIFIEDDATETIME,\npl1.ASSETTRANSTYPEPURCH as PURCHLINE_ASSETTRANSTYPEPURCH,\npl1.DELIVERYTYPE as PURCHLINE_DELIVERYTYPE,\npl1.STOCKEDPRODUCT as PURCHLINE_STOCKEDPRODUCT,\npl1.PURCHSTATUS as PURCHLINE_PURCHSTATUS,\npl1.PURCHASETYPE as PURCHLINE_PURCHASETYPE,\npl1.MODIFIEDDATETIME as PURCHLINE_MODIFIEDDATETIME,\ntet1.ENUMVALUELABEL as TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_ASSET_TRANSACTION_TYPE,\ntet2.ENUMVALUELABEL as TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_DELIVERY_TYPE,\ntet3.ENUMVALUELABEL as TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_DOCUMENT_STATUS,\ntet4.ENUMVALUELABEL as TIMEXTENDERENUMTABLE4_ENUMVALUELABEL_PURCH_LINE_STATUS,\ntet5.ENUMVALUELABEL as TIMEXTENDERENUMTABLE5_ENUMVALUELABEL_PURCH_HEADER_STATUS,\ntet6.ENUMVALUELABEL as TIMEXTENDERENUMTABLE6_ENUMVALUELABEL_PURCHASE_TYPE,\n(\n        SELECT\n            MAX(LastUpdateDate)\n        FROM\n            (\n                VALUES\n                    (vpst1.MODIFIEDDATETIME),\n                    (isnull (vpsj1.MODIFIEDDATETIME, '1950-01-01')),\n                    (isnull (pt1.MODIFIEDDATETIME, '1950-01-01')),\n                    (isnull (itm1.MODIFIEDDATETIME, '1950-01-01')),\n                    (\n                        isnull (\n                            pl1.MODIFIEDDATETIME,\n                            '1950-01-01'\n                        )\n                    )\n            ) AS UpdateDate (LastUpdateDate)\n    ) AS LATEST_MODIFIEDDATETIME\nfrom dbo.VENDPACKINGSLIPTRANS vpst1\nleft join dbo.VENDPACKINGSLIPJOUR vpsj1 on\n\tvpst1.VENDPACKINGSLIPJOUR = vpsj1.RECID\nleft join dbo.PURCHTABLE pt1 on\n\tvpst1.DATAAREAID = pt1.DATAAREAID and\n\tvpst1.ORIGPURCHID = pt1.PURCHID\nleft join dbo.INVENTTABLEMODULE itm1 on\n\titm1.MODULETYPE = 0 and\n\tvpst1.DATAAREAID = itm1.DATAAREAID and\n\tvpst1.ITEMID = itm1.ITEMID\nleft join dbo.PURCHLINE pl1 on\n\tvpst1.DATAAREAID = pl1.DATAAREAID and\n\tvpst1.INVENTTRANSID = pl1.INVENTTRANSID\nleft join (select ENUMNAME, ENUMVALUE\n\t\t\t, max(ENUMVALUELABEL) as ENUMVALUELABEL\n\t\tfrom dbo.TIMEXTENDERENUMTABLE\n\t\twhere ENUMNAME = 'AssetTransTypePurch'\n\t\tgroup by ENUMNAME, ENUMVALUE) tet1 on\n\tpl1.ASSETTRANSTYPEPURCH = tet1.ENUMVALUE\nleft join (select ENUMNAME, ENUMVALUE\n\t\t\t, max(ENUMVALUELABEL) as ENUMVALUELABEL\n\t\tfrom dbo.TIMEXTENDERENUMTABLE\n\t\twhere ENUMNAME = 'TradeLineDlvType'\n\t\tgroup by ENUMNAME, ENUMVALUE) tet2 on\n\tpl1.DELIVERYTYPE = tet2.ENUMVALUE\nleft join (select ENUMNAME, ENUMVALUE\n\t\t\t, max(ENUMVALUELABEL) as ENUMVALUELABEL\n\t\tfrom dbo.TIMEXTENDERENUMTABLE\n\t\twhere ENUMNAME = 'DocumentStatus'\n\t\tgroup by ENUMNAME, ENUMVALUE) tet3 on\n\tpt1.DOCUMENTSTATUS = tet3.ENUMVALUE\nleft join (select ENUMNAME, ENUMVALUE\n\t\t\t, max(ENUMVALUELABEL) as ENUMVALUELABEL\n\t\tfrom dbo.TIMEXTENDERENUMTABLE\n\t\twhere ENUMNAME = 'PurchStatus'\n\t\tgroup by ENUMNAME, ENUMVALUE) tet4 on\n\tpl1.PURCHSTATUS = tet4.ENUMVALUE\nleft join (select ENUMNAME, ENUMVALUE\n\t\t\t, max(ENUMVALUELABEL) as ENUMVALUELABEL\n\t\tfrom dbo.TIMEXTENDERENUMTABLE\n\t\twhere ENUMNAME = 'PurchStatus'\n\t\tgroup by ENUMNAME, ENUMVALUE) tet5 on\n\tpt1.PURCHSTATUS = tet5.ENUMVALUE\nleft join (select ENUMNAME, ENUMVALUE\n\t\t\t, max(ENUMVALUELABEL) as ENUMVALUELABEL\n\t\tfrom dbo.TIMEXTENDERENUMTABLE\n\t\twhere ENUMNAME = 'PurchaseType'\n\t\tgroup by ENUMNAME, ENUMVALUE) tet6 on\n\tpl1.PURCHASETYPE = tet6.ENUMVALUE\nwhere\n(\n        SELECT\n            MAX(LastUpdateDate)\n        FROM\n            (\n                VALUES\n                    (vpst1.MODIFIEDDATETIME),\n                    (isnull (vpsj1.MODIFIEDDATETIME, '1950-01-01')),\n                    (isnull (pt1.MODIFIEDDATETIME, '1950-01-01')),\n                    (isnull (itm1.MODIFIEDDATETIME, '1950-01-01')),\n                    (\n                        isnull (\n                            pl1.MODIFIEDDATETIME,\n                            '1950-01-01'\n                        )\n                    )\n            ) AS UpdateDate (LastUpdateDate)\n    ) >  '@{variables('v_prv_max_upd_timestamp')}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SnowflakeSink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand"
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "ls_blob_storage",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@pipeline().globalParameters.rootDir",
												"type": "Expression"
											},
											"enableCompression": true
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													},
													"sink": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													},
													"sink": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "RECID",
														"type": "Int64"
													},
													"sink": {
														"name": "RECID",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "CURRENCYCODE_W",
														"type": "String"
													},
													"sink": {
														"name": "CURRENCYCODE_W",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "VENDPACKINGSLIPJOUR",
														"type": "Int64"
													},
													"sink": {
														"name": "VENDPACKINGSLIPJOUR",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "TRANSACTIONCODE",
														"type": "String"
													},
													"sink": {
														"name": "TRANSACTIONCODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INVENTDIMID",
														"type": "String"
													},
													"sink": {
														"name": "INVENTDIMID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ITEMID",
														"type": "String"
													},
													"sink": {
														"name": "ITEMID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PROCUREMENTCATEGORY",
														"type": "Int64"
													},
													"sink": {
														"name": "PROCUREMENTCATEGORY",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHUNIT",
														"type": "String"
													},
													"sink": {
														"name": "PURCHUNIT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ORIGPURCHID",
														"type": "String"
													},
													"sink": {
														"name": "ORIGPURCHID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ACCOUNTINGDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "ACCOUNTINGDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INVENTDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVENTDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHASELINEEXPECTEDDELIVERYDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHASELINEEXPECTEDDELIVERYDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "DELIVERYDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "DELIVERYDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INVENTTRANSID",
														"type": "String"
													},
													"sink": {
														"name": "INVENTTRANSID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DATAAREAID",
														"type": "String"
													},
													"sink": {
														"name": "DATAAREAID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PACKINGSLIPID",
														"type": "String"
													},
													"sink": {
														"name": "PACKINGSLIPID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LINENUM",
														"type": "Decimal"
													},
													"sink": {
														"name": "LINENUM",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHASELINELINENUMBER",
														"type": "Int64"
													},
													"sink": {
														"name": "PURCHASELINELINENUMBER",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "INVENTQTY",
														"type": "Decimal"
													},
													"sink": {
														"name": "INVENTQTY",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "QTY",
														"type": "Decimal"
													},
													"sink": {
														"name": "QTY",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "LINEAMOUNT_W",
														"type": "Decimal"
													},
													"sink": {
														"name": "LINEAMOUNT_W",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "VENDPACKINGSLIPJOUR_DLVMODE",
														"type": "String"
													},
													"sink": {
														"name": "VENDPACKINGSLIPJOUR_DLVMODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "VENDPACKINGSLIPJOUR_DELIVERYPOSTALADDRESS",
														"type": "Int64"
													},
													"sink": {
														"name": "VENDPACKINGSLIPJOUR_DELIVERYPOSTALADDRESS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "VENDPACKINGSLIPJOUR_INVOICEACCOUNT",
														"type": "String"
													},
													"sink": {
														"name": "VENDPACKINGSLIPJOUR_INVOICEACCOUNT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "VENDPACKINGSLIPJOUR_ORDERACCOUNT",
														"type": "String"
													},
													"sink": {
														"name": "VENDPACKINGSLIPJOUR_ORDERACCOUNT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "VENDPACKINGSLIPJOUR_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "VENDPACKINGSLIPJOUR_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_RETURNREASONCODEID",
														"type": "String"
													},
													"sink": {
														"name": "PURCHTABLE_RETURNREASONCODEID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_WORKERPURCHPLACER",
														"type": "Int64"
													},
													"sink": {
														"name": "PURCHTABLE_WORKERPURCHPLACER",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_REQUESTER",
														"type": "Int64"
													},
													"sink": {
														"name": "PURCHTABLE_REQUESTER",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_DOCUMENTSTATUS",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHTABLE_DOCUMENTSTATUS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_PURCHSTATUS",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHTABLE_PURCHSTATUS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_DELIVERYDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHTABLE_DELIVERYDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHTABLE_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_UNITID",
														"type": "String"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_UNITID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_ASSETTRANSTYPEPURCH",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_ASSETTRANSTYPEPURCH",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_DELIVERYTYPE",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_DELIVERYTYPE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_STOCKEDPRODUCT",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_STOCKEDPRODUCT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_PURCHSTATUS",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_PURCHSTATUS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_PURCHASETYPE",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_PURCHASETYPE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHLINE_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_ASSET_TRANSACTION_TYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_ASSET_TRANSACTION_TYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_DELIVERY_TYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_DELIVERY_TYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_DOCUMENT_STATUS",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_DOCUMENT_STATUS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE4_ENUMVALUELABEL_PURCH_LINE_STATUS",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE4_ENUMVALUELABEL_PURCH_LINE_STATUS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE5_ENUMVALUELABEL_PURCH_HEADER_STATUS",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE5_ENUMVALUELABEL_PURCH_HEADER_STATUS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE6_ENUMVALUELABEL_PURCHASE_TYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE6_ENUMVALUELABEL_PURCHASE_TYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sql_server",
											"type": "DatasetReference",
											"parameters": {
												"p_src_table_name": {
													"value": "@pipeline().parameters.p_src_table_nm",
													"type": "Expression"
												},
												"p_src_schema_name": {
													"value": "@pipeline().parameters.p_src_schema_nm",
													"type": "Expression"
												},
												"p_ls_serverName": {
													"value": "@pipeline().globalParameters.nala_sql_serverName",
													"type": "Expression"
												},
												"p_ls_dbName": {
													"value": "@pipeline().globalParameters.nala_sql_dbName",
													"type": "Expression"
												},
												"p_ls_sqlUsername": {
													"value": "@pipeline().globalParameters.sql_userName",
													"type": "Expression"
												},
												"p_ls_sqlPassword": {
													"value": "@pipeline().globalParameters.sql_password",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_snowflake",
											"type": "DatasetReference",
											"parameters": {
												"p_tgt_table_name": {
													"value": "@pipeline().parameters.p_tgt_raw_table_nm",
													"type": "Expression"
												},
												"p_tgt_schema_name": {
													"value": "@pipeline().parameters.p_tgt_raw_schema_nm",
													"type": "Expression"
												},
												"p_ls_DbName": {
													"value": "@pipeline().globalParameters.snow_rawDb",
													"type": "Expression"
												},
												"p_ls_Env": {
													"value": "@pipeline().globalParameters.environment",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "nala_raw_load_failure_notification",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "sql_nala_to_raw",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pp_adf_pipeline_notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"subscription": {
												"value": "@pipeline().globalParameters.subscriptionId",
												"type": "Expression"
											},
											"resourceGroup": {
												"value": "@pipeline().globalParameters.resourceGroup",
												"type": "Expression"
											},
											"runId": {
												"value": "@coalesce(pipeline().RunId,-1)",
												"type": "Expression"
											},
											"name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"triggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"status": {
												"value": "@activity('sql_nala_to_raw').Status",
												"type": "Expression"
											},
											"message": {
												"value": "@replace(replace(replace(activity('sql_nala_to_raw').Error['message'], '\\','\\\\'), '''', ''), '\"' , '')",
												"type": "Expression"
											},
											"executionEndTime": {
												"value": "@activity('sql_nala_to_raw').ExecutionEndTime",
												"type": "Expression"
											},
											"runDuration": {
												"value": "@activity('sql_nala_to_raw').Duration",
												"type": "Expression"
											},
											"teamWebhookUrl": {
												"value": "@pipeline().globalParameters.teamsWebhookUrl",
												"type": "Expression"
											},
											"notificationTime": {
												"value": "@utcNow()",
												"type": "Expression"
											},
											"taskName": "@pipeline().parameters.p_tgt_curate_table_nm",
											"taskStepNumber": {
												"value": "@pipeline().parameters.p_src_code",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "sql_nala_load_to_raw_fail",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "nala_raw_load_failure_notification",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@activity('sql_nala_to_raw').Error['message']",
											"type": "Expression"
										},
										"errorCode": "500"
									}
								}
							]
						},
						{
							"value": "3",
							"activities": [
								{
									"name": "sql_d365_to_raw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "WarehouseSource",
											"additionalColumns": [
												{
													"name": "HK_SOURCE_NAME",
													"value": {
														"value": "@pipeline().parameters.p_src_nm",
														"type": "Expression"
													}
												},
												{
													"name": "HK_JOB_RUN_ID",
													"value": {
														"value": "@coalesce(pipeline().RunId,-1)",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "@concat('select \nvpst1.recid AS RECID,\nvpst1.currencycode_w AS CURRENCYCODE_W,\nvpst1.defaultdimension AS DEFAULTDIMENSION,\nvpst1.vendpackingslipjour AS VENDPACKINGSLIPJOUR,\nvpst1.transactioncode AS TRANSACTIONCODE,\nvpst1.inventdimid AS INVENTDIMID,\nvpst1.itemid AS ITEMID,\nvpst1.procurementcategory AS PROCUREMENTCATEGORY,\nvpst1.purchunit AS PURCHUNIT,\nvpst1.origpurchid AS ORIGPURCHID,\nvpst1.accountingdate AS ACCOUNTINGDATE,\nvpst1.inventdate AS INVENTDATE,\nvpst1.purchaselineexpecteddeliverydate AS PURCHASELINEEXPECTEDDELIVERYDATE,\nvpst1.deliverydate AS DELIVERYDATE,\nvpst1.inventtransid AS INVENTTRANSID,\nvpst1.dataareaid AS DATAAREAID,\nreplace(vpst1.packingslipid,''\\'',''\\\\'') as PACKINGSLIPID,\nvpst1.linenum AS LINENUM,\nvpst1.purchaselinelinenumber AS PURCHASELINELINENUMBER,\nvpst1.inventqty AS INVENTQTY,\nvpst1.qty AS QTY,\nvpst1.lineamount_w AS LINEAMOUNT_W,\nvpst1.modifieddatetime AS MODIFIEDDATETIME,\nvpsj1.dlvmode as VENDPACKINGSLIPJOUR_DLVMODE,\nvpsj1.deliverypostaladdress as VENDPACKINGSLIPJOUR_DELIVERYPOSTALADDRESS,\nvpsj1.invoiceaccount as VENDPACKINGSLIPJOUR_INVOICEACCOUNT,\nvpsj1.orderaccount as VENDPACKINGSLIPJOUR_ORDERACCOUNT,\nvpsj1.modifieddatetime as VENDPACKINGSLIPJOUR_MODIFIEDDATETIME,\npt1.returnreasoncodeid as PURCHTABLE_RETURNREASONCODEID,\npt1.workerpurchplacer as PURCHTABLE_WORKERPURCHPLACER,\npt1.requester as PURCHTABLE_REQUESTER,\npt1.documentstatus as PURCHTABLE_DOCUMENTSTATUS,\npt1.purchstatus as PURCHTABLE_PURCHSTATUS,\npt1.deliverydate as PURCHTABLE_DELIVERYDATE,\npt1.modifieddatetime as PURCHTABLE_MODIFIEDDATETIME,\nitm1.unitid as INVENTTABLEMODULE_UNITID,\nitm1.modifieddatetime as INVENTTABLEMODULE_MODIFIEDDATETIME,\npl1.assettranstypepurch as PURCHLINE_ASSETTRANSTYPEPURCH,\npl1.deliverytype as PURCHLINE_DELIVERYTYPE,\npl1.stockedproduct as PURCHLINE_STOCKEDPRODUCT,\npl1.purchstatus as PURCHLINE_PURCHSTATUS,\npl1.purchasetype as PURCHLINE_PURCHASETYPE,\npl1.modifieddatetime as PURCHLINE_MODIFIEDDATETIME,\ntet1.enumvaluelabel as TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_ASSET_TRANSACTION_TYPE,\ntet2.enumvaluelabel as TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_DELIVERY_TYPE,\ntet3.enumvaluelabel as TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_DOCUMENT_STATUS,\ntet4.enumvaluelabel as TIMEXTENDERENUMTABLE4_ENUMVALUELABEL_PURCH_LINE_STATUS,\ntet5.enumvaluelabel as TIMEXTENDERENUMTABLE5_ENUMVALUELABEL_PURCH_HEADER_STATUS,\ntet6.enumvaluelabel as TIMEXTENDERENUMTABLE6_ENUMVALUELABEL_PURCHASE_TYPE,\n(\n        select\n            max(lastupdatedate)\n        from\n            (\n                values\n                    (vpst1.modifieddatetime),\n                    (isnull (vpsj1.modifieddatetime, ''1950-01-01'')),\n                    (isnull (pt1.modifieddatetime, ''1950-01-01'')),\n                    (isnull (itm1.modifieddatetime, ''1950-01-01'')),\n                    (\n                        isnull (\n                            pl1.modifieddatetime,\n                            ''1950-01-01''\n                        )\n                    )\n            ) as updatedate (lastupdatedate)\n    ) as LATEST_MODIFIEDDATETIME\nfrom ',pipeline().globalParameters.d365_dbName,'.','vendpackingsliptrans vpst1\nleft join ',pipeline().globalParameters.d365_dbName,'.','vendpackingslipjour vpsj1 on\n\tvpst1.vendpackingslipjour = vpsj1.recid\nleft join ',pipeline().globalParameters.d365_dbName,'.','purchtable pt1 on\n\tvpst1.dataareaid = pt1.dataareaid and\n\tvpst1.origpurchid = pt1.purchid\nleft join ',pipeline().globalParameters.d365_dbName,'.','inventtablemodule itm1 on\n\titm1.moduletype = 0 and\n\tvpst1.dataareaid = itm1.dataareaid and\n\tvpst1.itemid = itm1.itemid\nleft join ',pipeline().globalParameters.d365_dbName,'.','purchline pl1 on\n\tvpst1.dataareaid = pl1.dataareaid and\n\tvpst1.inventtransid = pl1.inventtransid\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom ',pipeline().globalParameters.d365_dbName,'.','timextenderenumtable\n\t\twhere enumname = ''assettranstypepurch''\n\t\tgroup by enumname, enumvalue) tet1 on\n\tpl1.assettranstypepurch = tet1.enumvalue\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom ',pipeline().globalParameters.d365_dbName,'.','timextenderenumtable\n\t\twhere enumname = ''tradelinedlvtype''\n\t\tgroup by enumname, enumvalue) tet2 on\n\tpl1.deliverytype = tet2.enumvalue\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom ',pipeline().globalParameters.d365_dbName,'.','timextenderenumtable\n\t\twhere enumname = ''documentstatus''\n\t\tgroup by enumname, enumvalue) tet3 on\n\tpt1.documentstatus = tet3.enumvalue\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom ',pipeline().globalParameters.d365_dbName,'.','timextenderenumtable\n\t\twhere enumname = ''purchstatus''\n\t\tgroup by enumname, enumvalue) tet4 on\n\tpl1.purchstatus = tet4.enumvalue\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom ',pipeline().globalParameters.d365_dbName,'.','timextenderenumtable\n\t\twhere enumname = ''purchstatus''\n\t\tgroup by enumname, enumvalue) tet5 on\n\tpt1.purchstatus = tet5.enumvalue\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom ',pipeline().globalParameters.d365_dbName,'.','timextenderenumtable\n\t\twhere enumname = ''purchasetype''\n\t\tgroup by enumname, enumvalue) tet6 on\n\tpl1.purchasetype = tet6.enumvalue\nwhere\n(\n        select\n            max(lastupdatedate)\n        from\n            (\n                values\n                    (vpst1.modifieddatetime),\n                    (isnull (vpsj1.modifieddatetime, ''1950-01-01'')),\n                    (isnull (pt1.modifieddatetime, ''1950-01-01'')),\n                    (isnull (itm1.modifieddatetime, ''1950-01-01'')),\n                    (\n                        isnull (\n                            pl1.modifieddatetime,\n                            ''1950-01-01''\n                        )\n                    )\n            ) as updatedate (lastupdatedate)\n    ) > ','''',variables('v_prv_max_upd_timestamp'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SnowflakeSink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand"
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "ls_blob_storage",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@pipeline().globalParameters.rootDir",
												"type": "Expression"
											},
											"enableCompression": true
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													},
													"sink": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													},
													"sink": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "RECID",
														"type": "Int64"
													},
													"sink": {
														"name": "RECID",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "CURRENCYCODE_W",
														"type": "String"
													},
													"sink": {
														"name": "CURRENCYCODE_W",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "VENDPACKINGSLIPJOUR",
														"type": "Int64"
													},
													"sink": {
														"name": "VENDPACKINGSLIPJOUR",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "TRANSACTIONCODE",
														"type": "String"
													},
													"sink": {
														"name": "TRANSACTIONCODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INVENTDIMID",
														"type": "String"
													},
													"sink": {
														"name": "INVENTDIMID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ITEMID",
														"type": "String"
													},
													"sink": {
														"name": "ITEMID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PROCUREMENTCATEGORY",
														"type": "Int64"
													},
													"sink": {
														"name": "PROCUREMENTCATEGORY",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHUNIT",
														"type": "String"
													},
													"sink": {
														"name": "PURCHUNIT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ORIGPURCHID",
														"type": "String"
													},
													"sink": {
														"name": "ORIGPURCHID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "ACCOUNTINGDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "ACCOUNTINGDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INVENTDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVENTDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHASELINEEXPECTEDDELIVERYDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHASELINEEXPECTEDDELIVERYDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "DELIVERYDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "DELIVERYDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INVENTTRANSID",
														"type": "String"
													},
													"sink": {
														"name": "INVENTTRANSID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DATAAREAID",
														"type": "String"
													},
													"sink": {
														"name": "DATAAREAID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PACKINGSLIPID",
														"type": "String"
													},
													"sink": {
														"name": "PACKINGSLIPID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LINENUM",
														"type": "Decimal"
													},
													"sink": {
														"name": "LINENUM",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHASELINELINENUMBER",
														"type": "Int64"
													},
													"sink": {
														"name": "PURCHASELINELINENUMBER",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "INVENTQTY",
														"type": "Decimal"
													},
													"sink": {
														"name": "INVENTQTY",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "QTY",
														"type": "Decimal"
													},
													"sink": {
														"name": "QTY",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "LINEAMOUNT_W",
														"type": "Decimal"
													},
													"sink": {
														"name": "LINEAMOUNT_W",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "VENDPACKINGSLIPJOUR_DLVMODE",
														"type": "String"
													},
													"sink": {
														"name": "VENDPACKINGSLIPJOUR_DLVMODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "VENDPACKINGSLIPJOUR_DELIVERYPOSTALADDRESS",
														"type": "Int64"
													},
													"sink": {
														"name": "VENDPACKINGSLIPJOUR_DELIVERYPOSTALADDRESS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "VENDPACKINGSLIPJOUR_INVOICEACCOUNT",
														"type": "String"
													},
													"sink": {
														"name": "VENDPACKINGSLIPJOUR_INVOICEACCOUNT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "VENDPACKINGSLIPJOUR_ORDERACCOUNT",
														"type": "String"
													},
													"sink": {
														"name": "VENDPACKINGSLIPJOUR_ORDERACCOUNT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "VENDPACKINGSLIPJOUR_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "VENDPACKINGSLIPJOUR_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_RETURNREASONCODEID",
														"type": "String"
													},
													"sink": {
														"name": "PURCHTABLE_RETURNREASONCODEID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_WORKERPURCHPLACER",
														"type": "Int64"
													},
													"sink": {
														"name": "PURCHTABLE_WORKERPURCHPLACER",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_REQUESTER",
														"type": "Int64"
													},
													"sink": {
														"name": "PURCHTABLE_REQUESTER",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_DOCUMENTSTATUS",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHTABLE_DOCUMENTSTATUS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_PURCHSTATUS",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHTABLE_PURCHSTATUS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_DELIVERYDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHTABLE_DELIVERYDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHTABLE_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_UNITID",
														"type": "String"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_UNITID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_ASSETTRANSTYPEPURCH",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_ASSETTRANSTYPEPURCH",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_DELIVERYTYPE",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_DELIVERYTYPE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_STOCKEDPRODUCT",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_STOCKEDPRODUCT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_PURCHSTATUS",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_PURCHSTATUS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_PURCHASETYPE",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_PURCHASETYPE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHLINE_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_ASSET_TRANSACTION_TYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_ASSET_TRANSACTION_TYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_DELIVERY_TYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_DELIVERY_TYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_DOCUMENT_STATUS",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_DOCUMENT_STATUS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE4_ENUMVALUELABEL_PURCH_LINE_STATUS",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE4_ENUMVALUELABEL_PURCH_LINE_STATUS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE5_ENUMVALUELABEL_PURCH_HEADER_STATUS",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE5_ENUMVALUELABEL_PURCH_HEADER_STATUS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE6_ENUMVALUELABEL_PURCHASE_TYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE6_ENUMVALUELABEL_PURCHASE_TYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_fabric_wh",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ds_snowflake",
											"type": "DatasetReference",
											"parameters": {
												"p_tgt_table_name": {
													"value": "@pipeline().parameters.p_tgt_raw_table_nm",
													"type": "Expression"
												},
												"p_tgt_schema_name": {
													"value": "@pipeline().parameters.p_tgt_raw_schema_nm",
													"type": "Expression"
												},
												"p_ls_DbName": {
													"value": "@pipeline().globalParameters.snow_rawDb",
													"type": "Expression"
												},
												"p_ls_Env": {
													"value": "@pipeline().globalParameters.environment",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "d365_raw_load_failure_notification",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "sql_d365_to_raw",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pp_adf_pipeline_notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"subscription": {
												"value": "@pipeline().globalParameters.subscriptionId",
												"type": "Expression"
											},
											"resourceGroup": {
												"value": "@pipeline().globalParameters.resourceGroup",
												"type": "Expression"
											},
											"runId": {
												"value": "@coalesce(pipeline().RunId,-1)",
												"type": "Expression"
											},
											"name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"triggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"status": {
												"value": "@activity('sql_d365_to_raw').Status",
												"type": "Expression"
											},
											"message": {
												"value": "@replace(replace(replace(activity('sql_d365_to_raw').Error['message'], '\\','\\\\'), '''', ''), '\"' , '')",
												"type": "Expression"
											},
											"executionEndTime": {
												"value": "@activity('sql_d365_to_raw').ExecutionEndTime",
												"type": "Expression"
											},
											"runDuration": {
												"value": "@activity('sql_d365_to_raw').Duration",
												"type": "Expression"
											},
											"teamWebhookUrl": {
												"value": "@pipeline().globalParameters.teamsWebhookUrl",
												"type": "Expression"
											},
											"notificationTime": {
												"value": "@utcNow()",
												"type": "Expression"
											},
											"taskName": "@pipeline().parameters.p_tgt_curate_table_nm",
											"taskStepNumber": {
												"value": "@pipeline().parameters.p_src_code",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "sql_d365_load_to_raw_fail",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "d365_raw_load_failure_notification",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@activity('sql_d365_to_raw').Error['message']",
											"type": "Expression"
										},
										"errorCode": "500"
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "default_wait",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					]
				}
			},
			{
				"name": "pipeline_execution_notification",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "raw_to_curate_sp_call",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(equals(activity('raw_to_curate_sp_call').output.resultSets[0].rows[0]['SP_TASK_INITIALIZE'],'TRUE'),bool('TRUE'), bool('FALSE'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "pp_stored_procedure_failure_notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pp_adf_pipeline_notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.subscriptionId",
										"type": "Expression"
									},
									"resourceGroup": {
										"value": "@pipeline().globalParameters.resourceGroup",
										"type": "Expression"
									},
									"runId": {
										"value": "@coalesce(pipeline().RunId, -1)",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"status": {
										"value": "@toUpper('failed')",
										"type": "Expression"
									},
									"message": {
										"value": "@activity('raw_to_curate_sp_call').output.resultSets[0].rows[0]['SP_TASK_INITIALIZE']",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@activity('raw_to_curate_sp_call').ExecutionEndTime",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@activity('raw_to_curate_sp_call').Duration",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "@pipeline().globalParameters.teamsWebhookUrl",
										"type": "Expression"
									},
									"notificationTime": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"taskName": {
										"value": "@pipeline().parameters.p_tgt_curate_table_nm",
										"type": "Expression"
									},
									"taskStepNumber": {
										"value": "@pipeline().parameters.p_src_code",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "curate_load_failure",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "pp_stored_procedure_failure_notification",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('raw_to_curate_sp_call').output.resultSets[0].rows[0]['SP_TASK_INITIALIZE']",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "stored_procedure_success_notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pp_adf_pipeline_notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.subscriptionId",
										"type": "Expression"
									},
									"resourceGroup": {
										"value": "@pipeline().globalParameters.resourceGroup",
										"type": "Expression"
									},
									"runId": {
										"value": "@coalesce(pipeline().RunId, -1)",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"status": {
										"value": "@activity('raw_to_curate_sp_call').Status",
										"type": "Expression"
									},
									"message": {
										"value": "@concat(pipeline().parameters.p_tgt_curate_table_nm, ' is successfully loaded')",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@activity('raw_to_curate_sp_call').ExecutionEndTime",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@activity('raw_to_curate_sp_call').Duration",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "@pipeline().globalParameters.teamsWebhookUrl",
										"type": "Expression"
									},
									"notificationTime": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"taskName": {
										"value": "@pipeline().parameters.p_tgt_curate_table_nm",
										"type": "Expression"
									},
									"taskStepNumber": {
										"value": "@pipeline().parameters.p_src_code",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_src_nm": {
				"type": "string",
				"defaultValue": "AXNALA"
			},
			"p_tgt_raw_table_nm": {
				"type": "string",
				"defaultValue": "VENDPACKINGSLIPTRANS"
			},
			"p_tgt_raw_schema_nm": {
				"type": "string",
				"defaultValue": "AX_NALA"
			},
			"p_tgt_curate_table_nm": {
				"type": "string",
				"defaultValue": "FACT_PURCHASE_RECEIPTS"
			},
			"p_tgt_curate_schema_nm": {
				"type": "string",
				"defaultValue": "GLOBAL"
			},
			"p_src_schema_nm": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"p_src_table_nm": {
				"type": "string",
				"defaultValue": "VENDPACKINGSLIPTRANS"
			},
			"p_src_code": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"v_prv_max_upd_timestamp": {
				"type": "String"
			}
		},
		"annotations": []
	}
}