NALA_ADF 2025-04-18/pipeline/pp_ax_inventtable_to_dim_item.json
{
	"name": "pp_ax_inventtable_to_dim_item",
	"properties": {
		"activities": [
			{
				"name": "load_dim_item",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "switch_nala_retail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_load_dim_item",
						"type": "DataFlowReference",
						"parameters": {
							"df_prev_max_timestamp": {
								"value": "'@{variables('v_prev_max_timestamp')}'",
								"type": "Expression"
							},
							"df_last_mod_tmstmp_sizegroupmapping": {
								"value": "'@{variables('v_last_mod_tmstmp_sizegroupmapping')}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"SrcInventTable": {
								"p_directory": {
									"value": "@pipeline().parameters.p_temp_directory",
									"type": "Expression"
								},
								"p_root_system": {
									"value": "@pipeline().globalParameters.rootDir",
									"type": "Expression"
								},
								"p_file_name": {
									"value": "@pipeline().parameters.p_temp_file_nm",
									"type": "Expression"
								}
							},
							"SrcInventHierarchy": {
								"p_tgt_table_name": {
									"value": "@pipeline().parameters.p_tgt_raw_table_nm_2",
									"type": "Expression"
								},
								"p_tgt_schema_name": {
									"value": "@pipeline().parameters.p_tgt_raw_schema_nm",
									"type": "Expression"
								},
								"p_ls_DbName": {
									"value": "@pipeline().globalParameters.snow_rawDb",
									"type": "Expression"
								},
								"p_ls_Env": {
									"value": "@pipeline().globalParameters.environment",
									"type": "Expression"
								}
							},
							"SrcSizeGroupMapping": {
								"p_directory": {
									"value": "@pipeline().parameters.p_src_directory",
									"type": "Expression"
								},
								"p_file_nm": {
									"value": "@pipeline().parameters.p_src_file_nm",
									"type": "Expression"
								},
								"p_root_system": {
									"value": "@pipeline().globalParameters.rootDir",
									"type": "Expression"
								}
							},
							"InsertInventTable": {
								"p_tgt_table_name": {
									"value": "@pipeline().parameters.p_tgt_raw_table_nm",
									"type": "Expression"
								},
								"p_tgt_schema_name": {
									"value": "@pipeline().parameters.p_tgt_raw_schema_nm",
									"type": "Expression"
								},
								"p_ls_DbName": {
									"value": "@pipeline().globalParameters.snow_rawDb",
									"type": "Expression"
								},
								"p_ls_Env": {
									"value": "@pipeline().globalParameters.environment",
									"type": "Expression"
								}
							},
							"InventtableHierarchy": {
								"p_tgt_table_name": {
									"value": "@pipeline().parameters.p_tgt_raw_table_nm_2",
									"type": "Expression"
								},
								"p_tgt_schema_name": {
									"value": "@pipeline().parameters.p_tgt_raw_schema_nm",
									"type": "Expression"
								},
								"p_ls_DbName": {
									"value": "@pipeline().globalParameters.snow_rawDb",
									"type": "Expression"
								},
								"p_ls_Env": {
									"value": "@pipeline().globalParameters.environment",
									"type": "Expression"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "IR-Snowflake-NALA",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "lkp_raw_last_modified_date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "set_last_mod_tmstmp_SizeGroupMapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "@concat('select max(to_varchar(LATEST_MODIFIEDDATETIME::timestamp, ''','yyyy-mm-dd hh24:mi:ss',''')) as max_date from ',pipeline().globalParameters.environment,'_',pipeline().globalParameters.snow_rawDb,'.',pipeline().parameters.p_tgt_raw_schema_nm, '.', pipeline().parameters.p_tgt_raw_table_nm)",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "ds_snowflake",
						"type": "DatasetReference",
						"parameters": {
							"p_tgt_table_name": {
								"value": "@pipeline().parameters.p_tgt_curate_table_nm",
								"type": "Expression"
							},
							"p_tgt_schema_name": {
								"value": "@pipeline().parameters.p_tgt_curate_schema_nm",
								"type": "Expression"
							},
							"p_ls_DbName": {
								"value": "@pipeline().globalParameters.snow_rawDb",
								"type": "Expression"
							},
							"p_ls_Env": {
								"value": "@pipeline().globalParameters.environment",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "set_last_modified_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkp_raw_last_modified_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_prev_max_timestamp",
					"value": {
						"value": "@coalesce(activity('lkp_raw_last_modified_date').output.firstRow.max_date, '1950-01-01 00:00:00')\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "raw_to_curate_sp_call",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "load_dim_item",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_DbName": {
							"value": "@pipeline().globalParameters.snow_auditDb",
							"type": "Expression"
						},
						"ls_Env": {
							"value": "@pipeline().globalParameters.environment",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('CALL ',pipeline().globalParameters.environment,'_',pipeline().globalParameters.snow_auditDb,'.CONTROL.SP_TASK_INITIALIZE(','''',pipeline().RunId,'''',',','''',pipeline().globalParameters.environment,'''',',','''',pipeline().parameters.p_tgt_curate_table_nm,'''',',',pipeline().parameters.p_src_code,')')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "load_dim_item_failure_notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "load_dim_item",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pp_adf_pipeline_notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.subscriptionId",
							"type": "Expression"
						},
						"resourceGroup": {
							"value": "@pipeline().globalParameters.resourceGroup",
							"type": "Expression"
						},
						"runId": {
							"value": "@coalesce(pipeline().RunId, -1)",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('load_dim_item').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@activity('load_dim_item').Error['message']",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('load_dim_item').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('load_dim_item').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.teamsWebhookUrl",
							"type": "Expression"
						},
						"notificationTime": {
							"value": "@utcNow()",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "raw_to_curate_storedprocedure_failure_notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "raw_to_curate_sp_call",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pp_adf_pipeline_notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.subscriptionId",
							"type": "Expression"
						},
						"resourceGroup": {
							"value": "@pipeline().globalParameters.resourceGroup",
							"type": "Expression"
						},
						"runId": {
							"value": "@coalesce(pipeline().RunId, -1)",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('raw_to_curate_sp_call').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@activity('raw_to_curate_sp_call').Error['message']",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('raw_to_curate_sp_call').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('raw_to_curate_sp_call').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.teamsWebhookUrl",
							"type": "Expression"
						},
						"notificationTime": {
							"value": "@utcNow()",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "get_last_modifieddatetime_SizeGroupMapping",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_delimited_csv",
						"type": "DatasetReference",
						"parameters": {
							"p_directory": {
								"value": "@pipeline().parameters.p_src_directory",
								"type": "Expression"
							},
							"p_file_nm": {
								"value": "@pipeline().parameters.p_src_file_nm",
								"type": "Expression"
							},
							"p_root_system": {
								"value": "@pipeline().globalParameters.rootDir",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "set_last_mod_tmstmp_SizeGroupMapping",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_last_modifieddatetime_SizeGroupMapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_last_mod_tmstmp_sizegroupmapping",
					"value": {
						"value": "@coalesce(activity('get_last_modifieddatetime_SizeGroupMapping').output.lastModified,'1950-01-01 00:00:00')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "pipeline_execution_notification",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "raw_to_curate_sp_call",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(equals(activity('raw_to_curate_sp_call').output.resultSets[0].rows[0]['SP_TASK_INITIALIZE'],'TRUE'),bool('TRUE'), bool('FALSE'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "pp_stored_procedure_failure_notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pp_adf_pipeline_notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.subscriptionId",
										"type": "Expression"
									},
									"resourceGroup": {
										"value": "@pipeline().globalParameters.resourceGroup",
										"type": "Expression"
									},
									"runId": {
										"value": "@coalesce(pipeline().RunId, -1)",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"status": {
										"value": "@toUpper('failed')",
										"type": "Expression"
									},
									"message": {
										"value": "@activity('raw_to_curate_sp_call').output.resultSets[0].rows[0]['SP_TASK_INITIALIZE']",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@activity('raw_to_curate_sp_call').ExecutionEndTime",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@activity('raw_to_curate_sp_call').Duration",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "@pipeline().globalParameters.teamsWebhookUrl",
										"type": "Expression"
									},
									"notificationTime": {
										"value": "@utcNow()",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "curate_load_failure",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "pp_stored_procedure_failure_notification",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('raw_to_curate_sp_call').output.resultSets[0].rows[0]['SP_TASK_INITIALIZE']",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "stored_procedure_success_notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pp_adf_pipeline_notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.subscriptionId",
										"type": "Expression"
									},
									"resourceGroup": {
										"value": "@pipeline().globalParameters.resourceGroup",
										"type": "Expression"
									},
									"runId": {
										"value": "@coalesce(pipeline().RunId, -1)",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"status": {
										"value": "@activity('raw_to_curate_sp_call').Status",
										"type": "Expression"
									},
									"message": {
										"value": "@concat(pipeline().parameters.p_tgt_curate_table_nm, ' is successfully loaded')",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@activity('raw_to_curate_sp_call').ExecutionEndTime",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@activity('raw_to_curate_sp_call').Duration",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "@pipeline().globalParameters.teamsWebhookUrl",
										"type": "Expression"
									},
									"notificationTime": {
										"value": "@utcNow()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "switch_nala_retail",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "set_last_modified_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.p_src_code",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "1",
							"activities": [
								{
									"name": "inventtable_to_adls_nala",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"additionalColumns": [
												{
													"name": "HK_JOB_RUN_ID",
													"value": {
														"value": "@coalesce(pipeline().RunId, -1)",
														"type": "Expression"
													}
												},
												{
													"name": "HK_SOURCE_NAME",
													"value": {
														"value": "@pipeline().parameters.p_src_nm",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "Select \n       it1.DATAAREAID\n     , it1.ITEMID\n     , it1.PRODUCT\n     , it1.ABCVALUE\n     , it1.COSTGROUPID\n     , it1.DEFAULTDIMENSION\n     , it1.CREATEDDATETIME\n     , it1.MODIFIEDDATETIME\n     , da1.TIMEZONE                     as DATAAREA_TIMEZONE\n     , e1.PRODUCT                       as ECORESPRODUCTTRANSLATION_PRODUCT\n     , e1.NAME                          as ECORESPRODUCTTRANSLATION_NAME\n     , e1.MODIFIEDDATETIME              as ECORESPRODUCTTRANSLATION_MODIFIEDDATETIME\n     , bcg1.DATAAREAID                  as BOMCOSTGROUP_DATAAREAID\n     , bcg1.COSTGROUPID                 as BOMCOSTGROUP_COSTGROUPID\n     , bcg1.NAME                        as BOMCOSTGROUP_NAME\n     , bcg1.COSTGROUPBEHAVIOR           as BOMCOSTGROUP_COSTGROUPBEHAVIOR\n     , bcg1.COSTGROUPTYPE               as BOMCOSTGROUP_COSTGROUPTYPE\n     , bcg1.TYPEDEFAULT                 as BOMCOSTGROUP_TYPEDEFAULT\n     , E_CATEGORY                       as DEFAULTDIMENSION_E_CATEGORY\n     , E_CATEGORY_DESCRIPTION_PARENT    as DEFAULTDIMENSION_E_CATEGORY_DESCRIPTION_PARENT\n     , E_CATEGORY_DESCRIPTION           as DEFAULTDIMENSION_E_CATEGORY_DESCRIPTION\n     , F_FAMILY                         as DEFAULTDIMENSION_F_FAMILY\n     , F_FAMILY_DESCRIPTION             as DEFAULTDIMENSION_F_FAMILY_DESCRIPTION\n     , DEFAULTDIMENSION_MODIFIEDDATETIME\n     , tzi1.TIMEZONEID                  as TIMEZONEINFO_TIMEZONEID\n     , tzi1.STARTDATE                   as TIMEZONEINFO_STARTDATE\n     , tzi1.ENDDATE                     as TIMEZONEINFO_ENDDATE\n     , tzi1.TIMEBIAS                    as TIMEZONEINFO_TIMEBIAS\n     , itm1.MODULETYPE                  as INVENTTABLEMODULE_MODULETYPE\n     , itm1.DATAAREAID                  as INVENTTABLEMODULE_DATAAREAID\n     , itm1.ITEMID                      as INVENTTABLEMODULE_ITEMID\n     , itm1.UNITID                      as INVENTTABLEMODULE_UNITID\n     , uom1.RECID                       as UNITOFMEASURE_RECID\n     , uom1.SYMBOL                      as UNITOFMEASURE_SYMBOL\n     , uom1.MODIFIEDDATETIME            as UNITOFMEASURE_MODIFIEDDATETIME\n     , uomt1.UNITOFMEASURE              as UNITOFMEASURETRANSLATION_UNITOFMEASURE\n     , uomt1.DESCRIPTION                as UNITOFMEASURETRANSLATION_DESCRIPTION\n     , uomt1.MODIFIEDDATETIME           as UNITOFMEASURETRANSLATION_MODIFIEDDATETIME\n     , brand1.DISPLAYPRODUCTNUMBER      as TSIPHITEM_DISPLAYPRODUCTNUMBER\n     , brand1.BASEITEMID                as TSIPHITEM_BASEITEMID\n     , brand1.PRODSIZE                  as TSIPHITEM_PRODSIZE\n     , brand1.PGCID                     as TSIPHBASEITEM_PGCID\n     , brand1.BASEITEMDESCRIPTION       as TSIPHBASEITEM_BASEITEMDESCRIPTION\n     , brand1.DEFAULTFDNHIGH            as TSIPHBASEITEM_DEFAULTFDNHIGH\n     , brand1.DEFAULTFDNLOW             as TSIPHBASEITEM_DEFAULTFDNLOW\n     , brand1.DEFAULTFDNMED             as TSIPHBASEITEM_DEFAULTFDNMED\n     , brand1.PIECETYPEID               as TSIPHBASEITEM_PIECETYPEID\n     , brand1.PRICECOLLECTIONID         as TSIPHBASEITEM_PRICECOLLECTIONID\n     , brand1.PLEVELID                  as TSIPHGROUP_PLEVELID\n     , brand1.PGCDESC                   as TSIPHGROUP_PGCDESC\n     , brand1.TPG_ISACTIVE              as TSIPHGROUP_ISACTIVE\n     , brand1.EFFECTIVEDATE             as TSIPHGROUP_EFFECTIVEDATE\n     , brand1.EXPIRATIONDATE            as TSIPHGROUP_EXPIRATIONDATE\n     , brand1.MSTRPGCID                 as TSIPHGROUP_MSTRPGCID\n     , brand1.COMFORTID                 as TSIPHGROUP_COMFORTID\n     , brand1.CONSTRUCTID               as TSIPHGROUP_CONSTRUCTID\n     , brand1.LINELAUNCHID              as TSIPHLEVEL_LINELAUNCHID\n     , brand1.YOYID                     as TSIPHLEVEL_YOYID\n     , brand1.PLEVELDESC                as TSIPHLEVEL_PLEVELDESC\n     , brand1.TPL_ISACTIVE              as TSIPHLEVEL_ISACTIVE\n     , brand1.ISSPECIALTY               as TSIPHLEVEL_ISSPECIALTY\n     , brand1.TYPEID                    as TSIPHYEAROVERYEAR_TYPEID\n     , brand1.PRICEBANDID               as TSIPHYEAROVERYEAR_PRICEBANDID\n     , brand1.YOYDESC                   as TSIPHYEAROVERYEAR_YOYDESC\n     , brand1.STYLEID                   as TSIPHTYPE_STYLEID\n     , brand1.TECHNOLOGYID              as TSIPHTYPE_TECHNOLOGYID\n     , brand1.TYPEDESC                  as TSIPHTYPE_TYPEDESC\n     , brand1.BRANDID                   as TSIPHSTYLE_BRANDID\n     , brand1.STYLEDESC                 as TSIPHSTYLE_STYLEDESC\n     , brand1.MBRANDID                  as TSIPHBRAND_MBRANDID\n     , brand1.BRANDDESC                 as TSIPHBRAND_BRANDDESC\n     , brand1.MBRANDDESC                as TSIPHMASTERBRAND_MBRANDDESC\n     , brand1.TECHNOLOGYDESC            as TSIPHTECHNOLOGY_TECHNOLOGYDESC\n     , brand1.PRICEBAND                 as TSIPHPRICEBAND_PRICEBAND\n     , brand1.LINELAUNCHDESC            as TSIPHLINELAUNCH_LINELAUNCHDESC\n     , brand1.COMFORTDESC               as TSIPHCOMFORT_COMFORTDESC\n     , brand1.CONSTRUCTDESC             as TSIPHCONSTRUCTION_CONSTRUCTDESC\n     , brand1.PRICECOLLECTIONDESC       as TSIPHPRICECOLLECTION_PRICECOLLECTIONDESC\n     , brand1.SIZEID                    as TPSSIZE_SIZEID\n     , brand1.DIMENSIONS                as TPSSIZE_DIMENSIONS\n     , brand1.EBCPANELLENGTH            as TPSSIZE_EBCPANELLENGTH\n     , brand1.EBCPANELWIDTH             as TPSSIZE_EBCPANELWIDTH\n     , brand1.ACTIVE                    as TPSSIZE_ACTIVE\n     , (\n           SELECT MAX(LastUpdateDate)\n            FROM\n            (\n                VALUES\n                    (\n                        it1.MODIFIEDDATETIME\n                    )\n                  , (\n                        isnull(   e1.MODIFIEDDATETIME\n                                , '1950-01-01'\n                              )\n                    )\n                  , (\n                        isnull(   uom1.MODIFIEDDATETIME\n                                , '1950-01-01'\n                              )\n                    )\n                  , (\n                        isnull(   uomt1.MODIFIEDDATETIME\n                                , '1950-01-01'\n                              )\n                    )\n            ) AS UpdateDate ( LastUpdateDate )\n       )                                AS LAST_MODIFIEDDATETIME\n     , convert(   varchar (max)\n                , brand1.ITEM_HIERARCHY_HASH_KEY\n                , 2\n              )                         as ITEM_HIERARCHY_HASH_KEY\n     , row_number() over ( partition by brand1.DISPLAYPRODUCTNUMBER\n                                      , brand1.BASEITEMID\n                                      , brand1.PRODSIZE\n                                      , brand1.PGCID\n                                      , brand1.BASEITEMDESCRIPTION\n                                      , brand1.DEFAULTFDNHIGH\n                                      , brand1.DEFAULTFDNLOW\n                                      , brand1.DEFAULTFDNMED\n                                      , brand1.PIECETYPEID\n                                      , brand1.PRICECOLLECTIONID\n                                      , brand1.PLEVELID\n                                      , brand1.PGCDESC\n                                      , brand1.TPG_ISACTIVE\n                                      , brand1.EFFECTIVEDATE\n                                      , brand1.EXPIRATIONDATE\n                                      , brand1.MSTRPGCID\n                                      , brand1.COMFORTID\n                                      , brand1.CONSTRUCTID\n                                      , brand1.LINELAUNCHID\n                                      , brand1.YOYID\n                                      , brand1.PLEVELDESC\n                                      , brand1.TPL_ISACTIVE\n                                      , brand1.ISSPECIALTY\n                                      , brand1.TYPEID\n                                      , brand1.PRICEBANDID\n                                      , brand1.YOYDESC\n                                      , brand1.STYLEID\n                                      , brand1.TECHNOLOGYID\n                                      , brand1.TYPEDESC\n                                      , brand1.BRANDID\n                                      , brand1.STYLEDESC\n                                      , brand1.MBRANDID\n                                      , brand1.BRANDDESC\n                                      , brand1.MBRANDDESC\n                                      , brand1.TECHNOLOGYDESC\n                                      , brand1.PRICEBAND\n                                      , brand1.LINELAUNCHDESC\n                                      , brand1.COMFORTDESC\n                                      , brand1.CONSTRUCTDESC\n                                      , brand1.PRICECOLLECTIONDESC\n                                      , brand1.SIZEID\n                                      , brand1.DIMENSIONS\n                                      , brand1.EBCPANELLENGTH\n                                      , brand1.EBCPANELWIDTH\n                                      , brand1.ACTIVE\n                                      , brand1.ITEM_HIERARCHY_HASH_KEY\n                           order by\n                               (\n                                   SELECT MAX(LastUpdateDate)\n                                    FROM\n                                    (\n                                        VALUES\n                                            (\n                                                it1.MODIFIEDDATETIME\n                                            )\n                                          , (\n                                                isnull(   e1.MODIFIEDDATETIME\n                                                        , '1950-01-01'\n                                                      )\n                                            )\n                                          , (\n                                                isnull(   uom1.MODIFIEDDATETIME\n                                                        , '1950-01-01'\n                                                      )\n                                            )\n                                          , (\n                                                isnull(   uomt1.MODIFIEDDATETIME\n                                                        , '1950-01-01'\n                                                      )\n                                            )\n                                    ) AS UpdateDate ( LastUpdateDate )\n                               ) DESC\n                         )              as BRAND_RANK\n     , iig1.itemgroupid                 As ITEMGROUPID\n\t , iig1.itemgroupname\t\t\t\tAs ITEMGROUPNAME\n From\n    dbo.INVENTTABLE            it1\n     left join\n     (\n         Select iigi.ITEMGROUPID As itemgroupid\n              , iig.Name As itemgroupname\n\t\t\t  , iigi.itemid\n\t\t\t  , iigi.ITEMDATAAREAID\n          FROM\n             dbo.INVENTITEMGROUP          iig\n              Inner Join\n                  dbo.INVENTITEMGROUPITEM iigi\n              On\n                  iig.ITEMGROUPID = iigi.ITEMGROUPID\n                  And iig.DATAAREAID = iigi.ITEMGROUPDATAAREAID\n     )                         iig1\n     ON\n         it1.ITEMID = iig1.ITEMID\n         and it1.DATAAREAID = iig1.ITEMDATAAREAID\n     left join\n     (\n         select d10.ID\n              , d10.TIMEZONE\n          from\n             dbo.DATAAREA                                                          d10\n              inner join\n              ( select ID, max(RECID) as MAX_RECID from dbo.DATAAREA group by ID ) d11\n              on\n                  d10.ID = d11.ID\n                  and d10.RECID = d11.MAX_RECID\n     )                         da1\n     on\n         it1.DATAAREAID = da1.ID\n     left join\n     (\n         select e10.PRODUCT\n              , e10.NAME\n              , e10.MODIFIEDDATETIME\n          from\n             dbo.ECORESPRODUCTTRANSLATION e10\n              inner join\n              (\n                  select PRODUCT\n                       , max(MODIFIEDDATETIME) as MAX_MODIFIEDDATETIME\n                   from\n                      dbo.ECORESPRODUCTTRANSLATION\n                   where\n                      LANGUAGEID = 'en-us'\n                   group by\n                      PRODUCT\n              )                           e11\n              on\n                  e10.PRODUCT = e11.PRODUCT\n                  and e10.MODIFIEDDATETIME = e11.MAX_MODIFIEDDATETIME\n          where\n             LANGUAGEID = 'en-us'\n     )                         e1\n     on\n         it1.PRODUCT = e1.PRODUCT\n     left join\n         dbo.BOMCOSTGROUP      bcg1\n     on\n         it1.DATAAREAID = bcg1.DATAAREAID\n         and it1.COSTGROUPID = bcg1.COSTGROUPID\n     left join\n     (\n         select distinct\n                it1.DEFAULTDIMENSION\n              , max(   case\n                           when da1.NAME = 'E_Category'\n                               then davsi1.DISPLAYVALUE\n                           else null\n                       end\n                   ) over ( partition by it1.DEFAULTDIMENSION ) as E_CATEGORY\n              , max(   case\n                           when da1.NAME = 'F_Family'\n                               then davsi1.DISPLAYVALUE\n                           else null\n                       end\n                   ) over ( partition by it1.DEFAULTDIMENSION ) as F_FAMILY\n              , max(   case\n                           when da1.NAME = 'E_Category'\n                                and davsi1.DISPLAYVALUE in\n                              (\n                                  '10'\n                                , '11'\n                                , '20'\n                                , '50'\n                                , '60'\n                              )\n                               then desc1.DESCRIPTION\n                           when da1.NAME = 'E_Category'\n                               then 'Other'\n                           else null\n                       end\n                   ) over ( partition by it1.DEFAULTDIMENSION ) as E_CATEGORY_DESCRIPTION_PARENT\n              -- use MIN because you want the first iteration of the character set\n              , min(   case\n                           when da1.NAME = 'E_Category'\n                               then desc1.DESCRIPTION\n                           else null\n                       end\n                   ) over ( partition by it1.DEFAULTDIMENSION ) as E_CATEGORY_DESCRIPTION\n              , min(   case\n                           when da1.NAME = 'F_Family'\n                               then desc1.DESCRIPTION\n                           else null\n                       end\n                   ) over ( partition by it1.DEFAULTDIMENSION ) as F_FAMILY_DESCRIPTION\n              , max((\n                        select max(i)\n                         from\n                         (\n                             values\n                                 (\n                                     davsi1.MODIFIEDDATETIME\n                                 )\n                               , (\n                                     dav1.MODIFIEDDATETIME\n                                 )\n                               , (\n                                     da1.MODIFIEDDATETIME\n                                 )\n                               , (\n                                     desc1.DESC_MODIFIEDDATETIME\n                                 )\n                         ) AS T ( i )\n                    )\n                   ) over ( partition by it1.DEFAULTDIMENSION ) as DEFAULTDIMENSION_MODIFIEDDATETIME\n          from\n          ( select distinct DEFAULTDIMENSION from dbo.INVENTTABLE ) it1\n              left join\n                  dbo.DIMENSIONATTRIBUTEVALUESETITEM                davsi1\n              on\n                  it1.DEFAULTDIMENSION = davsi1.DIMENSIONATTRIBUTEVALUESET\n              left join\n                  dbo.DIMENSIONATTRIBUTEVALUE                       dav1\n              on\n                  davsi1.DIMENSIONATTRIBUTEVALUE = dav1.RECID\n              left join\n                  dbo.DIMENSIONATTRIBUTE                            da1\n              on\n                  dav1.DIMENSIONATTRIBUTE = da1.RECID\n              left join\n              (\n                  select dft1.VALUE\n                       , da2.NAME\n                       , dft1.DESCRIPTION\n                       , (\n                             select max(i)\n                              from\n                              (\n                                  values\n                                      (\n                                          dft1.MODIFIEDDATETIME\n                                      )\n                                    , (\n                                          dadc1.MODIFIEDDATETIME\n                                      )\n                                    , (\n                                          da2.MODIFIEDDATETIME\n                                      )\n                              ) AS T ( i )\n                         ) as DESC_MODIFIEDDATETIME\n                   from\n                      dbo.DIMENSIONFINANCIALTAG              dft1\n                       left join\n                           dbo.DIMENSIONATTRIBUTEDIRCATEGORY dadc1\n                       on\n                           dft1.FINANCIALTAGCATEGORY = dadc1.DIRCATEGORY\n                       left join\n                           dbo.DIMENSIONATTRIBUTE            da2\n                       on\n                           dadc1.DIMENSIONATTRIBUTE = da2.RECID\n              )                                                     desc1\n              on\n                  davsi1.DISPLAYVALUE = desc1.VALUE\n                  and da1.NAME = desc1.NAME\n     )                         def1\n     on\n         it1.DEFAULTDIMENSION = def1.DEFAULTDIMENSION\n     left join\n         dbo.TIMEZONEINFO      tzi1\n     on\n         da1.TIMEZONE = tzi1.TIMEZONEID\n         and it1.CREATEDDATETIME >= tzi1.STARTDATE\n         and it1.CREATEDDATETIME < tzi1.ENDDATE\n     left join\n         dbo.INVENTTABLEMODULE itm1\n     on\n         itm1.MODULETYPE = 1\n         and it1.DATAAREAID = itm1.DATAAREAID\n         and it1.ITEMID = itm1.ITEMID\n     left join\n     (\n         select uom10.RECID\n              , uom10.SYMBOL\n              , uom10.MODIFIEDDATETIME\n          from\n             dbo.UNITOFMEASURE uom10\n              inner join\n              (\n                  select SYMBOL\n                       , max(MODIFIEDDATETIME) as MAX_MODIFIEDDATETIME\n                   from\n                      dbo.UNITOFMEASURE\n                   group by\n                      SYMBOL\n              )                uom11\n              on\n                  uom10.SYMBOL = uom11.SYMBOL\n                  and uom10.MODIFIEDDATETIME = uom11.MAX_MODIFIEDDATETIME\n     )                         uom1\n     on\n         itm1.UNITID = uom1.SYMBOL\n     left join\n     (\n         select uomt10.UNITOFMEASURE\n              , uomt10.DESCRIPTION\n              , uomt10.MODIFIEDDATETIME\n          from\n             dbo.UNITOFMEASURETRANSLATION uomt10\n              inner join\n              (\n                  select UNITOFMEASURE\n                       , max(MODIFIEDDATETIME) as MAX_MODIFIEDDATETIME\n                   from\n                      dbo.UNITOFMEASURETRANSLATION\n                   where\n                      LANGUAGEID = 'en-us'\n                   group by\n                      UNITOFMEASURE\n              )                           uomt11\n              on\n                  uomt10.UNITOFMEASURE = uomt11.UNITOFMEASURE\n                  and uomt10.MODIFIEDDATETIME = uomt11.MAX_MODIFIEDDATETIME\n          where\n             uomt10.LANGUAGEID = 'en-us'\n     )                         uomt1\n     on\n         uom1.RECID = uomt1.UNITOFMEASURE\n     left join\n     (\n         select distinct\n                tpi1.DISPLAYPRODUCTNUMBER\n              , tpi1.BASEITEMID\n              , tpi1.PRODSIZE\n              , tpbi1.PGCID\n              , tpbi1.BASEITEMDESCRIPTION\n              , tpbi1.DEFAULTFDNHIGH\n              , tpbi1.DEFAULTFDNLOW\n              , tpbi1.DEFAULTFDNMED\n              , tpbi1.PIECETYPEID\n              , tpbi1.PRICECOLLECTIONID\n              , tpg1.PLEVELID\n              , tpg1.PGCDESC\n              , tpg1.ISACTIVE as TPG_ISACTIVE\n              , tpg1.EFFECTIVEDATE\n              , tpg1.EXPIRATIONDATE\n              , tpg1.MSTRPGCID\n              , tpg1.COMFORTID\n              , tpg1.CONSTRUCTID\n              , tpl1.LINELAUNCHID\n              , tpl1.YOYID\n              , tpl1.PLEVELDESC\n              , tpl1.ISACTIVE as TPL_ISACTIVE\n              , tpl1.ISSPECIALTY\n              , tpyoy1.TYPEID\n              , tpyoy1.PRICEBANDID\n              , tpyoy1.YOYDESC\n              , tpt1.STYLEID\n              , tpt1.TECHNOLOGYID\n              , tpt1.TYPEDESC\n              , tps1.BRANDID\n              , tps1.STYLEDESC\n              , tpb1.MBRANDID\n              , tpb1.BRANDDESC\n              , tpmb1.MBRANDDESC\n              , tptech1.TECHNOLOGYDESC\n              , tppb1.PRICEBAND\n              , tpll1.LINELAUNCHDESC\n              , tpc1.COMFORTDESC\n              , tpcon1.CONSTRUCTDESC\n              , tppc1.PRICECOLLECTIONDESC\n              , ts1.SIZEID\n              , ts1.DIMENSIONS\n              , ts1.EBCPANELLENGTH\n              , ts1.EBCPANELWIDTH\n              , ts1.ACTIVE\n              , hashbytes(   'SHA2_256'\n                           , concat(   tpi1.DISPLAYPRODUCTNUMBER\n                                     , tpi1.BASEITEMID\n                                     , tpi1.PRODSIZE\n                                     , tpbi1.PGCID\n                                     , tpbi1.BASEITEMDESCRIPTION\n                                     , tpbi1.DEFAULTFDNHIGH\n                                     , tpbi1.DEFAULTFDNLOW\n                                     , tpbi1.DEFAULTFDNMED\n                                     , tpbi1.PIECETYPEID\n                                     , tpbi1.PRICECOLLECTIONID\n                                     , tpg1.PLEVELID\n                                     , tpg1.PGCDESC\n                                     , tpg1.ISACTIVE\n                                     , tpg1.EFFECTIVEDATE\n                                     , tpg1.EXPIRATIONDATE\n                                     , tpg1.MSTRPGCID\n                                     , tpg1.COMFORTID\n                                     , tpg1.CONSTRUCTID\n                                     , tpl1.LINELAUNCHID\n                                     , tpl1.YOYID\n                                     , tpl1.PLEVELDESC\n                                     , tpl1.ISACTIVE\n                                     , tpl1.ISSPECIALTY\n                                     , tpyoy1.TYPEID\n                                     , tpyoy1.PRICEBANDID\n                                     , tpyoy1.YOYDESC\n                                     , tpt1.STYLEID\n                                     , tpt1.TECHNOLOGYID\n                                     , tpt1.TYPEDESC\n                                     , tps1.BRANDID\n                                     , tps1.STYLEDESC\n                                     , tpb1.MBRANDID\n                                     , tpb1.BRANDDESC\n                                     , tpmb1.MBRANDDESC\n                                     , tptech1.TECHNOLOGYDESC\n                                     , tppb1.PRICEBAND\n                                     , tpll1.LINELAUNCHDESC\n                                     , tpc1.COMFORTDESC\n                                     , tpcon1.CONSTRUCTDESC\n                                     , tppc1.PRICECOLLECTIONDESC\n                                     , ts1.SIZEID\n                                     , ts1.DIMENSIONS\n                                     , ts1.EBCPANELLENGTH\n                                     , ts1.EBCPANELWIDTH\n                                     , ts1.ACTIVE\n                                   )\n                         )    as ITEM_HIERARCHY_HASH_KEY\n          from\n             dbo.TSIPHITEM                 tpi1\n              left join\n                  dbo.TSIPHBASEITEM        tpbi1\n              on\n                  tpi1.BASEITEMID = tpbi1.BASEITEMID\n              left join\n                  dbo.TSIPHGROUP           tpg1\n              on\n                  tpbi1.PGCID = tpg1.PGCID\n              left join\n                  dbo.TSIPHLEVEL           tpl1\n              on\n                  tpg1.PLEVELID = tpl1.PLEVELID\n              left join\n                  dbo.TSIPHYEAROVERYEAR    tpyoy1\n              on\n                  tpl1.YOYID = tpyoy1.YOYID\n              left join\n                  dbo.TSIPHTYPE            tpt1\n              on\n                  tpyoy1.TYPEID = tpt1.TYPEID\n              left join\n                  dbo.TSIPHSTYLE           tps1\n              on\n                  tpt1.STYLEID = tps1.STYLEID\n              left join\n                  dbo.TSIPHBRAND           tpb1\n              on\n                  tps1.BRANDID = tpb1.BRANDID\n              left join\n                  dbo.TSIPHMASTERBRAND     tpmb1\n              on\n                  tpb1.MBRANDID = tpmb1.MBRANDID\n              left join\n                  dbo.TSIPHTECHNOLOGY      tptech1\n              on\n                  tpt1.TECHNOLOGYID = tptech1.TECHNOLOGYID\n              left join\n                  dbo.TSIPHPRICEBAND       tppb1\n              on\n                  tpyoy1.PRICEBANDID = tppb1.PRICEBANDID\n              left join\n                  dbo.TSIPHLINELAUNCH      tpll1\n              on\n                  tpl1.LINELAUNCHID = tpll1.LINELAUNCHID\n              left join\n                  dbo.TSIPHCOMFORT         tpc1\n              on\n                  tpg1.COMFORTID = tpc1.COMFORTID\n              left join\n                  dbo.TSIPHCONSTRUCTION    tpcon1\n              on\n                  tpg1.CONSTRUCTID = tpcon1.CONSTRUCTID\n              left join\n                  dbo.TSIPHPRICECOLLECTION tppc1\n              on\n                  tpbi1.PRICECOLLECTIONID = tppc1.PRICECOLLECTIONID\n              left join\n                  dbo.TPSSIZE              ts1\n              on\n                  tpi1.PRODSIZE = ts1.SIZECODE\n     )                         brand1\n     on\n         it1.ITEMID = brand1.DISPLAYPRODUCTNUMBER\n Where\n    it1.dataareaid <> '761'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "DATAAREAID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DATAAREAID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "ITEMID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "ITEMID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "PRODUCT",
														"type": "Int64",
														"physicalType": "bigint"
													},
													"sink": {
														"name": "PRODUCT",
														"type": "Int64",
														"physicalType": "INT_64"
													}
												},
												{
													"source": {
														"name": "ABCVALUE",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "ABCVALUE",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "COSTGROUPID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "COSTGROUPID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64",
														"physicalType": "bigint"
													},
													"sink": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64",
														"physicalType": "INT_64"
													}
												},
												{
													"source": {
														"name": "CREATEDDATETIME",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "CREATEDDATETIME",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "DATAAREA_TIMEZONE",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "DATAAREA_TIMEZONE",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "ECORESPRODUCTTRANSLATION_PRODUCT",
														"type": "Int64",
														"physicalType": "bigint"
													},
													"sink": {
														"name": "ECORESPRODUCTTRANSLATION_PRODUCT",
														"type": "Int64",
														"physicalType": "INT_64"
													}
												},
												{
													"source": {
														"name": "ECORESPRODUCTTRANSLATION_NAME",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "ECORESPRODUCTTRANSLATION_NAME",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "ECORESPRODUCTTRANSLATION_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "ECORESPRODUCTTRANSLATION_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "BOMCOSTGROUP_DATAAREAID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "BOMCOSTGROUP_DATAAREAID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "BOMCOSTGROUP_COSTGROUPID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "BOMCOSTGROUP_COSTGROUPID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "BOMCOSTGROUP_NAME",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "BOMCOSTGROUP_NAME",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "BOMCOSTGROUP_COSTGROUPBEHAVIOR",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "BOMCOSTGROUP_COSTGROUPBEHAVIOR",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "BOMCOSTGROUP_COSTGROUPTYPE",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "BOMCOSTGROUP_COSTGROUPTYPE",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "BOMCOSTGROUP_TYPEDEFAULT",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "BOMCOSTGROUP_TYPEDEFAULT",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION_E_CATEGORY",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DEFAULTDIMENSION_E_CATEGORY",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION_E_CATEGORY_DESCRIPTION_PARENT",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DEFAULTDIMENSION_E_CATEGORY_DESCRIPTION_PARENT",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION_E_CATEGORY_DESCRIPTION",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DEFAULTDIMENSION_E_CATEGORY_DESCRIPTION",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION_F_FAMILY",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DEFAULTDIMENSION_F_FAMILY",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION_F_FAMILY_DESCRIPTION",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DEFAULTDIMENSION_F_FAMILY_DESCRIPTION",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "DEFAULTDIMENSION_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "TIMEZONEINFO_TIMEZONEID",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "TIMEZONEINFO_TIMEZONEID",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "TIMEZONEINFO_STARTDATE",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "TIMEZONEINFO_STARTDATE",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "TIMEZONEINFO_ENDDATE",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "TIMEZONEINFO_ENDDATE",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "TIMEZONEINFO_TIMEBIAS",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "TIMEZONEINFO_TIMEBIAS",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_MODULETYPE",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_MODULETYPE",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_DATAAREAID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_DATAAREAID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_ITEMID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_ITEMID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_UNITID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_UNITID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "UNITOFMEASURE_RECID",
														"type": "Int64",
														"physicalType": "bigint"
													},
													"sink": {
														"name": "UNITOFMEASURE_RECID",
														"type": "Int64",
														"physicalType": "INT_64"
													}
												},
												{
													"source": {
														"name": "UNITOFMEASURE_SYMBOL",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "UNITOFMEASURE_SYMBOL",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "UNITOFMEASURE_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "UNITOFMEASURE_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "UNITOFMEASURETRANSLATION_UNITOFMEASURE",
														"type": "Int64",
														"physicalType": "bigint"
													},
													"sink": {
														"name": "UNITOFMEASURETRANSLATION_UNITOFMEASURE",
														"type": "Int64",
														"physicalType": "INT_64"
													}
												},
												{
													"source": {
														"name": "UNITOFMEASURETRANSLATION_DESCRIPTION",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "UNITOFMEASURETRANSLATION_DESCRIPTION",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "UNITOFMEASURETRANSLATION_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "UNITOFMEASURETRANSLATION_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "TSIPHITEM_DISPLAYPRODUCTNUMBER",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHITEM_DISPLAYPRODUCTNUMBER",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHITEM_BASEITEMID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHITEM_BASEITEMID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHITEM_PRODSIZE",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHITEM_PRODSIZE",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBASEITEM_PGCID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBASEITEM_PGCID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBASEITEM_BASEITEMDESCRIPTION",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBASEITEM_BASEITEMDESCRIPTION",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBASEITEM_DEFAULTFDNHIGH",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBASEITEM_DEFAULTFDNHIGH",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBASEITEM_DEFAULTFDNLOW",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBASEITEM_DEFAULTFDNLOW",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBASEITEM_DEFAULTFDNMED",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBASEITEM_DEFAULTFDNMED",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBASEITEM_PIECETYPEID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBASEITEM_PIECETYPEID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBASEITEM_PRICECOLLECTIONID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBASEITEM_PRICECOLLECTIONID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_PLEVELID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHGROUP_PLEVELID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_PGCDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHGROUP_PGCDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_ISACTIVE",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "TSIPHGROUP_ISACTIVE",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_EFFECTIVEDATE",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "TSIPHGROUP_EFFECTIVEDATE",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_EXPIRATIONDATE",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "TSIPHGROUP_EXPIRATIONDATE",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_MSTRPGCID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHGROUP_MSTRPGCID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_COMFORTID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHGROUP_COMFORTID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_CONSTRUCTID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHGROUP_CONSTRUCTID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHLEVEL_LINELAUNCHID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHLEVEL_LINELAUNCHID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHLEVEL_YOYID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHLEVEL_YOYID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHLEVEL_PLEVELDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHLEVEL_PLEVELDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHLEVEL_ISACTIVE",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "TSIPHLEVEL_ISACTIVE",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "TSIPHLEVEL_ISSPECIALTY",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "TSIPHLEVEL_ISSPECIALTY",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "TSIPHYEAROVERYEAR_TYPEID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHYEAROVERYEAR_TYPEID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHYEAROVERYEAR_PRICEBANDID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHYEAROVERYEAR_PRICEBANDID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHYEAROVERYEAR_YOYDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHYEAROVERYEAR_YOYDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHTYPE_STYLEID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHTYPE_STYLEID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHTYPE_TECHNOLOGYID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHTYPE_TECHNOLOGYID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHTYPE_TYPEDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHTYPE_TYPEDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHSTYLE_BRANDID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHSTYLE_BRANDID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHSTYLE_STYLEDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHSTYLE_STYLEDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBRAND_MBRANDID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBRAND_MBRANDID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBRAND_BRANDDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBRAND_BRANDDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHMASTERBRAND_MBRANDDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHMASTERBRAND_MBRANDDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHTECHNOLOGY_TECHNOLOGYDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHTECHNOLOGY_TECHNOLOGYDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHPRICEBAND_PRICEBAND",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHPRICEBAND_PRICEBAND",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHLINELAUNCH_LINELAUNCHDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHLINELAUNCH_LINELAUNCHDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHCOMFORT_COMFORTDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHCOMFORT_COMFORTDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHCONSTRUCTION_CONSTRUCTDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHCONSTRUCTION_CONSTRUCTDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHPRICECOLLECTION_PRICECOLLECTIONDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHPRICECOLLECTION_PRICECOLLECTIONDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TPSSIZE_SIZEID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TPSSIZE_SIZEID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TPSSIZE_DIMENSIONS",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TPSSIZE_DIMENSIONS",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TPSSIZE_EBCPANELLENGTH",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 16,
														"precision": 32
													},
													"sink": {
														"name": "TPSSIZE_EBCPANELLENGTH",
														"type": "Decimal",
														"physicalType": "DECIMAL"
													}
												},
												{
													"source": {
														"name": "TPSSIZE_EBCPANELWIDTH",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 16,
														"precision": 32
													},
													"sink": {
														"name": "TPSSIZE_EBCPANELWIDTH",
														"type": "Decimal",
														"physicalType": "DECIMAL"
													}
												},
												{
													"source": {
														"name": "TPSSIZE_ACTIVE",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "TPSSIZE_ACTIVE",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "ITEMGROUPID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "ITEMGROUPID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "ITEMGROUPNAME",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "ITEMGROUPNAME",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "LAST_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "LAST_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "ITEM_HIERARCHY_HASH_KEY",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "ITEM_HIERARCHY_HASH_KEY",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "BRAND_RANK",
														"type": "Int64",
														"physicalType": "bigint"
													},
													"sink": {
														"name": "BRAND_RANK",
														"type": "Int64",
														"physicalType": "INT_64"
													}
												},
												{
													"source": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													},
													"sink": {
														"name": "HK_JOB_RUN_ID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													},
													"sink": {
														"name": "HK_SOURCE_NAME",
														"type": "String",
														"physicalType": "UTF8"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sql_server",
											"type": "DatasetReference",
											"parameters": {
												"p_src_table_name": {
													"value": "@pipeline().parameters.p_src_table_nm",
													"type": "Expression"
												},
												"p_src_schema_name": {
													"value": "@pipeline().parameters.p_src_schema_nm",
													"type": "Expression"
												},
												"p_ls_serverName": {
													"value": "@pipeline().globalParameters.nala_sql_serverName",
													"type": "Expression"
												},
												"p_ls_dbName": {
													"value": "@pipeline().globalParameters.nala_sql_dbName",
													"type": "Expression"
												},
												"p_ls_sqlUsername": {
													"value": "@pipeline().globalParameters.sql_userName",
													"type": "Expression"
												},
												"p_ls_sqlPassword": {
													"value": "@pipeline().globalParameters.sql_password",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_parquet",
											"type": "DatasetReference",
											"parameters": {
												"p_directory": {
													"value": "@pipeline().parameters.p_temp_directory",
													"type": "Expression"
												},
												"p_root_system": {
													"value": "@pipeline().globalParameters.rootDir",
													"type": "Expression"
												},
												"p_file_name": {
													"value": "@pipeline().parameters.p_temp_file_nm",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "nala_raw_load_failure_notification",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "inventtable_to_adls_nala",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pp_adf_pipeline_notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"subscription": {
												"value": "@pipeline().globalParameters.subscriptionId",
												"type": "Expression"
											},
											"resourceGroup": {
												"value": "@pipeline().globalParameters.resourceGroup",
												"type": "Expression"
											},
											"runId": {
												"value": "@coalesce(pipeline().RunId, -1)",
												"type": "Expression"
											},
											"name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"triggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"status": {
												"value": "@activity('inventtable_to_adls_nala').Status",
												"type": "Expression"
											},
											"message": {
												"value": "@replace(replace(replace(activity('inventtable_to_adls_nala').Error['message'], '\\','\\\\'), '''', ''), '\"' , '')",
												"type": "Expression"
											},
											"executionEndTime": {
												"value": "@activity('inventtable_to_adls_nala').ExecutionEndTime",
												"type": "Expression"
											},
											"runDuration": {
												"value": "@activity('inventtable_to_adls_nala').Duration",
												"type": "Expression"
											},
											"teamWebhookUrl": {
												"value": "@pipeline().globalParameters.teamsWebhookUrl",
												"type": "Expression"
											},
											"notificationTime": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "sql_nala_load_to_raw_fail",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "nala_raw_load_failure_notification",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@activity('inventtable_to_adls_nala').Error['message']",
											"type": "Expression"
										},
										"errorCode": "500"
									}
								}
							]
						},
						{
							"value": "2",
							"activities": [
								{
									"name": "inventtable_to_adls_retail",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"additionalColumns": [
												{
													"name": "HK_JOB_RUN_ID",
													"value": {
														"value": "@coalesce(pipeline().RunId, -1)",
														"type": "Expression"
													}
												},
												{
													"name": "HK_SOURCE_NAME",
													"value": {
														"value": "@pipeline().parameters.p_src_nm",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "select\nit1.DATAAREAID\n,it1.ITEMID\n,it1.PRODUCT\n,it1.ABCVALUE\n,it1.COSTGROUPID\n,it1.DEFAULTDIMENSION\n,it1.CREATEDDATETIME\n,it1.MODIFIEDDATETIME\n,da1.TIMEZONE as DATAAREA_TIMEZONE\n,e1.PRODUCT as ECORESPRODUCTTRANSLATION_PRODUCT\n,e1.NAME as ECORESPRODUCTTRANSLATION_NAME\n,e1.MODIFIEDDATETIME as ECORESPRODUCTTRANSLATION_MODIFIEDDATETIME\n,bcg1.DATAAREAID as BOMCOSTGROUP_DATAAREAID\n,bcg1.COSTGROUPID as BOMCOSTGROUP_COSTGROUPID\n,bcg1.NAME as BOMCOSTGROUP_NAME\n,bcg1.COSTGROUPBEHAVIOR as BOMCOSTGROUP_COSTGROUPBEHAVIOR\n,bcg1.COSTGROUPTYPE as BOMCOSTGROUP_COSTGROUPTYPE\n,bcg1.TYPEDEFAULT as BOMCOSTGROUP_TYPEDEFAULT\n,E_CATEGORY as DEFAULTDIMENSION_E_CATEGORY\n,E_CATEGORY_DESCRIPTION_PARENT as DEFAULTDIMENSION_E_CATEGORY_DESCRIPTION_PARENT\n,E_CATEGORY_DESCRIPTION as DEFAULTDIMENSION_E_CATEGORY_DESCRIPTION\n,F_FAMILY as DEFAULTDIMENSION_F_FAMILY\n,F_FAMILY_DESCRIPTION as DEFAULTDIMENSION_F_FAMILY_DESCRIPTION\n,DEFAULTDIMENSION_MODIFIEDDATETIME\n,tzi1.TIMEZONEID as TIMEZONEINFO_TIMEZONEID\n,tzi1.STARTDATE as TIMEZONEINFO_STARTDATE\n,tzi1.ENDDATE as TIMEZONEINFO_ENDDATE\n,tzi1.TIMEBIAS as TIMEZONEINFO_TIMEBIAS\n,itm1.MODULETYPE as INVENTTABLEMODULE_MODULETYPE\n,itm1.DATAAREAID as INVENTTABLEMODULE_DATAAREAID\n,itm1.ITEMID as INVENTTABLEMODULE_ITEMID\n,itm1.UNITID as INVENTTABLEMODULE_UNITID\n,uom1.RECID as UNITOFMEASURE_RECID\n,uom1.SYMBOL as UNITOFMEASURE_SYMBOL\n,uom1.MODIFIEDDATETIME as UNITOFMEASURE_MODIFIEDDATETIME\n,uomt1.UNITOFMEASURE as UNITOFMEASURETRANSLATION_UNITOFMEASURE\n,uomt1.DESCRIPTION as UNITOFMEASURETRANSLATION_DESCRIPTION\n,uomt1.MODIFIEDDATETIME as UNITOFMEASURETRANSLATION_MODIFIEDDATETIME\n,null as TSIPHITEM_DISPLAYPRODUCTNUMBER\n,null as TSIPHITEM_BASEITEMID\n,null as TSIPHITEM_PRODSIZE\n,null as TSIPHBASEITEM_PGCID\n,null as TSIPHBASEITEM_BASEITEMDESCRIPTION\n,null as TSIPHBASEITEM_DEFAULTFDNHIGH\n,null as TSIPHBASEITEM_DEFAULTFDNLOW\n,null as TSIPHBASEITEM_DEFAULTFDNMED\n,null as TSIPHBASEITEM_PIECETYPEID\n,null as TSIPHBASEITEM_PRICECOLLECTIONID\n,null as TSIPHGROUP_PLEVELID\n,null as TSIPHGROUP_PGCDESC\n,null as TSIPHGROUP_ISACTIVE\n,null as TSIPHGROUP_EFFECTIVEDATE\n,null as TSIPHGROUP_EXPIRATIONDATE\n,null as TSIPHGROUP_MSTRPGCID\n,null as TSIPHGROUP_COMFORTID\n,null as TSIPHGROUP_CONSTRUCTID\n,null as TSIPHLEVEL_LINELAUNCHID\n,null as TSIPHLEVEL_YOYID\n,null as TSIPHLEVEL_PLEVELDESC\n,null as TSIPHLEVEL_ISACTIVE\n,null as TSIPHLEVEL_ISSPECIALTY\n,null as TSIPHYEAROVERYEAR_TYPEID\n,null as TSIPHYEAROVERYEAR_PRICEBANDID\n,null as TSIPHYEAROVERYEAR_YOYDESC\n,null as TSIPHTYPE_STYLEID\n,null as TSIPHTYPE_TECHNOLOGYID\n,null as TSIPHTYPE_TYPEDESC\n,null as TSIPHSTYLE_BRANDID\n,null as TSIPHSTYLE_STYLEDESC\n,null as TSIPHBRAND_MBRANDID\n,null as TSIPHBRAND_BRANDDESC\n,null as TSIPHMASTERBRAND_MBRANDDESC\n,null as TSIPHTECHNOLOGY_TECHNOLOGYDESC\n,null as TSIPHPRICEBAND_PRICEBAND\n,null as TSIPHLINELAUNCH_LINELAUNCHDESC\n,null as TSIPHCOMFORT_COMFORTDESC\n,null as TSIPHCONSTRUCTION_CONSTRUCTDESC\n,null as TSIPHPRICECOLLECTION_PRICECOLLECTIONDESC\n,null as TPSSIZE_SIZEID\n,null as TPSSIZE_DIMENSIONS\n,null as TPSSIZE_EBCPANELLENGTH\n,null as TPSSIZE_EBCPANELWIDTH\n, null as TPSSIZE_ACTIVE\n, null as ITEMGROUPID\n, null as ITEMGROUPNAME\n,(SELECT MAX(LastUpdateDate)\nFROM (VALUES (it1.MODIFIEDDATETIME),\n(isnull(e1.MODIFIEDDATETIME, '1950-01-01')),\n(isnull(uom1.MODIFIEDDATETIME, '1950-01-01')),\n(isnull(uomt1.MODIFIEDDATETIME, '1950-01-01'))) AS UpdateDate(LastUpdateDate)) AS LAST_MODIFIEDDATETIME\n,null as ITEM_HIERARCHY_HASH_KEY\n,1 as BRAND_RANK\nfrom\ndbo.INVENTTABLE it1\nleft join (select d10.ID, d10.TIMEZONE\n\t\t\tfrom dbo.DATAAREA d10\n\t\t\tinner join (select ID, max(RECID) as MAX_RECID\n\t\t\t\t\t\tfrom dbo.DATAAREA\n\t\t\t\t\t\tgroup by ID) d11 on\n\t\t\t\td10.ID = d11.ID and\n\t\t\t\td10.RECID = d11.MAX_RECID\n\t\t\t) da1 on\n\tit1.DATAAREAID = da1.ID\nleft join (select e10.PRODUCT, e10.NAME, e10.MODIFIEDDATETIME\n\t\t\tfrom dbo.ECORESPRODUCTTRANSLATION e10\n\t\t\tinner join (select PRODUCT, max(MODIFIEDDATETIME) as MAX_MODIFIEDDATETIME\n\t\t\t\t\t\tfrom dbo.ECORESPRODUCTTRANSLATION\n\t\t\t\t\t\twhere LANGUAGEID = 'en-us'\n\t\t\t\t\t\tgroup by PRODUCT) e11 on\n\t\t\t\te10.PRODUCT = e11.PRODUCT and\n\t\t\t\te10.MODIFIEDDATETIME = e11.MAX_MODIFIEDDATETIME\n\t\t\twhere LANGUAGEID = 'en-us') e1 on\n\tit1.PRODUCT = e1.PRODUCT\nleft join dbo.BOMCOSTGROUP bcg1 on\n\tit1.DATAAREAID = bcg1.DATAAREAID and\n\tit1.COSTGROUPID = bcg1.COSTGROUPID\nleft join (select distinct it1.DEFAULTDIMENSION\n\t\t\t\t, max(\n\t\t\t\t\tcase when da1.NAME = 'E_Category' then davsi1.DISPLAYVALUE\n\t\t\t\t\t\telse null\n\t\t\t\t\t\tend\n\t\t\t\t\t) over (partition by it1.DEFAULTDIMENSION) as E_CATEGORY\n\t\t\t\t, max(\n\t\t\t\t\tcase when da1.NAME = 'F_Family' then davsi1.DISPLAYVALUE\n\t\t\t\t\t\telse null\n\t\t\t\t\t\tend\n\t\t\t\t\t) over (partition by it1.DEFAULTDIMENSION) as F_FAMILY\n\t\t\t\t\n\t\t\t\t, max(\n\t\t\t\t\tcase when da1.NAME = 'E_Category' and davsi1.DISPLAYVALUE in ('10', '11', '20', '50', '60') then desc1.DESCRIPTION\n\t\t\t\t\t\twhen da1.NAME = 'E_Category' then 'Other'\n\t\t\t\t\telse null\n\t\t\t\t\tend\n\t\t\t\t\t) over (partition by it1.DEFAULTDIMENSION) as E_CATEGORY_DESCRIPTION_PARENT\n\t\t\t\t-- use MIN because you want the first iteration of the character set\n\t\t\t\t, min(\n\t\t\t\t\tcase when da1.NAME = 'E_Category' then desc1.DESCRIPTION\n\t\t\t\t\telse null\n\t\t\t\t\tend\n\t\t\t\t\t) over (partition by it1.DEFAULTDIMENSION) as E_CATEGORY_DESCRIPTION\n\t\t\t\t, min(\n\t\t\t\t\tcase when da1.NAME = 'F_Family' then desc1.DESCRIPTION\n\t\t\t\t\telse null\n\t\t\t\t\tend\n\t\t\t\t\t) over (partition by it1.DEFAULTDIMENSION) as F_FAMILY_DESCRIPTION\n\t\t\t\t, max(\n\t\t\t\t\t(select max(i) from (values (davsi1.MODIFIEDDATETIME), (dav1.MODIFIEDDATETIME), (da1.MODIFIEDDATETIME), (desc1.DESC_MODIFIEDDATETIME)) AS T(i))\n\t\t\t\t\t) over (partition by it1.DEFAULTDIMENSION) as DEFAULTDIMENSION_MODIFIEDDATETIME\n\t\t\tfrom (select distinct DEFAULTDIMENSION from dbo.INVENTTABLE) it1\n\t\t\tleft join dbo.DIMENSIONATTRIBUTEVALUESETITEM davsi1 on\n\t\t\t\tit1.DEFAULTDIMENSION = davsi1.DIMENSIONATTRIBUTEVALUESET\n\t\t\tleft join dbo.DIMENSIONATTRIBUTEVALUE dav1 on\n\t\t\t\tdavsi1.DIMENSIONATTRIBUTEVALUE = dav1.RECID\n\t\t\tleft join dbo.DIMENSIONATTRIBUTE da1 on\n\t\t\t\tdav1.DIMENSIONATTRIBUTE = da1.RECID\n\t\t\tleft join (select dft1.VALUE, da2.NAME, dft1.DESCRIPTION\n\t\t\t\t\t\t\t, (select max(i) from (values (dft1.MODIFIEDDATETIME), (dadc1.MODIFIEDDATETIME), (da2.MODIFIEDDATETIME)) AS T(i)) as DESC_MODIFIEDDATETIME\n\t\t\t\t\t\tfrom dbo.DIMENSIONFINANCIALTAG dft1\n\t\t\t\t\t\tleft join dbo.DIMENSIONATTRIBUTEDIRCATEGORY dadc1 on\n\t\t\t\t\t\t\tdft1.FINANCIALTAGCATEGORY = dadc1.DIRCATEGORY\n\t\t\t\t\t\tleft join dbo.DIMENSIONATTRIBUTE da2 on\n\t\t\t\t\t\t\tdadc1.DIMENSIONATTRIBUTE = da2.RECID) desc1 on\n\t\t\t\tdavsi1.DISPLAYVALUE = desc1.VALUE and\n\t\t\t\tda1.NAME = desc1.NAME\n\t\t\t) def1 on\n\tit1.DEFAULTDIMENSION = def1.DEFAULTDIMENSION\nleft join dbo.TIMEZONEINFO tzi1 on\n\tda1.TIMEZONE = tzi1.TIMEZONEID and\n\tit1.CREATEDDATETIME >= tzi1.STARTDATE and\n\tit1.CREATEDDATETIME < tzi1.ENDDATE\nleft join dbo.INVENTTABLEMODULE itm1 on\n\titm1.MODULETYPE = 1 and\n\tit1.DATAAREAID = itm1.DATAAREAID and\n\tit1.ITEMID = itm1.ITEMID\nleft join (select uom10.RECID, uom10.SYMBOL, uom10.MODIFIEDDATETIME\n\t\t\tfrom dbo.UNITOFMEASURE uom10\n\t\t\tinner join (select SYMBOL, max(MODIFIEDDATETIME) as MAX_MODIFIEDDATETIME\n\t\t\t\t\t\tfrom dbo.UNITOFMEASURE\n\t\t\t\t\t\tgroup by SYMBOL) uom11 on\n\t\t\t\tuom10.SYMBOL = uom11.SYMBOL and\n\t\t\t\tuom10.MODIFIEDDATETIME = uom11.MAX_MODIFIEDDATETIME) uom1 on\n\titm1.UNITID = uom1.SYMBOL\nleft join (select uomt10.UNITOFMEASURE, uomt10.DESCRIPTION, uomt10.MODIFIEDDATETIME\n\t\t\tfrom dbo.UNITOFMEASURETRANSLATION uomt10\n\t\t\tinner join (select UNITOFMEASURE, max(MODIFIEDDATETIME) as MAX_MODIFIEDDATETIME\n\t\t\t\t\t\tfrom dbo.UNITOFMEASURETRANSLATION\n\t\t\t\t\t\twhere LANGUAGEID = 'en-us'\n\t\t\t\t\t\tgroup by UNITOFMEASURE) uomt11 on\n\t\t\t\tuomt10.UNITOFMEASURE = uomt11.UNITOFMEASURE and\n\t\t\t\tuomt10.MODIFIEDDATETIME = uomt11.MAX_MODIFIEDDATETIME\n\t\t\twhere uomt10.LANGUAGEID = 'en-us') uomt1 on\n\tuom1.RECID = uomt1.UNITOFMEASURE\nwhere it1.dataareaid = '761'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "DATAAREAID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DATAAREAID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "ITEMID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "ITEMID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "PRODUCT",
														"type": "Int64",
														"physicalType": "bigint"
													},
													"sink": {
														"name": "PRODUCT",
														"type": "Int64",
														"physicalType": "INT_64"
													}
												},
												{
													"source": {
														"name": "ABCVALUE",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "ABCVALUE",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "COSTGROUPID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "COSTGROUPID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64",
														"physicalType": "bigint"
													},
													"sink": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64",
														"physicalType": "INT_64"
													}
												},
												{
													"source": {
														"name": "CREATEDDATETIME",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "CREATEDDATETIME",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "DATAAREA_TIMEZONE",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "DATAAREA_TIMEZONE",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "ECORESPRODUCTTRANSLATION_PRODUCT",
														"type": "Int64",
														"physicalType": "bigint"
													},
													"sink": {
														"name": "ECORESPRODUCTTRANSLATION_PRODUCT",
														"type": "Int64",
														"physicalType": "INT_64"
													}
												},
												{
													"source": {
														"name": "ECORESPRODUCTTRANSLATION_NAME",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "ECORESPRODUCTTRANSLATION_NAME",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "ECORESPRODUCTTRANSLATION_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "ECORESPRODUCTTRANSLATION_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "BOMCOSTGROUP_DATAAREAID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "BOMCOSTGROUP_DATAAREAID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "BOMCOSTGROUP_COSTGROUPID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "BOMCOSTGROUP_COSTGROUPID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "BOMCOSTGROUP_NAME",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "BOMCOSTGROUP_NAME",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "BOMCOSTGROUP_COSTGROUPBEHAVIOR",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "BOMCOSTGROUP_COSTGROUPBEHAVIOR",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "BOMCOSTGROUP_COSTGROUPTYPE",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "BOMCOSTGROUP_COSTGROUPTYPE",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "BOMCOSTGROUP_TYPEDEFAULT",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "BOMCOSTGROUP_TYPEDEFAULT",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION_E_CATEGORY",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DEFAULTDIMENSION_E_CATEGORY",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION_E_CATEGORY_DESCRIPTION_PARENT",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DEFAULTDIMENSION_E_CATEGORY_DESCRIPTION_PARENT",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION_E_CATEGORY_DESCRIPTION",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DEFAULTDIMENSION_E_CATEGORY_DESCRIPTION",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION_F_FAMILY",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DEFAULTDIMENSION_F_FAMILY",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION_F_FAMILY_DESCRIPTION",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DEFAULTDIMENSION_F_FAMILY_DESCRIPTION",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "DEFAULTDIMENSION_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "TIMEZONEINFO_TIMEZONEID",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "TIMEZONEINFO_TIMEZONEID",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "TIMEZONEINFO_STARTDATE",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "TIMEZONEINFO_STARTDATE",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "TIMEZONEINFO_ENDDATE",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "TIMEZONEINFO_ENDDATE",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "TIMEZONEINFO_TIMEBIAS",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "TIMEZONEINFO_TIMEBIAS",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_MODULETYPE",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_MODULETYPE",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_DATAAREAID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_DATAAREAID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_ITEMID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_ITEMID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_UNITID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_UNITID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "UNITOFMEASURE_RECID",
														"type": "Int64",
														"physicalType": "bigint"
													},
													"sink": {
														"name": "UNITOFMEASURE_RECID",
														"type": "Int64",
														"physicalType": "INT_64"
													}
												},
												{
													"source": {
														"name": "UNITOFMEASURE_SYMBOL",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "UNITOFMEASURE_SYMBOL",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "UNITOFMEASURE_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "UNITOFMEASURE_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "UNITOFMEASURETRANSLATION_UNITOFMEASURE",
														"type": "Int64",
														"physicalType": "bigint"
													},
													"sink": {
														"name": "UNITOFMEASURETRANSLATION_UNITOFMEASURE",
														"type": "Int64",
														"physicalType": "INT_64"
													}
												},
												{
													"source": {
														"name": "UNITOFMEASURETRANSLATION_DESCRIPTION",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "UNITOFMEASURETRANSLATION_DESCRIPTION",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "UNITOFMEASURETRANSLATION_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "UNITOFMEASURETRANSLATION_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "TSIPHITEM_DISPLAYPRODUCTNUMBER",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHITEM_DISPLAYPRODUCTNUMBER",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHITEM_BASEITEMID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHITEM_BASEITEMID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHITEM_PRODSIZE",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHITEM_PRODSIZE",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBASEITEM_PGCID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBASEITEM_PGCID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBASEITEM_BASEITEMDESCRIPTION",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBASEITEM_BASEITEMDESCRIPTION",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBASEITEM_DEFAULTFDNHIGH",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBASEITEM_DEFAULTFDNHIGH",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBASEITEM_DEFAULTFDNLOW",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBASEITEM_DEFAULTFDNLOW",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBASEITEM_DEFAULTFDNMED",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBASEITEM_DEFAULTFDNMED",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBASEITEM_PIECETYPEID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBASEITEM_PIECETYPEID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBASEITEM_PRICECOLLECTIONID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBASEITEM_PRICECOLLECTIONID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_PLEVELID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHGROUP_PLEVELID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_PGCDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHGROUP_PGCDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_ISACTIVE",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "TSIPHGROUP_ISACTIVE",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_EFFECTIVEDATE",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "TSIPHGROUP_EFFECTIVEDATE",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_EXPIRATIONDATE",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "TSIPHGROUP_EXPIRATIONDATE",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_MSTRPGCID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHGROUP_MSTRPGCID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_COMFORTID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHGROUP_COMFORTID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHGROUP_CONSTRUCTID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHGROUP_CONSTRUCTID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHLEVEL_LINELAUNCHID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHLEVEL_LINELAUNCHID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHLEVEL_YOYID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHLEVEL_YOYID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHLEVEL_PLEVELDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHLEVEL_PLEVELDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHLEVEL_ISACTIVE",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "TSIPHLEVEL_ISACTIVE",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "TSIPHLEVEL_ISSPECIALTY",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "TSIPHLEVEL_ISSPECIALTY",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "TSIPHYEAROVERYEAR_TYPEID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHYEAROVERYEAR_TYPEID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHYEAROVERYEAR_PRICEBANDID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHYEAROVERYEAR_PRICEBANDID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHYEAROVERYEAR_YOYDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHYEAROVERYEAR_YOYDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHTYPE_STYLEID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHTYPE_STYLEID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHTYPE_TECHNOLOGYID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHTYPE_TECHNOLOGYID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHTYPE_TYPEDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHTYPE_TYPEDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHSTYLE_BRANDID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHSTYLE_BRANDID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHSTYLE_STYLEDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHSTYLE_STYLEDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBRAND_MBRANDID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBRAND_MBRANDID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHBRAND_BRANDDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHBRAND_BRANDDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHMASTERBRAND_MBRANDDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHMASTERBRAND_MBRANDDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHTECHNOLOGY_TECHNOLOGYDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHTECHNOLOGY_TECHNOLOGYDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHPRICEBAND_PRICEBAND",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHPRICEBAND_PRICEBAND",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHLINELAUNCH_LINELAUNCHDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHLINELAUNCH_LINELAUNCHDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHCOMFORT_COMFORTDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHCOMFORT_COMFORTDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHCONSTRUCTION_CONSTRUCTDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHCONSTRUCTION_CONSTRUCTDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TSIPHPRICECOLLECTION_PRICECOLLECTIONDESC",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TSIPHPRICECOLLECTION_PRICECOLLECTIONDESC",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TPSSIZE_SIZEID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TPSSIZE_SIZEID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TPSSIZE_DIMENSIONS",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TPSSIZE_DIMENSIONS",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "TPSSIZE_EBCPANELLENGTH",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 16,
														"precision": 32
													},
													"sink": {
														"name": "TPSSIZE_EBCPANELLENGTH",
														"type": "Decimal",
														"physicalType": "DECIMAL"
													}
												},
												{
													"source": {
														"name": "TPSSIZE_EBCPANELWIDTH",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 16,
														"precision": 32
													},
													"sink": {
														"name": "TPSSIZE_EBCPANELWIDTH",
														"type": "Decimal",
														"physicalType": "DECIMAL"
													}
												},
												{
													"source": {
														"name": "TPSSIZE_ACTIVE",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "TPSSIZE_ACTIVE",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "ITEMGROUPID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "ITEMGROUPID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "ITEMGROUPNAME",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "ITEMGROUPNAME",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "LAST_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "LAST_MODIFIEDDATETIME",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "ITEM_HIERARCHY_HASH_KEY",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "ITEM_HIERARCHY_HASH_KEY",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "BRAND_RANK",
														"type": "Int64",
														"physicalType": "bigint"
													},
													"sink": {
														"name": "BRAND_RANK",
														"type": "Int64",
														"physicalType": "INT_64"
													}
												},
												{
													"source": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													},
													"sink": {
														"name": "HK_JOB_RUN_ID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													},
													"sink": {
														"name": "HK_SOURCE_NAME",
														"type": "String",
														"physicalType": "UTF8"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sql_server",
											"type": "DatasetReference",
											"parameters": {
												"p_src_table_name": {
													"value": "@pipeline().parameters.p_src_table_nm",
													"type": "Expression"
												},
												"p_src_schema_name": {
													"value": "@pipeline().parameters.p_src_schema_nm",
													"type": "Expression"
												},
												"p_ls_serverName": {
													"value": "@pipeline().globalParameters.retail_sql_serverName",
													"type": "Expression"
												},
												"p_ls_dbName": {
													"value": "@pipeline().globalParameters.retail_sql_dbName",
													"type": "Expression"
												},
												"p_ls_sqlUsername": {
													"value": "@pipeline().globalParameters.sql_userName",
													"type": "Expression"
												},
												"p_ls_sqlPassword": {
													"value": "@pipeline().globalParameters.sql_password",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_parquet",
											"type": "DatasetReference",
											"parameters": {
												"p_directory": {
													"value": "@pipeline().parameters.p_temp_directory",
													"type": "Expression"
												},
												"p_root_system": {
													"value": "@pipeline().globalParameters.rootDir",
													"type": "Expression"
												},
												"p_file_name": {
													"value": "@pipeline().parameters.p_temp_file_nm",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "nala_raw_load_failure_notification_copy1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "inventtable_to_adls_retail",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pp_adf_pipeline_notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"subscription": {
												"value": "@pipeline().globalParameters.subscriptionId",
												"type": "Expression"
											},
											"resourceGroup": {
												"value": "@pipeline().globalParameters.resourceGroup",
												"type": "Expression"
											},
											"runId": {
												"value": "@coalesce(pipeline().RunId, -1)",
												"type": "Expression"
											},
											"name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"triggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"status": {
												"value": "@activity('inventtable_to_adls_retail').Status",
												"type": "Expression"
											},
											"message": {
												"value": "@replace(replace(replace(activity('inventtable_to_adls_retail').Error['message'], '\\','\\\\'), '''', ''), '\"' , '')",
												"type": "Expression"
											},
											"executionEndTime": {
												"value": "@activity('inventtable_to_adls_retail').ExecutionEndTime",
												"type": "Expression"
											},
											"runDuration": {
												"value": "@activity('inventtable_to_adls_retail').Duration",
												"type": "Expression"
											},
											"teamWebhookUrl": {
												"value": "@pipeline().globalParameters.teamsWebhookUrl",
												"type": "Expression"
											},
											"notificationTime": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "sql_retail_load_to_raw_fail",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "nala_raw_load_failure_notification_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@activity('inventtable_to_adls_retail').Error['message']",
											"type": "Expression"
										},
										"errorCode": "500"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"p_src_table_nm": {
				"type": "string",
				"defaultValue": "INVENTTABLE"
			},
			"p_src_schema_nm": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"p_tgt_raw_table_nm": {
				"type": "string",
				"defaultValue": "INVENTTABLE"
			},
			"p_tgt_raw_schema_nm": {
				"type": "string",
				"defaultValue": "AX_NALA"
			},
			"p_tgt_curate_table_nm": {
				"type": "string",
				"defaultValue": "DIM_ITEM"
			},
			"p_tgt_curate_schema_nm": {
				"type": "string",
				"defaultValue": "GLOBAL"
			},
			"p_src_nm": {
				"type": "string",
				"defaultValue": "AXNALA"
			},
			"p_src_directory": {
				"type": "string",
				"defaultValue": "business_files"
			},
			"p_temp_file_nm": {
				"type": "string",
				"defaultValue": "inventtable_nala.parquet"
			},
			"p_tgt_raw_table_nm_2": {
				"type": "string",
				"defaultValue": "INVENTTABLE_ITEM_HIERARCHY"
			},
			"p_src_file_nm": {
				"type": "string",
				"defaultValue": "SizeGroupMapping.csv"
			},
			"p_temp_directory": {
				"type": "string",
				"defaultValue": "temp_files"
			},
			"p_src_code": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"v_prev_max_timestamp": {
				"type": "String"
			},
			"v_last_mod_tmstmp_sizegroupmapping": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-18T16:40:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}