NALA_ADF 2025-04-18/pipeline/pp_ax_purchline_to_fact_purchase_orders.json
{
	"name": "pp_ax_purchline_to_fact_purchase_orders",
	"properties": {
		"activities": [
			{
				"name": "lkp_curate_last_modified_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "@concat('select max(to_varchar(LATEST_MODIFIEDDATETIME::timestamp, ''','yyyy-mm-dd hh24:mi:ss',''')) as max_date from ',pipeline().globalParameters.environment,'_',pipeline().globalParameters.snow_rawDb,'.',pipeline().parameters.p_tgt_raw_schema_nm, '.', pipeline().parameters.p_tgt_raw_table_nm)",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "ds_snowflake",
						"type": "DatasetReference",
						"parameters": {
							"p_tgt_table_name": {
								"value": "@pipeline().parameters.p_tgt_raw_table_nm",
								"type": "Expression"
							},
							"p_tgt_schema_name": {
								"value": "@pipeline().parameters.p_tgt_raw_schema_nm",
								"type": "Expression"
							},
							"p_ls_DbName": {
								"value": "@pipeline().globalParameters.snow_rawDb",
								"type": "Expression"
							},
							"p_ls_Env": {
								"value": "@pipeline().globalParameters.environment",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "set_last_modified_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkp_curate_last_modified_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_prv_max_upd_timestamp",
					"value": {
						"value": "@coalesce(activity('lkp_curate_last_modified_date').output.firstRow.max_date, '1950-01-01 00:00:00')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "switch_nala",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "set_last_modified_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.p_src_code",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "1",
							"activities": [
								{
									"name": "sql_nala_to_raw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"additionalColumns": [
												{
													"name": "HK_SOURCE_NAME",
													"value": {
														"value": "@pipeline().parameters.p_src_nm",
														"type": "Expression"
													}
												},
												{
													"name": "HK_JOB_RUN_ID",
													"value": {
														"value": "@coalesce(pipeline().RunId,-1)",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "Select \n  pl1.DATAAREAID as DATAAREAID, \n  pl1.INVENTTRANSID, \n  pl1.PURCHID, \n  pl1.LINENUMBER, \n  pl1.QTYORDERED as QTYINVENTORYUNIT, \n  pl1.ITEMID, \n  itm1.UNITID as INVENTTABLEMODULE_UNITID, \n  pl1.PURCHQTY, \n  pl1.PURCHUNIT, \n  pl1.PRICEUNIT, \n  pl1.PURCHPRICE, \n  pl1.LINEAMOUNT, \n  pt1.ACCOUNTINGDATE, \n  pt1.CONFIRMEDDLVEARLIEST as EARLIEST_CONFIRMED_DATE, \n  pl1.INVENTDIMID as INVENTORY_DIMENSION_ID, \n  id2.TIMEZONE, \n  tzi1.TIMEBIAS, \n  pl1.CREATEDDATETIME as PURCHLINE_CREATEDDATETIME, \n  pt1.CREATEDDATETIME as PURCHTABLE_CREATEDDATETIME, \n  pt1.DELIVERYDATE as PURCHTABLE_DELIVERYDATE, \n  pt1.DXCSHIPBYDATE as PURCHTABLE_DXCSHIPBYDATE, \n  pt1.DLVMODE as DELIVERY_MODE_ID, \n  pt1.RETURNREASONCODEID as PURCHTABLE_RETURNREASONCODEID, \n  pt1.WORKERPURCHPLACER as PURCHTABLE_WORKERPURCHPLACER, \n  pt1.REQUESTER as PURCHTABLE_REQUESTER, \n  pt1.INVOICEACCOUNT as PURCHTABLE_INVOICEACCOUNT, \n  pt1.ORDERACCOUNT as PURCHTABLE_ORDERACCOUNT, \n  pt1.INVENTLOCATIONID as PURCHTABLE_INVENTLOCATIONID, \n  pl1.DELIVERYDATE as PURCHLINE_DELIVERYDATE, \n  pl1.DXCSHIPBYDATE as PURCHLINE_DXCSHIPBYDATE, \n  pl1.CURRENCYCODE, \n  pl1.DEFAULTDIMENSION, \n  itm1.MODIFIEDDATETIME as INVENTTABLEMODULE_MODIFIEDDATETIME, \n  pl1.ASSETTRANSTYPEPURCH as PURCHLINE_ASSETTRANSTYPEPURCH, \n  pl1.DELIVERYTYPE as PURCHLINE_DELIVERYTYPE, \n  pl1.STOCKEDPRODUCT as PURCHLINE_STOCKEDPRODUCT, \n  pl1.PURCHSTATUS as PURCHLINE_PURCHSTATUS, \n  pl1.PURCHASETYPE as PURCHLINE_PURCHASETYPE, \n  pl1.MCRDROPSHIPMENT, \n  pl1.DELIVERYPOSTALADDRESS, \n  pl1.MODIFIEDDATETIME as PURCHLINE_MODIFIEDDATETIME, \n  tet1.ENUMVALUELABEL as TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_ASSET_TRANSACTION_TYPE, \n  tet2.ENUMVALUELABEL as TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_DELIVERY_TYPE, \n  tet3.ENUMVALUELABEL as TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_DOCUMENT_STATUS, \n  tet4.ENUMVALUELABEL as TIMEXTENDERENUMTABLE4_ENUMVALUELABEL_PURCH_LINE_STATUS, \n  tet5.ENUMVALUELABEL as TIMEXTENDERENUMTABLE5_ENUMVALUELABEL_PURCH_HEADER_STATUS, \n  tet6.ENUMVALUELABEL as TIMEXTENDERENUMTABLE6_ENUMVALUELABEL_PURCHASE_TYPE, \n  tet7.ENUMVALUELABEL as TIMEXTENDERENUMTABLE7_ENUMVALUELABEL_DROP_SHIPMENT, \n  vit1.INVOICEDATE, \n  vit1.INVENTDATE, \n  pl1.TRANSACTIONCODE, \n  pl1.PROCUREMENTCATEGORY, \n  pl1.TAXITEMGROUP, \n  (\n    SELECT \n      MAX(LastUpdateDate) \n    FROM \n      (\n        VALUES \n          (pt1.MODIFIEDDATETIME), \n          (\n            isnull (\n              itm1.MODIFIEDDATETIME, '1950-01-01'\n            )\n          ), \n          (\n            isnull (\n              pl1.MODIFIEDDATETIME, '1950-01-01'\n            )\n          ), \n          (\n            isnull (\n              vit1.MODIFIEDDATETIME, '1950-01-01'\n            )\n          ), \n          (\n            isnull (\n              id2.INVENTDIM_MODIFIEDDATETIME, \n              '1950-01-01'\n            )\n          )\n      ) AS UpdateDate (LastUpdateDate)\n  ) AS LATEST_MODIFIEDDATETIME \nfrom \n  dbo.PURCHLINE pl1 \n  left join dbo.PURCHTABLE pt1 on pl1.DATAAREAID = pt1.DATAAREAID \n  and pl1.PURCHID = pt1.PURCHID \n  left join dbo.INVENTTABLEMODULE itm1 on itm1.MODULETYPE = 0 \n  and pl1.DATAAREAID = itm1.DATAAREAID \n  and pl1.ITEMID = itm1.ITEMID \n  left join (\n    select \n      ENUMNAME, \n      ENUMVALUE, \n      max(ENUMVALUELABEL) as ENUMVALUELABEL \n    from \n      dbo.TIMEXTENDERENUMTABLE \n    where \n      ENUMNAME = 'AssetTransTypePurch' \n    group by \n      ENUMNAME, \n      ENUMVALUE\n  ) tet1 on pl1.ASSETTRANSTYPEPURCH = tet1.ENUMVALUE \n  left join (\n    select \n      ENUMNAME, \n      ENUMVALUE, \n      max(ENUMVALUELABEL) as ENUMVALUELABEL \n    from \n      dbo.TIMEXTENDERENUMTABLE \n    where \n      ENUMNAME = 'TradeLineDlvType' \n    group by \n      ENUMNAME, \n      ENUMVALUE\n  ) tet2 on pl1.DELIVERYTYPE = tet2.ENUMVALUE \n  left join (\n    select \n      ENUMNAME, \n      ENUMVALUE, \n      max(ENUMVALUELABEL) as ENUMVALUELABEL \n    from \n      dbo.TIMEXTENDERENUMTABLE \n    where \n      ENUMNAME = 'DocumentStatus' \n    group by \n      ENUMNAME, \n      ENUMVALUE\n  ) tet3 on pt1.DOCUMENTSTATUS = tet3.ENUMVALUE \n  left join (\n    select \n      ENUMNAME, \n      ENUMVALUE, \n      max(ENUMVALUELABEL) as ENUMVALUELABEL \n    from \n      dbo.TIMEXTENDERENUMTABLE \n    where \n      ENUMNAME = 'PurchStatus' \n    group by \n      ENUMNAME, \n      ENUMVALUE\n  ) tet4 on pl1.PURCHSTATUS = tet4.ENUMVALUE \n  left join (\n    select \n      ENUMNAME, \n      ENUMVALUE, \n      max(ENUMVALUELABEL) as ENUMVALUELABEL \n    from \n      dbo.TIMEXTENDERENUMTABLE \n    where \n      ENUMNAME = 'PurchStatus' \n    group by \n      ENUMNAME, \n      ENUMVALUE\n  ) tet5 on pt1.PURCHSTATUS = tet5.ENUMVALUE \n  left join (\n    select \n      ENUMNAME, \n      ENUMVALUE, \n      max(ENUMVALUELABEL) as ENUMVALUELABEL \n    from \n      dbo.TIMEXTENDERENUMTABLE \n    where \n      ENUMNAME = 'PurchaseType' \n    group by \n      ENUMNAME, \n      ENUMVALUE\n  ) tet6 on pl1.PURCHASETYPE = tet6.ENUMVALUE \n  left join (\n    select \n      ENUMNAME, \n      ENUMVALUE, \n      max(ENUMVALUELABEL) as ENUMVALUELABEL \n    from \n      dbo.TIMEXTENDERENUMTABLE \n    where \n      ENUMNAME = 'NoYes' \n    group by \n      ENUMNAME, \n      ENUMVALUE\n  ) tet7 on pl1.MCRDROPSHIPMENT = tet7.ENUMVALUE \n  left join (\n    select \n      id20.DATAAREAID, \n      id20.INVENTDIMID, \n      max(is20.TIMEZONE) over (\n        partition by id20.DATAAREAID, id20.INVENTDIMID\n      ) as TIMEZONE, \n      max(id20.MODIFIEDDATETIME) over (\n        partition by id20.DATAAREAID, id20.INVENTDIMID\n      ) as INVENTDIM_MODIFIEDDATETIME, \n      max(is20.MODIFIEDDATETIME) over (\n        partition by id20.DATAAREAID, id20.INVENTDIMID\n      ) as INVENTSITE_MODIFIEDDATETIME \n    from \n      dbo.INVENTDIM id20 \n      left join dbo.INVENTSITE is20 on id20.DATAAREAID = is20.DATAAREAID \n      and id20.INVENTSITEID = is20.SITEID\n  ) id2 on pl1.DATAAREAID = id2.DATAAREAID \n  and pl1.INVENTDIMID = id2.INVENTDIMID \n  left join dbo.DATAAREA da1 on pl1.DATAAREAID = da1.ID \n  left join dbo.TIMEZONEINFO tzi1 on pl1.CREATEDDATETIME >= tzi1.STARTDATE \n  and pl1.CREATEDDATETIME < tzi1.ENDDATE \n  and isnull(id2.TIMEZONE, da1.TIMEZONE) = tzi1.TIMEZONEID \n  left join dbo.DATAAREA da3 on pl1.DATAAREAID = da3.ID \n  left join dbo.TIMEZONEINFO tzi3 on pl1.CREATEDDATETIME >= tzi3.STARTDATE \n  and pl1.CREATEDDATETIME < tzi3.ENDDATE \n  and da3.TIMEZONE = tzi3.TIMEZONEID \n  left join (\n    select \n      DATAAREAID, \n      INVENTTRANSID, \n      max(invoicedate) invoicedate, \n      max(INVENTDATE) INVENTDATE, \n      max(MODIFIEDDATETIME) MODIFIEDDATETIME \n    from \n      dbo.VENDINVOICETRANS \n    group by \n      DATAAREAID, \n      INVENTTRANSID\n  ) vit1 on pl1.DATAAREAID = vit1.DATAAREAID \n  and pl1.INVENTTRANSID = vit1.INVENTTRANSID \nwhere \n  (\n    SELECT \n      MAX(LastUpdateDate) \n    FROM \n      (\n        VALUES \n          (pt1.MODIFIEDDATETIME), \n          (\n            isnull (\n              itm1.MODIFIEDDATETIME, '1950-01-01'\n            )\n          ), \n          (\n            isnull (\n              pl1.MODIFIEDDATETIME, '1950-01-01'\n            )\n          ), \n          (\n            isnull (\n              vit1.MODIFIEDDATETIME, '1950-01-01'\n            )\n          ), \n          (\n            isnull (\n              id2.INVENTDIM_MODIFIEDDATETIME, \n              '1950-01-01'\n            )\n          )\n      ) AS UpdateDate (LastUpdateDate)\n  ) > '@{variables('v_prv_max_upd_timestamp')}'\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SnowflakeSink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand"
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "ls_blob_storage",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@pipeline().globalParameters.rootDir",
												"type": "Expression"
											},
											"enableCompression": true
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													},
													"sink": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													},
													"sink": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DATAAREAID",
														"type": "String"
													},
													"sink": {
														"name": "DATAAREAID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INVENTTRANSID",
														"type": "String"
													},
													"sink": {
														"name": "INVENTTRANSID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHID",
														"type": "String"
													},
													"sink": {
														"name": "PURCHID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LINENUMBER",
														"type": "Int64"
													},
													"sink": {
														"name": "LINENUMBER",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "QTYINVENTORYUNIT",
														"type": "Decimal"
													},
													"sink": {
														"name": "QTYINVENTORYUNIT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "ITEMID",
														"type": "String"
													},
													"sink": {
														"name": "ITEMID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_UNITID",
														"type": "String"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_UNITID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHQTY",
														"type": "Decimal"
													},
													"sink": {
														"name": "PURCHQTY",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHUNIT",
														"type": "String"
													},
													"sink": {
														"name": "PURCHUNIT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PRICEUNIT",
														"type": "Decimal"
													},
													"sink": {
														"name": "PRICEUNIT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHPRICE",
														"type": "Decimal"
													},
													"sink": {
														"name": "PURCHPRICE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "LINEAMOUNT",
														"type": "Decimal"
													},
													"sink": {
														"name": "LINEAMOUNT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "ACCOUNTINGDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "ACCOUNTINGDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "EARLIEST_CONFIRMED_DATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "EARLIEST_CONFIRMED_DATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INVENTORY_DIMENSION_ID",
														"type": "String"
													},
													"sink": {
														"name": "INVENTORY_DIMENSION_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEZONE",
														"type": "Int32"
													},
													"sink": {
														"name": "TIMEZONE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "TIMEBIAS",
														"type": "Int32"
													},
													"sink": {
														"name": "TIMEBIAS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_CREATEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHLINE_CREATEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_CREATEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHTABLE_CREATEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_DELIVERYDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHTABLE_DELIVERYDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_DXCSHIPBYDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHTABLE_DXCSHIPBYDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "DELIVERY_MODE_ID",
														"type": "String"
													},
													"sink": {
														"name": "DELIVERY_MODE_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_RETURNREASONCODEID",
														"type": "String"
													},
													"sink": {
														"name": "PURCHTABLE_RETURNREASONCODEID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_WORKERPURCHPLACER",
														"type": "Int64"
													},
													"sink": {
														"name": "PURCHTABLE_WORKERPURCHPLACER",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_REQUESTER",
														"type": "Int64"
													},
													"sink": {
														"name": "PURCHTABLE_REQUESTER",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_INVOICEACCOUNT",
														"type": "String"
													},
													"sink": {
														"name": "PURCHTABLE_INVOICEACCOUNT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_ORDERACCOUNT",
														"type": "String"
													},
													"sink": {
														"name": "PURCHTABLE_ORDERACCOUNT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_INVENTLOCATIONID",
														"type": "String"
													},
													"sink": {
														"name": "PURCHTABLE_INVENTLOCATIONID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_DELIVERYDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHLINE_DELIVERYDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_DXCSHIPBYDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHLINE_DXCSHIPBYDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "CURRENCYCODE",
														"type": "String"
													},
													"sink": {
														"name": "CURRENCYCODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_ASSETTRANSTYPEPURCH",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_ASSETTRANSTYPEPURCH",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_DELIVERYTYPE",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_DELIVERYTYPE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_STOCKEDPRODUCT",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_STOCKEDPRODUCT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_PURCHSTATUS",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_PURCHSTATUS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_PURCHASETYPE",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_PURCHASETYPE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "MCRDROPSHIPMENT",
														"type": "Int32"
													},
													"sink": {
														"name": "MCRDROPSHIPMENT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "DELIVERYPOSTALADDRESS",
														"type": "Int64"
													},
													"sink": {
														"name": "DELIVERYPOSTALADDRESS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHLINE_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_ASSET_TRANSACTION_TYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_ASSET_TRANSACTION_TYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_DELIVERY_TYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_DELIVERY_TYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_DOCUMENT_STATUS",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_DOCUMENT_STATUS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE4_ENUMVALUELABEL_PURCH_LINE_STATUS",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE4_ENUMVALUELABEL_PURCH_LINE_STATUS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE5_ENUMVALUELABEL_PURCH_HEADER_STATUS",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE5_ENUMVALUELABEL_PURCH_HEADER_STATUS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE6_ENUMVALUELABEL_PURCHASE_TYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE6_ENUMVALUELABEL_PURCHASE_TYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE7_ENUMVALUELABEL_DROP_SHIPMENT",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE7_ENUMVALUELABEL_DROP_SHIPMENT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INVOICEDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVOICEDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INVENTDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVENTDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "TRANSACTIONCODE",
														"type": "String"
													},
													"sink": {
														"name": "TRANSACTIONCODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PROCUREMENTCATEGORY",
														"type": "Int64"
													},
													"sink": {
														"name": "PROCUREMENTCATEGORY",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "TAXITEMGROUP",
														"type": "String"
													},
													"sink": {
														"name": "TAXITEMGROUP",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sql_server",
											"type": "DatasetReference",
											"parameters": {
												"p_src_table_name": {
													"value": "@pipeline().parameters.p_src_table_nm",
													"type": "Expression"
												},
												"p_src_schema_name": {
													"value": "@pipeline().parameters.p_src_schema_nm",
													"type": "Expression"
												},
												"p_ls_serverName": {
													"value": "@pipeline().globalParameters.nala_sql_serverName",
													"type": "Expression"
												},
												"p_ls_dbName": {
													"value": "@pipeline().globalParameters.nala_sql_dbName",
													"type": "Expression"
												},
												"p_ls_sqlUsername": {
													"value": "@pipeline().globalParameters.sql_userName",
													"type": "Expression"
												},
												"p_ls_sqlPassword": {
													"value": "@pipeline().globalParameters.sql_password",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_snowflake",
											"type": "DatasetReference",
											"parameters": {
												"p_tgt_table_name": {
													"value": "@pipeline().parameters.p_tgt_raw_table_nm",
													"type": "Expression"
												},
												"p_tgt_schema_name": {
													"value": "@pipeline().parameters.p_tgt_raw_schema_nm",
													"type": "Expression"
												},
												"p_ls_DbName": {
													"value": "@pipeline().globalParameters.snow_rawDb",
													"type": "Expression"
												},
												"p_ls_Env": {
													"value": "@pipeline().globalParameters.environment",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "nala_raw_load_failure_notification",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "sql_nala_to_raw",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pp_adf_pipeline_notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"subscription": {
												"value": "@pipeline().globalParameters.subscriptionId",
												"type": "Expression"
											},
											"resourceGroup": {
												"value": "@pipeline().globalParameters.resourceGroup",
												"type": "Expression"
											},
											"runId": {
												"value": "@coalesce(pipeline().RunId,-1)",
												"type": "Expression"
											},
											"name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"triggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"status": {
												"value": "@activity('sql_nala_to_raw').Status",
												"type": "Expression"
											},
											"message": {
												"value": "@replace(replace(replace(activity('sql_nala_to_raw').Error['message'], '\\','\\\\'), '''', ''), '\"' , '')",
												"type": "Expression"
											},
											"executionEndTime": {
												"value": "@activity('sql_nala_to_raw').ExecutionEndTime",
												"type": "Expression"
											},
											"runDuration": {
												"value": "@activity('sql_nala_to_raw').Duration",
												"type": "Expression"
											},
											"teamWebhookUrl": {
												"value": "@pipeline().globalParameters.teamsWebhookUrl",
												"type": "Expression"
											},
											"notificationTime": {
												"value": "@utcNow()",
												"type": "Expression"
											},
											"taskName": "@pipeline().parameters.p_tgt_curate_table_nm",
											"taskStepNumber": {
												"value": "@pipeline().parameters.p_src_code",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "sql_nala_load_to_raw_fail",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "nala_raw_load_failure_notification",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@activity('sql_nala_to_raw').Error['message']",
											"type": "Expression"
										},
										"errorCode": "500"
									}
								}
							]
						},
						{
							"value": "3",
							"activities": [
								{
									"name": "sql_D365_to_raw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "WarehouseSource",
											"additionalColumns": [
												{
													"name": "HK_SOURCE_NAME",
													"value": {
														"value": "@pipeline().parameters.p_src_nm",
														"type": "Expression"
													}
												},
												{
													"name": "HK_JOB_RUN_ID",
													"value": {
														"value": "@coalesce(pipeline().RunId,-1)",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "select\n    pl1.dataareaid AS DATAAREAID,\n    pl1.inventtransid AS INVENTTRANSID,\n    pl1.purchid AS PURCHID,\n    pl1.linenumber AS LINENUMBER,\n    pl1.qtyordered AS QTYINVENTORYUNIT,\n    pl1.itemid AS ITEMID,\n    itm1.unitid AS INVENTTABLEMODULE_UNITID,\n    pl1.purchqty AS PURCHQTY,\n    pl1.purchunit AS PURCHUNIT,\n    pl1.priceunit AS PRICEUNIT,\n    pl1.purchprice AS PURCHPRICE,\n    pl1.lineamount  AS LINEAMOUNT,\n    pt1.accountingdate AS ACCOUNTINGDATE,\n    pt1.confirmeddlvearliest AS EARLIEST_CONFIRMED_DATE,\n    pl1.inventdimid AS INVENTORY_DIMENSION_ID,\n    id2.timezone AS TIMEZONE,\n    tzi1.timebias AS TIMEBIAS,\n    pl1.createddatetime AS PURCHLINE_CREATEDDATETIME,\n    pt1.createddatetime AS PURCHTABLE_CREATEDDATETIME,\n    pt1.deliverydate AS PURCHTABLE_DELIVERYDATE,\n    pt1.dxcshipbydate AS PURCHTABLE_DXCSHIPBYDATE,\n    pt1.dlvmode AS DELIVERY_MODE_ID,\n    pt1.returnreasoncodeid AS PURCHTABLE_RETURNREASONCODEID,\n    pt1.workerpurchplacer AS PURCHTABLE_WORKERPURCHPLACER,\n    pt1.requester AS PURCHTABLE_REQUESTER,\n    pt1.invoiceaccount AS PURCHTABLE_INVOICEACCOUNT,\n    pt1.orderaccount AS PURCHTABLE_ORDERACCOUNT,\n    pt1.inventlocationid AS PURCHTABLE_INVENTLOCATIONID,\n    pl1.deliverydate AS PURCHLINE_DELIVERYDATE,\n    pl1.dxcshipbydate AS PURCHLINE_DXCSHIPBYDATE,\n    pl1.currencycode AS CURRENCYCODE,\n    pl1.defaultdimension AS DEFAULTDIMENSION,\n    itm1.modifieddatetime AS INVENTTABLEMODULE_MODIFIEDDATETIME,\n    pl1.assettranstypepurch AS PURCHLINE_ASSETTRANSTYPEPURCH,\n    pl1.deliverytype AS PURCHLINE_DELIVERYTYPE,\n    pl1.stockedproduct AS PURCHLINE_STOCKEDPRODUCT,\n    pl1.purchstatus AS PURCHLINE_PURCHSTATUS,\n    pl1.purchasetype AS PURCHLINE_PURCHASETYPE,\n    pl1.mcrdropshipment AS MCRDROPSHIPMENT,\n    pl1.deliverypostaladdress AS DELIVERYPOSTALADDRESS,\n    pl1.modifieddatetime AS PURCHLINE_MODIFIEDDATETIME,\n    tet1.enumvaluelabel AS TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_ASSET_TRANSACTION_TYPE,\n    tet2.enumvaluelabel AS TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_DELIVERY_TYPE,\n    tet3.enumvaluelabel AS TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_DOCUMENT_STATUS,\n    tet4.enumvaluelabel AS TIMEXTENDERENUMTABLE4_ENUMVALUELABEL_PURCH_LINE_STATUS,\n    tet5.enumvaluelabel AS TIMEXTENDERENUMTABLE5_ENUMVALUELABEL_PURCH_HEADER_STATUS,\n    tet6.enumvaluelabel AS TIMEXTENDERENUMTABLE6_ENUMVALUELABEL_PURCHASE_TYPE,\n    tet7.enumvaluelabel AS TIMEXTENDERENUMTABLE7_ENUMVALUELABEL_DROP_SHIPMENT,\n    vit1.invoicedate AS INVOICEDATE,\n    vit1.inventdate AS INVENTDATE,\n    (\n        select\n            max(lastupdatedate)\n        from\n            (\n                values\n                    (pt1.modifieddatetime),\n                    (isnull (itm1.modifieddatetime, '1950-01-01')),\n                    (isnull (pl1.modifieddatetime, '1950-01-01')),\n\t         (isnull (vit1. modifieddatetime, '1950-01-01')),\n\t         (isnull (id2.inventdim_modifieddatetime, '1950-01-01'))\n            ) as updatedate (lastupdatedate)\n    ) as LATEST_MODIFIEDDATETIME\nfrom \n\t dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.purchline pl1\nleft join dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.purchtable pt1 on\n\tpl1.dataareaid = pt1.dataareaid and\n\tpl1.purchid = pt1.purchid\nleft join dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.inventtablemodule itm1 on\n\titm1.moduletype = 0 and\n\tpl1.dataareaid = itm1.dataareaid and\n\tpl1.itemid = itm1.itemid\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.timextenderenumtable\n\t\twhere enumname = 'AssetTransTypePurch'\n\t\tgroup by enumname, enumvalue) tet1 on\n\tpl1.assettranstypepurch = tet1.enumvalue\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.timextenderenumtable\n\t\twhere enumname = 'TradeLineDlvType'\n\t\tgroup by enumname, enumvalue) tet2 on\n\tpl1.deliverytype = tet2.enumvalue\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.timextenderenumtable\n\t\twhere enumname = 'DocumentStatus'\n\t\tgroup by enumname, enumvalue) tet3 on\n\tpt1.documentstatus = tet3.enumvalue\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.timextenderenumtable\n\t\twhere enumname = 'PurchStatus'\n\t\tgroup by enumname, enumvalue) tet4 on\n\tpl1.purchstatus = tet4.enumvalue\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.timextenderenumtable\n\t\twhere enumname = 'PurchStatus'\n\t\tgroup by enumname, enumvalue) tet5 on\n\tpt1.purchstatus = tet5.enumvalue\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.timextenderenumtable\n\t\twhere enumname = 'PurchaseType'\n\t\tgroup by enumname, enumvalue) tet6 on\n\tpl1.purchasetype = tet6.enumvalue\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.timextenderenumtable\n\t\twhere enumname = 'NoYes'\n\t\tgroup by enumname, enumvalue) tet7 on\n\tpl1.mcrdropshipment = tet7.enumvalue\t\t\t\t\n\tleft join (select id20.dataareaid, id20.inventdimid\n\t\t\t, max(is20.timezone) over (partition by id20.dataareaid, id20.inventdimid) as timezone\n\t\t\t, max(id20.modifieddatetime) over (partition by id20.dataareaid, id20.inventdimid) as inventdim_modifieddatetime\n\t\t\t, max(is20.modifieddatetime) over (partition by id20.dataareaid, id20.inventdimid) as inventsite_modifieddatetime\n\t\tfrom dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.inventdim id20\n\t\tleft join dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.inventsite is20 on\n\t\t\tid20.dataareaid = is20.dataareaid and\n\t\t\tid20.inventsiteid = is20.siteid) id2 on\n\tpl1.dataareaid = id2.dataareaid and\n\tpl1.inventdimid = id2.inventdimid\nLEFT join dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.dataarea da1 on\n\tpl1.dataareaid = da1.fno_id\nleft join dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.timezoneinfo tzi1 on\n\tpl1.createddatetime >= tzi1.startdate and\n\tpl1.createddatetime < tzi1.enddate and\n\tisnull(id2.timezone, da1.timezone) = tzi1.timezoneid\nleft join dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.dataarea da3 on\n\tpl1.dataareaid = da3.fno_id\nleft join dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.timezoneinfo tzi3 on\n\tpl1.createddatetime >= tzi3.startdate and\n\tpl1.createddatetime < tzi3.enddate and\n\tda3.timezone = tzi3.timezoneid      \nleft join (select   dataareaid, inventtransid, max(invoicedate) invoicedate , max(inventdate) inventdate, max(modifieddatetime) modifieddatetime  \nfrom dataverse_nalatst_cds2_workspace_unqe092999b0ee2ee1190466045bda8c.dbo.vendinvoicetrans\ngroup by dataareaid, inventtransid) vit1 on\n\tpl1.dataareaid = vit1.dataareaid and\n\tpl1.inventtransid = vit1.inventtransid\nwhere\n    (\n        select\n            max(lastupdatedate)\n        from\n            (\n                values\n                    (pt1.modifieddatetime),\n                    (isnull (itm1.modifieddatetime, '1950-01-01')),\n                    (isnull (pl1.modifieddatetime, '1950-01-01')),\n\t         (isnull (vit1. modifieddatetime, '1950-01-01')),\n\t         (isnull (id2.inventdim_modifieddatetime, '1950-01-01'))\n            ) as updatedate (lastupdatedate)\n    ) > '@{variables('v_prv_max_upd_timestamp')}';\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SnowflakeSink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand"
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "ls_blob_storage",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@pipeline().globalParameters.rootDir",
												"type": "Expression"
											},
											"enableCompression": true
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													},
													"sink": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													},
													"sink": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DATAAREAID",
														"type": "String"
													},
													"sink": {
														"name": "DATAAREAID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INVENTTRANSID",
														"type": "String"
													},
													"sink": {
														"name": "INVENTTRANSID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHID",
														"type": "String"
													},
													"sink": {
														"name": "PURCHID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LINENUMBER",
														"type": "Int64"
													},
													"sink": {
														"name": "LINENUMBER",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "QTYINVENTORYUNIT",
														"type": "Decimal"
													},
													"sink": {
														"name": "QTYINVENTORYUNIT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "ITEMID",
														"type": "String"
													},
													"sink": {
														"name": "ITEMID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_UNITID",
														"type": "String"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_UNITID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHQTY",
														"type": "Decimal"
													},
													"sink": {
														"name": "PURCHQTY",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHUNIT",
														"type": "String"
													},
													"sink": {
														"name": "PURCHUNIT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PRICEUNIT",
														"type": "Decimal"
													},
													"sink": {
														"name": "PRICEUNIT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHPRICE",
														"type": "Decimal"
													},
													"sink": {
														"name": "PURCHPRICE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "LINEAMOUNT",
														"type": "Decimal"
													},
													"sink": {
														"name": "LINEAMOUNT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "ACCOUNTINGDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "ACCOUNTINGDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "EARLIEST_CONFIRMED_DATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "EARLIEST_CONFIRMED_DATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INVENTORY_DIMENSION_ID",
														"type": "String"
													},
													"sink": {
														"name": "INVENTORY_DIMENSION_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEZONE",
														"type": "Int32"
													},
													"sink": {
														"name": "TIMEZONE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "TIMEBIAS",
														"type": "Int32"
													},
													"sink": {
														"name": "TIMEBIAS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_CREATEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHLINE_CREATEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_CREATEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHTABLE_CREATEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_DELIVERYDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHTABLE_DELIVERYDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_DXCSHIPBYDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHTABLE_DXCSHIPBYDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "DELIVERY_MODE_ID",
														"type": "String"
													},
													"sink": {
														"name": "DELIVERY_MODE_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_RETURNREASONCODEID",
														"type": "String"
													},
													"sink": {
														"name": "PURCHTABLE_RETURNREASONCODEID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_WORKERPURCHPLACER",
														"type": "Int64"
													},
													"sink": {
														"name": "PURCHTABLE_WORKERPURCHPLACER",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_REQUESTER",
														"type": "Int64"
													},
													"sink": {
														"name": "PURCHTABLE_REQUESTER",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_INVOICEACCOUNT",
														"type": "String"
													},
													"sink": {
														"name": "PURCHTABLE_INVOICEACCOUNT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_ORDERACCOUNT",
														"type": "String"
													},
													"sink": {
														"name": "PURCHTABLE_ORDERACCOUNT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHTABLE_INVENTLOCATIONID",
														"type": "String"
													},
													"sink": {
														"name": "PURCHTABLE_INVENTLOCATIONID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_DELIVERYDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHLINE_DELIVERYDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_DXCSHIPBYDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHLINE_DXCSHIPBYDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "CURRENCYCODE",
														"type": "String"
													},
													"sink": {
														"name": "CURRENCYCODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "INVENTTABLEMODULE_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVENTTABLEMODULE_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_ASSETTRANSTYPEPURCH",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_ASSETTRANSTYPEPURCH",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_DELIVERYTYPE",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_DELIVERYTYPE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_STOCKEDPRODUCT",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_STOCKEDPRODUCT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_PURCHSTATUS",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_PURCHSTATUS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_PURCHASETYPE",
														"type": "Int32"
													},
													"sink": {
														"name": "PURCHLINE_PURCHASETYPE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "MCRDROPSHIPMENT",
														"type": "Int32"
													},
													"sink": {
														"name": "MCRDROPSHIPMENT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "DELIVERYPOSTALADDRESS",
														"type": "Int64"
													},
													"sink": {
														"name": "DELIVERYPOSTALADDRESS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PURCHLINE_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "PURCHLINE_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_ASSET_TRANSACTION_TYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_ASSET_TRANSACTION_TYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_DELIVERY_TYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_DELIVERY_TYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_DOCUMENT_STATUS",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_DOCUMENT_STATUS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE4_ENUMVALUELABEL_PURCH_LINE_STATUS",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE4_ENUMVALUELABEL_PURCH_LINE_STATUS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE5_ENUMVALUELABEL_PURCH_HEADER_STATUS",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE5_ENUMVALUELABEL_PURCH_HEADER_STATUS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE6_ENUMVALUELABEL_PURCHASE_TYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE6_ENUMVALUELABEL_PURCHASE_TYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE7_ENUMVALUELABEL_DROP_SHIPMENT",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE7_ENUMVALUELABEL_DROP_SHIPMENT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "INVOICEDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVOICEDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "INVENTDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "INVENTDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_fabric_wh",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ds_snowflake",
											"type": "DatasetReference",
											"parameters": {
												"p_tgt_table_name": {
													"value": "@pipeline().parameters.p_tgt_raw_table_nm",
													"type": "Expression"
												},
												"p_tgt_schema_name": {
													"value": "@pipeline().parameters.p_tgt_raw_schema_nm",
													"type": "Expression"
												},
												"p_ls_DbName": {
													"value": "@pipeline().globalParameters.snow_rawDb",
													"type": "Expression"
												},
												"p_ls_Env": {
													"value": "@pipeline().globalParameters.environment",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "D365_raw_load_failure_notification",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "sql_D365_to_raw",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pp_adf_pipeline_notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"subscription": {
												"value": "@pipeline().globalParameters.subscriptionId",
												"type": "Expression"
											},
											"resourceGroup": {
												"value": "@pipeline().globalParameters.resourceGroup",
												"type": "Expression"
											},
											"runId": {
												"value": "@coalesce(pipeline().RunId,-1)",
												"type": "Expression"
											},
											"name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"triggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"status": {
												"value": "@activity('sql_D365_to_raw').Status",
												"type": "Expression"
											},
											"message": {
												"value": "@replace(replace(replace(activity('sql_D365_to_raw').Error['message'], '\\','\\\\'), '''', ''), '\"' , '')",
												"type": "Expression"
											},
											"executionEndTime": {
												"value": "@activity('sql_D365_to_raw').ExecutionEndTime",
												"type": "Expression"
											},
											"runDuration": {
												"value": "@activity('sql_D365_to_raw').Duration",
												"type": "Expression"
											},
											"teamWebhookUrl": {
												"value": "@pipeline().globalParameters.teamsWebhookUrl",
												"type": "Expression"
											},
											"notificationTime": {
												"value": "@utcNow()",
												"type": "Expression"
											},
											"taskName": "@pipeline().parameters.p_tgt_curate_table_nm",
											"taskStepNumber": {
												"value": "@pipeline().parameters.p_src_code",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "sql_D365_load_to_raw_fail",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "D365_raw_load_failure_notification",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@activity('sql_D365_to_raw').Error['message']",
											"type": "Expression"
										},
										"errorCode": "500"
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "default_wait",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					]
				}
			},
			{
				"name": "raw_to_curate_sp_call",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "switch_nala",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_DbName": {
							"value": "@pipeline().globalParameters.snow_auditDb",
							"type": "Expression"
						},
						"ls_Env": {
							"value": "@pipeline().globalParameters.environment",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('CALL ',pipeline().globalParameters.environment,'_',pipeline().globalParameters.snow_auditDb,'.CONTROL.SP_TASK_INITIALIZE(','''',pipeline().RunId,'''',',','''',pipeline().globalParameters.environment,'''',',','''',pipeline().parameters.p_tgt_curate_table_nm,'''',',',pipeline().parameters.p_src_code,')')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "stored_procedure_failure_notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "raw_to_curate_sp_call",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pp_adf_pipeline_notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.subscriptionId",
							"type": "Expression"
						},
						"resourceGroup": {
							"value": "@pipeline().globalParameters.resourceGroup",
							"type": "Expression"
						},
						"runId": {
							"value": "@coalesce(pipeline().RunId,-1)",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('raw_to_curate_sp_call').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@activity('raw_to_curate_sp_call').Error['message']",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('raw_to_curate_sp_call').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('raw_to_curate_sp_call').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.teamsWebhookUrl",
							"type": "Expression"
						},
						"notificationTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"taskName": {
							"value": "@pipeline().parameters.p_tgt_curate_table_nm",
							"type": "Expression"
						},
						"taskStepNumber": {
							"value": "@pipeline().parameters.p_src_code",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "pipeline_execution_notification",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "raw_to_curate_sp_call",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(equals(activity('raw_to_curate_sp_call').output.resultSets[0].rows[0]['SP_TASK_INITIALIZE'],'TRUE'),bool('TRUE'), bool('FALSE'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "pp_stored_procedure_failure_notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pp_adf_pipeline_notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.subscriptionId",
										"type": "Expression"
									},
									"resourceGroup": {
										"value": "@pipeline().globalParameters.resourceGroup",
										"type": "Expression"
									},
									"runId": {
										"value": "@coalesce(pipeline().RunId, -1)",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"status": {
										"value": "@toUpper('failed')",
										"type": "Expression"
									},
									"message": {
										"value": "@activity('raw_to_curate_sp_call').output.resultSets[0].rows[0]['SP_TASK_INITIALIZE']",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@activity('raw_to_curate_sp_call').ExecutionEndTime",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@activity('raw_to_curate_sp_call').Duration",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "@pipeline().globalParameters.teamsWebhookUrl",
										"type": "Expression"
									},
									"notificationTime": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"taskName": {
										"value": "@pipeline().parameters.p_tgt_curate_table_nm",
										"type": "Expression"
									},
									"taskStepNumber": {
										"value": "@pipeline().parameters.p_src_code",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "curate_load_failure",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "pp_stored_procedure_failure_notification",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('raw_to_curate_sp_call').output.resultSets[0].rows[0]['SP_TASK_INITIALIZE']",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "stored_procedure_success_notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pp_adf_pipeline_notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.subscriptionId",
										"type": "Expression"
									},
									"resourceGroup": {
										"value": "@pipeline().globalParameters.resourceGroup",
										"type": "Expression"
									},
									"runId": {
										"value": "@coalesce(pipeline().RunId, -1)",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"status": {
										"value": "@activity('raw_to_curate_sp_call').Status",
										"type": "Expression"
									},
									"message": {
										"value": "@concat(pipeline().parameters.p_tgt_curate_table_nm, ' is successfully loaded')",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@activity('raw_to_curate_sp_call').ExecutionEndTime",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@activity('raw_to_curate_sp_call').Duration",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "@pipeline().globalParameters.teamsWebhookUrl",
										"type": "Expression"
									},
									"notificationTime": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"taskName": {
										"value": "@pipeline().parameters.p_tgt_curate_table_nm",
										"type": "Expression"
									},
									"taskStepNumber": {
										"value": "@pipeline().parameters.p_src_code",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_src_nm": {
				"type": "string",
				"defaultValue": "AXNALA"
			},
			"p_tgt_raw_table_nm": {
				"type": "string",
				"defaultValue": "PURCHLINE"
			},
			"p_tgt_raw_schema_nm": {
				"type": "string",
				"defaultValue": "AX_NALA"
			},
			"p_tgt_curate_table_nm": {
				"type": "string",
				"defaultValue": "FACT_PURCHASE_ORDERS"
			},
			"p_tgt_curate_schema_nm": {
				"type": "string",
				"defaultValue": "GLOBAL"
			},
			"p_src_schema_nm": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"p_src_table_nm": {
				"type": "string",
				"defaultValue": "PURCHLINE"
			},
			"p_src_code": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"v_prv_max_upd_timestamp": {
				"type": "String"
			}
		},
		"annotations": []
	}
}