NALA_ADF 2025-04-18/pipeline/pp_ax_pdsrebatetable_to_fact_rebate_transactions.json
{
	"name": "pp_ax_pdsrebatetable_to_fact_rebate_transactions",
	"properties": {
		"activities": [
			{
				"name": "raw_to_curate_sp_call",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "switch_nala_retail_d365",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_DbName": {
							"value": "@pipeline().globalParameters.snow_auditDb",
							"type": "Expression"
						},
						"ls_Env": {
							"value": "@pipeline().globalParameters.environment",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('CALL ',pipeline().globalParameters.environment,'_',pipeline().globalParameters.snow_auditDb,'.CONTROL.SP_TASK_INITIALIZE(','''',pipeline().RunId,'''',',','''',pipeline().globalParameters.environment,'''',',','''',pipeline().parameters.p_tgt_curate_table_nm,'''',',',pipeline().parameters.p_src_code,')')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "stored_procedure_failure_notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "raw_to_curate_sp_call",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pp_adf_pipeline_notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.subscriptionId",
							"type": "Expression"
						},
						"resourceGroup": {
							"value": "@pipeline().globalParameters.resourceGroup",
							"type": "Expression"
						},
						"runId": {
							"value": "@coalesce(pipeline().RunId, -1)",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('raw_to_curate_sp_call').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@activity('raw_to_curate_sp_call').Error['message']",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('raw_to_curate_sp_call').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('raw_to_curate_sp_call').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.teamsWebhookUrl",
							"type": "Expression"
						},
						"notificationTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"taskName": {
							"value": "@pipeline().parameters.p_tgt_curate_table_nm",
							"type": "Expression"
						},
						"taskStepNumber": {
							"value": "@pipeline().parameters.p_src_code",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "lkp_raw_last_modified_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "@concat('select max(to_varchar(LATEST_MODIFIEDDATETIME::timestamp, ''','yyyy-mm-dd hh24:mi:ss',''')) as max_date from ',pipeline().globalParameters.environment,'_',pipeline().globalParameters.snow_rawDb,'.',pipeline().parameters.p_tgt_raw_schema_nm, '.', pipeline().parameters.p_tgt_raw_table_nm)",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "ds_snowflake",
						"type": "DatasetReference",
						"parameters": {
							"p_tgt_table_name": {
								"value": "@pipeline().parameters.p_tgt_raw_table_nm",
								"type": "Expression"
							},
							"p_tgt_schema_name": {
								"value": "@pipeline().parameters.p_tgt_raw_schema_nm",
								"type": "Expression"
							},
							"p_ls_DbName": {
								"value": "@pipeline().globalParameters.snow_rawDb",
								"type": "Expression"
							},
							"p_ls_Env": {
								"value": "@pipeline().globalParameters.environment",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "set_last_modified_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkp_raw_last_modified_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_prev_max_timestamp",
					"value": {
						"value": "@coalesce(activity('lkp_raw_last_modified_date').output.firstRow.max_date, '1950-01-01 00:00:00')\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "switch_nala_retail_d365",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "set_last_modified_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.p_src_code",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "1",
							"activities": [
								{
									"name": "sql_to_raw_nala",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"additionalColumns": [
												{
													"name": "HK_JOB_RUN_ID",
													"value": {
														"value": "@coalesce(pipeline().RunId, -1)",
														"type": "Expression"
													}
												},
												{
													"name": "HK_SOURCE_NAME",
													"value": {
														"value": "@pipeline().parameters.p_src_nm",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "SELECT\nprt1.dataareaid as DATAAREAID\n,prt1.pdsrebateid as PDSREBATEID\n,prt1.custaccount as CUSTACCOUNT\n,prt1.custinvoicetransrefrecid as CUSTINVOICETRANSREFRECID\n,prt1.currencycode as CURRENCYCODE\n,prt1.defaultdimension as DEFAULTDIMENSION\n,prt1.offsetdefaultdimension as OFFSETDEFAULTDIMENSION\n,prt1.itemid as ITEMID\n,prt1.ledgerdimension as LEDGERDIMENSION\n,prt1.offsetledgerdimension as OFFSETLEDGERDIMENSION\n,prt1.tammerchandisingeventid as TAMMERCHANDISINGEVENTID\n,prt1.pdsrebatetype as PDSREBATETYPE\n,prt1.pdsrebateamttype as PDSREBATEAMTTYPE\n,prt1.pdspaymttype as PDSPAYMTTYPE\n,prt1.pdsrebatestatus as PDSREBATESTATUS\n,prt1.pdsprocessdate as PDSPROCESSDATE\n,prt1.rebatecalcdate as REBATECALCDATE\n,prt1.pdsstartingrebateamt as PDSSTARTINGREBATEAMT\n,prt1.modifieddatetime as MODIFIEDDATETIME\n,cit1.dataareaid as CUSTINVOICETRANS_DATAAREAID\n,cit1.numbersequencegroup as CUSTINVOICETRANS_NUMBERSEQUENCEGROUP\n,cit1.salesid as CUSTINVOICETRANS_SALESID\n,cit1.invoicedate as CUSTINVOICETRANS_INVOICEDATE\n,cit1.invoiceid as CUSTINVOICETRANS_INVOICEID\n,cit1.modifieddatetime as CUSTINVOICETRANS_MODIFIEDDATETIME\n,cij1.orderaccount as CUSTINVOICEJOUR_ORDERACCOUNT\n,cij1.modifieddatetime as CUSTINVOICEJOUR_MODIFIEDDATETIME\n,tme1.promotionid as TAMMERCHANDISINGEVENT_PROMOTIONID\n,tme1.modifieddatetime as TAMMERCHANDISINGEVENT_MODIFIEDDATETIME\n,tet1.enumvaluelabel as TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_PDSREBATEAMTTYPE\n,tet2.enumvaluelabel as TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_PDSPAYMTTYPE\n,tet3.enumvaluelabel as TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_PDSREBATESTATUS\n,(SELECT MAX(LastUpdateDate) \n FROM (VALUES (prt1.modifieddatetime),\n  (isnull(cit1.modifieddatetime, '1950-01-01'))\n  , (isnull(cij1.modifieddatetime, '1950-01-01'))\n  , (isnull(tme1.modifieddatetime, '1950-01-01'))\n ) AS UpdateDate(LastUpdateDate)) AS LATEST_MODIFIEDDATETIME\nFROM\ndbo.PDSREBATETABLE prt1\nleft join dbo.CUSTINVOICETRANS cit1 on\n\tprt1.CUSTINVOICETRANSREFRECID = cit1.RECID\nleft join (select DATAAREAID, NUMBERSEQUENCEGROUP, SALESID, INVOICEDATE, INVOICEID\n\t\t\t, ORDERACCOUNT\n\t\t\t, MODIFIEDDATETIME\n\t\tfrom dbo.CUSTINVOICEJOUR cij10\n\t\tinner join (select RECID\n\t\t\t\t\t, row_number() over (partition by DATAAREAID, NUMBERSEQUENCEGROUP, SALESID, INVOICEDATE, INVOICEID order by MODIFIEDDATETIME desc) as ROW_NUM\n\t\t\t\tfrom dbo.CUSTINVOICEJOUR) cij11 on\n\t\t\tcij11.ROW_NUM = 1 and\n\t\t\tcij10.RECID = cij11.RECID) cij1 on\n\tcit1.DATAAREAID = cij1.DATAAREAID and\n\tcit1.NUMBERSEQUENCEGROUP = cij1.NUMBERSEQUENCEGROUP and\n\tcit1.SALESID = cij1.SALESID and\n\tcit1.INVOICEDATE = cij1.INVOICEDATE and\n\tcit1.INVOICEID = cij1.INVOICEID\nleft join dbo.TAMMERCHANDISINGEVENT tme1 on\n\tprt1.DATAAREAID = tme1.DATAAREAID and\n\tprt1.TAMMERCHANDISINGEVENTID = tme1.MERCHANDISINGEVENTID\nleft join (select ENUMNAME, ENUMVALUE\n\t\t\t, max(ENUMVALUELABEL) as ENUMVALUELABEL\n\t\tfrom dbo.TIMEXTENDERENUMTABLE\n\t\twhere ENUMNAME = 'PdsRebateAmtType'\n\t\tgroup by ENUMNAME, ENUMVALUE) tet1 on\n\tprt1.PDSREBATEAMTTYPE = tet1.ENUMVALUE\nleft join (select ENUMNAME, ENUMVALUE\n\t\t\t, max(ENUMVALUELABEL) as ENUMVALUELABEL\n\t\tfrom dbo.TIMEXTENDERENUMTABLE\n\t\twhere ENUMNAME = 'PdsPaymtType'\n\t\tgroup by ENUMNAME, ENUMVALUE) tet2 on\n\tprt1.PDSPAYMTTYPE = tet2.ENUMVALUE\nleft join (select ENUMNAME, ENUMVALUE\n\t\t\t, max(ENUMVALUELABEL) as ENUMVALUELABEL\n\t\tfrom dbo.TIMEXTENDERENUMTABLE\n\t\twhere ENUMNAME = 'PdsRebateStatus'\n\t\tgroup by ENUMNAME, ENUMVALUE) tet3 on\n\tprt1.PDSREBATESTATUS = tet3.ENUMVALUE WHERE (SELECT MAX(LastUpdateDate) \n FROM (VALUES (prt1.modifieddatetime),\n  (isnull(cit1.modifieddatetime, '1950-01-01'))\n  , (isnull(cij1.modifieddatetime, '1950-01-01'))\n  , (isnull(tme1.modifieddatetime, '1950-01-01'))\n ) AS UpdateDate(LastUpdateDate)) > '@{variables('v_prev_max_timestamp')}' ",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SnowflakeSink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand"
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "ls_blob_storage",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@pipeline().globalParameters.rootDir",
												"type": "Expression"
											},
											"enableCompression": true
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													},
													"sink": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													},
													"sink": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DATAAREAID",
														"type": "String"
													},
													"sink": {
														"name": "DATAAREAID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PDSREBATEID",
														"type": "String"
													},
													"sink": {
														"name": "PDSREBATEID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CUSTACCOUNT",
														"type": "String"
													},
													"sink": {
														"name": "CUSTACCOUNT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICETRANSREFRECID",
														"type": "Int64"
													},
													"sink": {
														"name": "CUSTINVOICETRANSREFRECID",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "CURRENCYCODE",
														"type": "String"
													},
													"sink": {
														"name": "CURRENCYCODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "OFFSETDEFAULTDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "OFFSETDEFAULTDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "ITEMID",
														"type": "String"
													},
													"sink": {
														"name": "ITEMID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LEDGERDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "LEDGERDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "OFFSETLEDGERDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "OFFSETLEDGERDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "TAMMERCHANDISINGEVENTID",
														"type": "String"
													},
													"sink": {
														"name": "TAMMERCHANDISINGEVENTID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PDSREBATETYPE",
														"type": "String"
													},
													"sink": {
														"name": "PDSREBATETYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PDSREBATEAMTTYPE",
														"type": "Int32"
													},
													"sink": {
														"name": "PDSREBATEAMTTYPE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PDSPAYMTTYPE",
														"type": "Int32"
													},
													"sink": {
														"name": "PDSPAYMTTYPE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PDSREBATESTATUS",
														"type": "Int32"
													},
													"sink": {
														"name": "PDSREBATESTATUS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PDSPROCESSDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "PDSPROCESSDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "REBATECALCDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "REBATECALCDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PDSSTARTINGREBATEAMT",
														"type": "Decimal"
													},
													"sink": {
														"name": "PDSSTARTINGREBATEAMT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICETRANS_DATAAREAID",
														"type": "String"
													},
													"sink": {
														"name": "CUSTINVOICETRANS_DATAAREAID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICETRANS_NUMBERSEQUENCEGROUP",
														"type": "String"
													},
													"sink": {
														"name": "CUSTINVOICETRANS_NUMBERSEQUENCEGROUP",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICETRANS_SALESID",
														"type": "String"
													},
													"sink": {
														"name": "CUSTINVOICETRANS_SALESID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICETRANS_INVOICEDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "CUSTINVOICETRANS_INVOICEDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICETRANS_INVOICEID",
														"type": "String"
													},
													"sink": {
														"name": "CUSTINVOICETRANS_INVOICEID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICETRANS_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "CUSTINVOICETRANS_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICEJOUR_ORDERACCOUNT",
														"type": "String"
													},
													"sink": {
														"name": "CUSTINVOICEJOUR_ORDERACCOUNT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICEJOUR_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "CUSTINVOICEJOUR_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "TAMMERCHANDISINGEVENT_PROMOTIONID",
														"type": "String"
													},
													"sink": {
														"name": "TAMMERCHANDISINGEVENT_PROMOTIONID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TAMMERCHANDISINGEVENT_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "TAMMERCHANDISINGEVENT_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_PDSREBATEAMTTYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_PDSREBATEAMTTYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_PDSPAYMTTYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_PDSPAYMTTYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_PDSREBATESTATUS",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_PDSREBATESTATUS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sql_server",
											"type": "DatasetReference",
											"parameters": {
												"p_src_table_name": {
													"value": "@pipeline().parameters.p_src_table_nm",
													"type": "Expression"
												},
												"p_src_schema_name": {
													"value": "@pipeline().parameters.p_src_schema_nm",
													"type": "Expression"
												},
												"p_ls_serverName": {
													"value": "@pipeline().globalParameters.nala_sql_serverName",
													"type": "Expression"
												},
												"p_ls_dbName": {
													"value": "@pipeline().globalParameters.nala_sql_dbName",
													"type": "Expression"
												},
												"p_ls_sqlUsername": {
													"value": "@pipeline().globalParameters.sql_userName",
													"type": "Expression"
												},
												"p_ls_sqlPassword": {
													"value": "@pipeline().globalParameters.sql_password",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_snowflake",
											"type": "DatasetReference",
											"parameters": {
												"p_tgt_table_name": {
													"value": "@pipeline().parameters.p_tgt_raw_table_nm",
													"type": "Expression"
												},
												"p_tgt_schema_name": {
													"value": "@pipeline().parameters.p_tgt_raw_schema_nm",
													"type": "Expression"
												},
												"p_ls_DbName": {
													"value": "@pipeline().globalParameters.snow_rawDb",
													"type": "Expression"
												},
												"p_ls_Env": {
													"value": "@pipeline().globalParameters.environment",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "nala_raw_load_failure_notification",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "sql_to_raw_nala",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pp_adf_pipeline_notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"subscription": {
												"value": "@pipeline().globalParameters.subscriptionId",
												"type": "Expression"
											},
											"resourceGroup": {
												"value": "@pipeline().globalParameters.resourceGroup",
												"type": "Expression"
											},
											"runId": {
												"value": "@coalesce(pipeline().RunId, -1)",
												"type": "Expression"
											},
											"name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"triggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"status": {
												"value": "@activity('sql_to_raw_nala').Status",
												"type": "Expression"
											},
											"message": {
												"value": "@replace(replace(replace(activity('sql_to_raw_nala').Error['message'], '\\','\\\\'), '''', ''), '\"' , '')",
												"type": "Expression"
											},
											"executionEndTime": {
												"value": "@activity('sql_to_raw_nala').ExecutionEndTime",
												"type": "Expression"
											},
											"runDuration": {
												"value": "@activity('sql_to_raw_nala').Duration",
												"type": "Expression"
											},
											"teamWebhookUrl": {
												"value": "@pipeline().globalParameters.teamsWebhookUrl",
												"type": "Expression"
											},
											"notificationTime": {
												"value": "@utcNow()",
												"type": "Expression"
											},
											"taskName": "@pipeline().parameters.p_tgt_curate_table_nm",
											"taskStepNumber": {
												"value": "@pipeline().parameters.p_src_code",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "sql_nala_load_to_raw_fail",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "nala_raw_load_failure_notification",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@activity('sql_to_raw_nala').Error['message']",
											"type": "Expression"
										},
										"errorCode": "500"
									}
								}
							]
						},
						{
							"value": "3",
							"activities": [
								{
									"name": "sql_to_raw_d365",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "WarehouseSource",
											"additionalColumns": [
												{
													"name": "HK_JOB_RUN_ID",
													"value": {
														"value": "@coalesce(pipeline().RunId, -1)",
														"type": "Expression"
													}
												},
												{
													"name": "HK_SOURCE_NAME",
													"value": {
														"value": "@pipeline().parameters.p_src_nm",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "@concat('select\nprt1.dataareaid as DATAAREAID\n,prt1.pdsrebateid as PDSREBATEID\n,prt1.custaccount as CUSTACCOUNT\n,prt1.custinvoicetransrefrecid as CUSTINVOICETRANSREFRECID\n,prt1.currencycode as CURRENCYCODE\n,prt1.defaultdimension as DEFAULTDIMENSION\n,prt1.offsetdefaultdimension as OFFSETDEFAULTDIMENSION\n,prt1.itemid as ITEMID\n,prt1.ledgerdimension as LEDGERDIMENSION\n,prt1.offsetledgerdimension as OFFSETLEDGERDIMENSION\n,prt1.tammerchandisingeventid as TAMMERCHANDISINGEVENTID\n,prt1.pdsrebatetype as PDSREBATETYPE\n,prt1.pdsrebateamttype as PDSREBATEAMTTYPE\n,prt1.pdspaymttype as PDSPAYMTTYPE\n,prt1.pdsrebatestatus as PDSREBATESTATUS\n,prt1.pdsprocessdate as PDSPROCESSDATE\n,prt1.rebatecalcdate as REBATECALCDATE\n,prt1.pdsstartingrebateamt as PDSSTARTINGREBATEAMT\n,prt1.modifieddatetime as MODIFIEDDATETIME\n,cit1.dataareaid as CUSTINVOICETRANS_DATAAREAID\n,cit1.numbersequencegroup as CUSTINVOICETRANS_NUMBERSEQUENCEGROUP\n,cit1.salesid as CUSTINVOICETRANS_SALESID\n,cit1.invoicedate as CUSTINVOICETRANS_INVOICEDATE\n,cit1.invoiceid as CUSTINVOICETRANS_INVOICEID\n,cit1.modifieddatetime as CUSTINVOICETRANS_MODIFIEDDATETIME\n,cij1.orderaccount as CUSTINVOICEJOUR_ORDERACCOUNT\n,cij1.modifieddatetime as CUSTINVOICEJOUR_MODIFIEDDATETIME\n,tme1.promotionid as TAMMERCHANDISINGEVENT_PROMOTIONID\n,tme1.modifieddatetime as TAMMERCHANDISINGEVENT_MODIFIEDDATETIME\n,tet1.enumvaluelabel as TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_PDSREBATEAMTTYPE\n,tet2.enumvaluelabel as TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_PDSPAYMTTYPE\n,tet3.enumvaluelabel as TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_PDSREBATESTATUS\n,(select max(lastupdatedate) \n from (values (prt1.modifieddatetime),\n  (isnull(cit1.modifieddatetime, ''1950-01-01''))\n  , (isnull(cij1.modifieddatetime, ''1950-01-01''))\n  , (isnull(tme1.modifieddatetime, ''1950-01-01''))\n ) as updatedate(lastupdatedate)) as LATEST_MODIFIEDDATETIME\nfrom '\n,pipeline().globalParameters.d365_dbName,'.','pdsrebatetable prt1\nleft join  '\n,pipeline().globalParameters.d365_dbName,'.','custinvoicetrans cit1 on\n\tprt1.custinvoicetransrefrecid = cit1.recid\nleft join (select dataareaid, numbersequencegroup, salesid, invoicedate, invoiceid\n\t\t\t, orderaccount\n\t\t\t, modifieddatetime\n\t\tfrom  '\n,pipeline().globalParameters.d365_dbName,'.','custinvoicejour cij10\n\t\tinner join (select recid\n\t\t\t\t\t, row_number() over (partition by dataareaid, numbersequencegroup, salesid, invoicedate, invoiceid order by modifieddatetime desc) as row_num\n\t\t\t\tfrom  '\n,pipeline().globalParameters.d365_dbName,'.','custinvoicejour) cij11 on\n\t\t\tcij11.row_num = 1 and\n\t\t\tcij10.recid = cij11.recid) cij1 on\n\tcit1.dataareaid = cij1.dataareaid and\n\tcit1.numbersequencegroup = cij1.numbersequencegroup and\n\tcit1.salesid = cij1.salesid and\n\tcit1.invoicedate = cij1.invoicedate and\n\tcit1.invoiceid = cij1.invoiceid\nleft join  '\n,pipeline().globalParameters.d365_dbName,'.','tammerchandisingevent tme1 on\n\tprt1.dataareaid = tme1.dataareaid and\n\tprt1.tammerchandisingeventid = tme1.merchandisingeventid\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom  '\n,pipeline().globalParameters.d365_dbName,'.','timextenderenumtable\n\t\twhere enumname = ''pdsrebateamttype''\n\t\tgroup by enumname, enumvalue) tet1 on\n\tprt1.pdsrebateamttype = tet1.enumvalue\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom  '\n,pipeline().globalParameters.d365_dbName,'.','timextenderenumtable\n\t\twhere enumname = ''pdspaymttype''\n\t\tgroup by enumname, enumvalue) tet2 on\n\tprt1.pdspaymttype = tet2.enumvalue\nleft join (select enumname, enumvalue\n\t\t\t, max(enumvaluelabel) as enumvaluelabel\n\t\tfrom  '\n,pipeline().globalParameters.d365_dbName,'.','timextenderenumtable\n\t\twhere enumname = ''pdsrebatestatus''\n\t\tgroup by enumname, enumvalue) tet3 on\n\tprt1.pdsrebatestatus = tet3.enumvalue where (select max(lastupdatedate) \n from (values (prt1.modifieddatetime),\n  (isnull(cit1.modifieddatetime, ''1950-01-01''))\n  , (isnull(cij1.modifieddatetime, ''1950-01-01''))\n  , (isnull(tme1.modifieddatetime, ''1950-01-01''))\n ) as updatedate(lastupdatedate)) > ','''',variables('v_prev_max_timestamp'),'''')\n\n \n \n ",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SnowflakeSink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand"
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "ls_blob_storage",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@pipeline().globalParameters.rootDir",
												"type": "Expression"
											},
											"enableCompression": true
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													},
													"sink": {
														"name": "HK_SOURCE_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													},
													"sink": {
														"name": "HK_JOB_RUN_ID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DATAAREAID",
														"type": "String"
													},
													"sink": {
														"name": "DATAAREAID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PDSREBATEID",
														"type": "String"
													},
													"sink": {
														"name": "PDSREBATEID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CUSTACCOUNT",
														"type": "String"
													},
													"sink": {
														"name": "CUSTACCOUNT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICETRANSREFRECID",
														"type": "Int64"
													},
													"sink": {
														"name": "CUSTINVOICETRANSREFRECID",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "CURRENCYCODE",
														"type": "String"
													},
													"sink": {
														"name": "CURRENCYCODE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "DEFAULTDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "OFFSETDEFAULTDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "OFFSETDEFAULTDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "ITEMID",
														"type": "String"
													},
													"sink": {
														"name": "ITEMID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LEDGERDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "LEDGERDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "OFFSETLEDGERDIMENSION",
														"type": "Int64"
													},
													"sink": {
														"name": "OFFSETLEDGERDIMENSION",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "TAMMERCHANDISINGEVENTID",
														"type": "String"
													},
													"sink": {
														"name": "TAMMERCHANDISINGEVENTID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PDSREBATETYPE",
														"type": "String"
													},
													"sink": {
														"name": "PDSREBATETYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PDSREBATEAMTTYPE",
														"type": "Int32"
													},
													"sink": {
														"name": "PDSREBATEAMTTYPE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PDSPAYMTTYPE",
														"type": "Int32"
													},
													"sink": {
														"name": "PDSPAYMTTYPE",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PDSREBATESTATUS",
														"type": "Int32"
													},
													"sink": {
														"name": "PDSREBATESTATUS",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "PDSPROCESSDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "PDSPROCESSDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "REBATECALCDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "REBATECALCDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "PDSSTARTINGREBATEAMT",
														"type": "Decimal"
													},
													"sink": {
														"name": "PDSSTARTINGREBATEAMT",
														"type": "Int64"
													}
												},
												{
													"source": {
														"name": "MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICETRANS_DATAAREAID",
														"type": "String"
													},
													"sink": {
														"name": "CUSTINVOICETRANS_DATAAREAID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICETRANS_NUMBERSEQUENCEGROUP",
														"type": "String"
													},
													"sink": {
														"name": "CUSTINVOICETRANS_NUMBERSEQUENCEGROUP",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICETRANS_SALESID",
														"type": "String"
													},
													"sink": {
														"name": "CUSTINVOICETRANS_SALESID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICETRANS_INVOICEDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "CUSTINVOICETRANS_INVOICEDATE",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICETRANS_INVOICEID",
														"type": "String"
													},
													"sink": {
														"name": "CUSTINVOICETRANS_INVOICEID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICETRANS_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "CUSTINVOICETRANS_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICEJOUR_ORDERACCOUNT",
														"type": "String"
													},
													"sink": {
														"name": "CUSTINVOICEJOUR_ORDERACCOUNT",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CUSTINVOICEJOUR_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "CUSTINVOICEJOUR_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "TAMMERCHANDISINGEVENT_PROMOTIONID",
														"type": "String"
													},
													"sink": {
														"name": "TAMMERCHANDISINGEVENT_PROMOTIONID",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TAMMERCHANDISINGEVENT_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "TAMMERCHANDISINGEVENT_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_PDSREBATEAMTTYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE1_ENUMVALUELABEL_PDSREBATEAMTTYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_PDSPAYMTTYPE",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE2_ENUMVALUELABEL_PDSPAYMTTYPE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_PDSREBATESTATUS",
														"type": "String"
													},
													"sink": {
														"name": "TIMEXTENDERENUMTABLE3_ENUMVALUELABEL_PDSREBATESTATUS",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "LATEST_MODIFIEDDATETIME",
														"type": "DateTime"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_fabric_wh",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ds_snowflake",
											"type": "DatasetReference",
											"parameters": {
												"p_tgt_table_name": {
													"value": "@pipeline().parameters.p_tgt_raw_table_nm",
													"type": "Expression"
												},
												"p_tgt_schema_name": {
													"value": "@pipeline().parameters.p_tgt_raw_schema_nm",
													"type": "Expression"
												},
												"p_ls_DbName": {
													"value": "@pipeline().globalParameters.snow_rawDb",
													"type": "Expression"
												},
												"p_ls_Env": {
													"value": "@pipeline().globalParameters.environment",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "d365_raw_load_failure_notification",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "sql_to_raw_d365",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pp_adf_pipeline_notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"subscription": {
												"value": "@pipeline().globalParameters.subscriptionId",
												"type": "Expression"
											},
											"resourceGroup": {
												"value": "@pipeline().globalParameters.resourceGroup",
												"type": "Expression"
											},
											"runId": {
												"value": "@coalesce(pipeline().RunId, -1)",
												"type": "Expression"
											},
											"name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"triggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"status": {
												"value": "@activity('sql_to_raw_d365').Status",
												"type": "Expression"
											},
											"message": {
												"value": "@replace(replace(replace(activity('sql_to_raw_d365').Error['message'], '\\','\\\\'), '''', ''), '\"' , '')",
												"type": "Expression"
											},
											"executionEndTime": {
												"value": "@activity('sql_to_raw_d365').ExecutionEndTime",
												"type": "Expression"
											},
											"runDuration": {
												"value": "@activity('sql_to_raw_d365').Duration",
												"type": "Expression"
											},
											"teamWebhookUrl": {
												"value": "@pipeline().globalParameters.teamsWebhookUrl",
												"type": "Expression"
											},
											"notificationTime": {
												"value": "@utcNow()",
												"type": "Expression"
											},
											"taskName": "@pipeline().parameters.p_tgt_curate_table_nm",
											"taskStepNumber": {
												"value": "@pipeline().parameters.p_src_code",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "sql_d365_load_to_raw_fail",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "d365_raw_load_failure_notification",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@activity('sql_to_raw_d365').Error['message']",
											"type": "Expression"
										},
										"errorCode": "500"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "pipeline_execution_notification",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "raw_to_curate_sp_call",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(equals(activity('raw_to_curate_sp_call').output.resultSets[0].rows[0]['SP_TASK_INITIALIZE'],'TRUE'),bool('TRUE'), bool('FALSE'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "pp_stored_procedure_failure_notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pp_adf_pipeline_notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.subscriptionId",
										"type": "Expression"
									},
									"resourceGroup": {
										"value": "@pipeline().globalParameters.resourceGroup",
										"type": "Expression"
									},
									"runId": {
										"value": "@coalesce(pipeline().RunId, -1)",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"status": {
										"value": "@toUpper('failed')",
										"type": "Expression"
									},
									"message": {
										"value": "@activity('raw_to_curate_sp_call').output.resultSets[0].rows[0]['SP_TASK_INITIALIZE']",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@activity('raw_to_curate_sp_call').ExecutionEndTime",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@activity('raw_to_curate_sp_call').Duration",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "@pipeline().globalParameters.teamsWebhookUrl",
										"type": "Expression"
									},
									"notificationTime": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"taskName": {
										"value": "@pipeline().parameters.p_tgt_curate_table_nm",
										"type": "Expression"
									},
									"taskStepNumber": {
										"value": "@pipeline().parameters.p_src_code",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "curate_load_failure",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "pp_stored_procedure_failure_notification",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('raw_to_curate_sp_call').output.resultSets[0].rows[0]['SP_TASK_INITIALIZE']",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "stored_procedure_success_notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pp_adf_pipeline_notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.subscriptionId",
										"type": "Expression"
									},
									"resourceGroup": {
										"value": "@pipeline().globalParameters.resourceGroup",
										"type": "Expression"
									},
									"runId": {
										"value": "@coalesce(pipeline().RunId, -1)",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"status": {
										"value": "@activity('raw_to_curate_sp_call').Status",
										"type": "Expression"
									},
									"message": {
										"value": "@concat(pipeline().parameters.p_tgt_curate_table_nm, ' is successfully loaded')",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@activity('raw_to_curate_sp_call').ExecutionEndTime",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@activity('raw_to_curate_sp_call').Duration",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "@pipeline().globalParameters.teamsWebhookUrl",
										"type": "Expression"
									},
									"notificationTime": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"taskName": {
										"value": "@pipeline().parameters.p_tgt_curate_table_nm",
										"type": "Expression"
									},
									"taskStepNumber": {
										"value": "@pipeline().parameters.p_src_code",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_src_nm": {
				"type": "string",
				"defaultValue": "AXNALA"
			},
			"p_tgt_curate_table_nm": {
				"type": "string",
				"defaultValue": "FACT_REBATE_TRANSACTIONS"
			},
			"p_tgt_raw_table_nm": {
				"type": "string",
				"defaultValue": "PDSREBATETABLE"
			},
			"p_tgt_raw_schema_nm": {
				"type": "string",
				"defaultValue": "AX_NALA"
			},
			"p_tgt_curate_schema_nm": {
				"type": "string",
				"defaultValue": "GLOBAL"
			},
			"p_src_table_nm": {
				"type": "string",
				"defaultValue": "PDSREBATETABLE"
			},
			"p_src_schema_nm": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"p_src_code": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"v_prev_max_timestamp": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-04T13:47:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}